.row
  .col-md-12
    .panel.panel-default
      .panel-body
        .row
          .col-md-12
            %h4
              %b Minhas atualizações (#{current_cadastre.tickets.count})
        .row
          .col-md-12
            %table.table.table-striped.table-bordered
              %thead
                %tr
                  %th Protocolo
                  %th Data
                  %th Contexto
                  %th Situação
              %tbody.tbody-index
                - current_cadastre.tickets.each do |ticket|
                  %tr
                    %td= link_to ticket.presenter.protocol, ticket_path(ticket)
                    %td= ticket.created_at.strftime("%d/%m/%Y - %H:%M") rescue nil
                    %td= ticket.context.name.humanize rescue nil
                    %td= ticket.situation.name.humanize rescue nil