= simple_form_for @user do |f|
  
  .row
    .col-md-3
      - if current_user.administrator? 
        = f.input :cpf, placeholder: "Informe seu CNPJ", input_html: { disabled: true}
      - else
        = f.input :cnpj, placeholder: "Informe seu CNPJ", input_html: { disabled: true}
    .col-md-9
      = f.input :name, placeholder: "Informe o nome", input_html: { disabled: true}
  .row
    .col-md-3
      = f.input :email, placeholder: "Informe um e-mail", input_html: { disabled: true}
    .col-md-3
      = f.input :telephone, placeholder: "Informe o telefone", input_html: { disabled: true}
