.modal-header
  %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
    %span{"aria-hidden" => "true"} ×
  %h4#modal.modal-title Documentação

.modal-body

  %h4 Titular
  %table.table.table-striped.table-bordered 
    %thead
      %tr
        %th Nome
        %th Idade
        %th CID
    %tbody
      %tr
        %td= @ticket.cadastre.name.upcase
        %td= @ticket.cadastre.age
        %td= @ticket.cadastre.cid.blank? ? "Não informado" :  @ticket.cadastre.cid
  %h4 Dependentes
  %table.table.table-striped.table-bordered 
    %thead
      %tr
        %th Nome 
        %th Idade 
        %th CID 
    %tbody
      - if @ticket.cadastre.dependents.present?
        - @ticket.cadastre.dependents.each do |dependent|
          %tr
            %td= dependent.name.to_s.upcase
            %td= dependent.age
            %td= dependent.cid.blank? ? "Não informado" : dependent.cid
      - else
        %tr
          %td{colspan: 3}
            Nenhum dependente cadastrado
  
  %h4 Documentos
  %table.table.table-striped.table-bordered 
    %thead
      %tr
        %th Descrição
        %th Arquivo
        %th Ação
    %tbody
      - if @ticket.appraisal_documents.where(document_type_id: [17,5]).present?
        - @ticket.appraisal_documents.where(document_type_id: [17,5]).order(id: :asc).each do |document|
          %tr
            %td= document.document_type.name rescue nil
            %td.collapsing= link_to "Visualizar", "http://www.codhab.df.gov.br/uploads/attendance/document/#{document.attachment}", target: '_blank'
            %td.collapsing
              - if document.medical_validate
                = link_to "Válido", candidate.attendance_appraisal_appraisal_document_check_path(@ticket, document), remote: true, data: { disable_with: "processando..."}, class: 'btn btn-sm btn-success', title: "Alterar situação"
              - else
                = link_to "NÃO VÁLIDO", candidate.attendance_appraisal_appraisal_document_check_path(@ticket, document), remote: true, data: { disable_with: "processando..."}, class: 'btn btn-sm btn-default', title: "Alterar situação"
      - else
        %tr
          %td{colspan: 3}
            Nenhum laudo enviado