
.container{:style => "background: #ffffff"}
  .row
    .col-md-3
      .title.acesso_informacao
        Menu Carta de Serviços
      %ul.siderbar_acesso2
        %li.menu_acesso
          %a#l_habita.collapsed.title_menu_acesso.menu_acesso_info{"data-parent" => "#sidenav00", "data-target" => "#toggle8","acesso" => "menu_acesso_21" ,"data-toggle" => "collapse", :href => "http://www.codhab.df.gov.br/pagina/234"}
            %span
            1. Habita Brasília
        %li.menu_acesso
          %a#l_morar.collapsed.title_menu_acesso.menu_acesso_info{"data-parent" => "#sidenav00", "data-target" => "#toggle8","acesso" => "menu_acesso_21" ,"data-toggle" => "collapse", :href => "http://www.codhab.df.gov.br/pagina/235"}
            %span
            Morar Bem
        %li.menu_acesso
          %a#l_gerencia.collapsed.title_menu_acesso.menu_acesso_info{"data-parent" => "#sidenav00", "data-target" => "#toggle8","acesso" => "menu_acesso_21" ,"data-toggle" => "collapse", :href => "http://www.codhab.df.gov.br/pagina/236"}
            %span
            Gerência de Mobilização Social
        %li.menu_acesso
          %a#l_lote.collapsed.title_menu_acesso.menu_acesso_info{"data-parent" => "#sidenav00", "data-target" => "#toggle8","acesso" => "menu_acesso_21" ,"data-toggle" => "collapse", :href => "http://www.codhab.df.gov.br/pagina/238"}
            %span
            Lote Legal
        %li.menu_acesso
          %a#l_regularizacao.collapsed.title_menu_acesso.menu_acesso_info{"data-parent" => "#sidenav00", "data-target" => "#toggle8","acesso" => "menu_acesso_21" ,"data-toggle" => "collapse", :href => "http://www.codhab.df.gov.br/pagina/239"}
            %span
            Regularização
        %li.menu_acesso
          %a#l_medida.collapsed.title_menu_acesso.menu_acesso_info{"data-parent" => "#sidenav00", "data-target" => "#toggle8","acesso" => "menu_acesso_21" ,"data-toggle" => "collapse", :href => "http://www.codhab.df.gov.br/pagina/237"}
            %span
            Projeto na Medida
        %li.menu_acesso
          %a#l_assistencia.collapsed.title_menu_acesso.menu_acesso_info{"data-parent" => "#sidenav00", "data-target" => "#toggle8","acesso" => "menu_acesso_21" ,"data-toggle" => "collapse", :href => "http://www.codhab.df.gov.br/pagina/240"}
            %span
            Assistência Técnica
        %li.menu_acesso
          %a#l_portas.collapsed.title_menu_acesso.menu_acesso_info{"data-parent" => "#sidenav00", "data-target" => "#toggle8","acesso" => "menu_acesso_21" ,"data-toggle" => "collapse", :href => "http://www.codhab.df.gov.br/pagina/241"}
            %span
            Portas Abertas
        %li.menu_acesso
          %a#l_aluguel.collapsed.title_menu_acesso.menu_acesso_info{"data-parent" => "#sidenav00", "data-target" => "#toggle8","acesso" => "menu_acesso_21" ,"data-toggle" => "collapse", :href => "http://www.codhab.df.gov.br/pagina/242"}
            %span
            Aluguel Legal
        %li.menu_acesso
          %a#l_escritura.collapsed.title_menu_acesso.menu_acesso_info{"data-parent" => "#sidenav00", "data-target" => "#toggle8","acesso" => "menu_acesso_21" ,"data-toggle" => "collapse", :href => "http://www.codhab.df.gov.br/pagina/243"}
            %span
            2. Antiga SHIS
        %li.menu_acesso
          %a#l_ouvidoria.collapsed.title_menu_acesso.menu_acesso_info{"data-parent" => "#sidenav00", "data-target" => "#toggle8","acesso" => "menu_acesso_21" ,"data-toggle" => "collapse", :href => "http://www.codhab.df.gov.br/pagina/244"}
            %span
            3. Ouvidoria

    .col-md-9{style: "padding: 0px!important"}
      = image_tag "http://www.codhab.df.gov.br/uploads/archive/files/5bfbedb5656a0624298060772b856192.png",style: "width:100%"
  .row
    .col-md-12.margint50{style: "background-color:#4678bc!important"}
      %br
      %br
      %br
      .col-md-2.icon_home_habita
        %img{:alt => "icone_morarbem", :src => "http://www.codhab.df.gov.br/uploads/archive/files/e5f42f7270c0c9dcb72d1b5bac493ae4.png",:style =>"width:50%"}
        %h2{:style => "font-weight:bolder;font-size:22px;color:#fff!important"}
          Central 156
        %p{:style => 'color:#fff;'}
          = "Pelo telefone 156, o cidadão pode ter informações sobre habitação, regularização, escritura e a carteira imobiliária da antiga SHIS (Sociedade de Habitação de interesse Social). A Central 156 também é um canal para tirar dúvidas e obter orientações sobre os programas e serviços."
      .col-md-2.icon_home_habita
        %img{:alt => "icone_lotelegal", :src => "	http://www.codhab.df.gov.br/uploads/archive/files/eec1f8b9c48e48e79844f3e222078254.png",:style =>"width:50%"}
        %h2{:style => "font-weight:bolder;font-size:22px;color:#fff!important"}
          Facebook
        %p{:style => 'color:#fff;'}
          = "Na rede social da CODHAB, você acompanha, em tempo real, as ações da Companhia, como entrega de unidades habitacionais, lotes legais e escrituras, além de informações úteis sobre o programa de desenvolvimento habitacional do DF. Tudo em forma de posts, gifs, fotos e vídeos. "
      .col-md-2.icon_home_habita
        %img{:alt => "icone_escrituras", :src => "http://www.codhab.df.gov.br/uploads/archive/files/59de16726c7c8e3071abce453014bed2.png",:style =>"width:50%"}
        %h2{:style => "font-weight:bolder;font-size:22px;color:#fff!important"}
          Atendimento Especial
        %p{:style => 'color:#fff;'}
          = "A CODHAB disponibiliza um serviço especializado para pessoas com deficiência ou que possuam familiares com deficiência. O posto de atendimento está localizado na quadra 112, Asa Sul, na estação do metrô, das 8h às 17h, de segunda a sexta- -feira. O agendamento pode ser feito pelo telefone 156."
      .col-md-2.icon_home_habita
        %img{:alt => "icone_medida", :src => "http://www.codhab.df.gov.br/uploads/archive/files/51f50d569503f05d2ab2767cc56bee42.png",:style =>"width:50%"}
        %h2{:style => "font-weight:bolder;font-size:22px;color:#fff!important"}
          Ouvidoria
        %p{:style => 'color:#fff;'}
          = "A Ouvidoria é um espaço aberto ao cidadão para reivindicações, denúncias, sugestões e também elogios referentes aos diversos serviços disponíveis à população. Para registrar a sua manifestação, ligue 162 ou pelo atendimento presencial agendado CODHAB: 3214-1843 aacesse o endereço eletrônico: www.ouvidoria.df.gov.br"
      .col-md-2.icon_home_habita
        %img{:alt => "icone_portasabertas", :src => "http://www.codhab.df.gov.br/uploads/archive/files/880684e6fbb94eb6c1e27efd52eb6768.png",:style =>"width:50%"}
        %h2{:style => "font-weight:bolder;font-size:22px;color:#fff!important"}
          Site
        %p{:style => 'color:#fff;'}
          = "No portal da CODHAB você pode conferir as principais informações sobre as atividades da Companhia. Para saber mais sobre habitação, regularização, lista de habilitados individuais e de entidades, dúvidas frequentes, serviços, editais, concursos, legislações e notícias, acesse www.codhab.df.gov.br"
      .col-md-2.icon_home_habita
        %img{:alt => "icone_aluguellegal", :src => "http://www.codhab.df.gov.br/uploads/archive/files/5b8f66708dfbc0b7f69379695f0663bd.png",:style =>"width:50%"}
        %h2{:style => "font-weight:bolder;font-size:22px;color:#fff!important"}
          Aplicativo
        %p{:style => 'color:#fff;'}
          = "No portal da CODHAB você pode conferir as principais informações sobre as ativi- dades da Companhia. Para saber mais sobre habitação, regularização, lista de habilita- dos individuais e de entida- des, dúvidas frequentes, serviços, editais, concursos, legislações e notícias, acesse www.codhab.df.gov.br"
        %br

  .row
    .col-md-12.margint50
      .h3.title_projetos{style: "color:#4678bc!important"}
        Tópicos da Carta de Serviços CODHAB
  .row
    .slider_mongol2
      .bxslide.margint50{:style=>"height:578px"}
        .col-md-4
          = link_to image_tag("http://www.codhab.df.gov.br/uploads/archive/files/7b4cedf81f090a12f67573a0221328a9.png"), "http://www.codhab.df.gov.br/pagina/234"
          -# .span.title_action_thumb_mobi{style:'background-color: #81B4D0;!important'}
          -#   = link_to 'Programa Habita Brasília', 'event_path(event)'
          .span.descrption_action_thumb_mobi{:style => "margin-top:10px"}
            = 'Foi feito um planejamento integrado para que as novas moradias destinadas ao programa Habita Brasília sejam entregues '
            %b
              %a{:href => "http://www.codhab.df.gov.br/pagina/234",style: "color:#4678bc!important"} (veja mais...)

        .col-md-4
          = link_to image_tag("http://www.codhab.df.gov.br/uploads/archive/files/3fd9e987ee89370640114d53fdea72b0.png"), "http://www.codhab.df.gov.br/pagina/235"
          -# .span.title_action_thumb_mobi{style:'background-color: #4678BC!important'}
          -#   = link_to 'Morar Bem', 'event_path(event)'
          .span.descrption_action_thumb_mobi{:style => "margin-top:10px"}
            = 'O eixo Morar Bem, vinculado ao Programa Minha Casa, Minha Vida, do governo federal, tem transformado o sonho da casa própria em realidade.'
            %b
              %a{:href => "http://www.codhab.df.gov.br/pagina/235",style: "color:#4678bc!important"} (veja mais...)
        .col-md-4
          = link_to image_tag("http://www.codhab.df.gov.br/uploads/archive/files/0fbb8110fcf36364ab20d51b118914b2.png"), "http://www.codhab.df.gov.br/pagina/236"
          -# .span.title_action_thumb_mobi{:style => 'background-color:#C98295!important'}
          -#   = link_to 'Gerência de Mobilização Social', 'event_path(event)'
          .span.descrption_action_thumb_mobi{:style => "margin-top:10px"}
            = 'A Gerência de Mobilização Social (GEMOB) é responsável pela execução de trabalhos técnicos sociais da CODHAB.'
            %b
              %a{:href => "http://www.codhab.df.gov.br/pagina/236",style: "color:#4678bc!important"} (veja mais...)
        .col-md-4
          = link_to image_tag("http://www.codhab.df.gov.br/uploads/archive/files/0dfdf51071d13fd2f77b8109bfd322d9.png"), "http://www.codhab.df.gov.br/pagina/238"
          -# .span.title_action_thumb_mobi{:style => 'background-color:#E8A066!important'}
          -#   = link_to 'Lote Legal', 'event_path(event)'
          .span.descrption_action_thumb_mobi{:style => "margin-top:10px"}
            = 'Será feito um planejamento integrado para que as novas moradias destinadas ao programa Morar Bem sejam entregues'
            %b
              %a{:href => "http://www.codhab.df.gov.br/pagina/238",style: "color:#4678bc!important"} (veja mais...)
        .col-md-4
          = link_to image_tag("http://www.codhab.df.gov.br/uploads/archive/files/cf246a2df22fc01363afaeb41a2410c8.png"), "http://www.codhab.df.gov.br/pagina/239"
          -# .span.title_action_thumb_mobi{:style => 'background-color:#e08b4a!important'}
          -#   = link_to 'Regularização', 'event_path(event)'
          .span.descrption_action_thumb_mobi{:style => "margin-top:10px"}
            = 'O objetivo da regularização é auxiliar o processo de entregas de escrituras para as pessoas que moram em cidades já consolidadas'
            %b
              %a{:href => "http://www.codhab.df.gov.br/pagina/239",style: "color:#4678bc!important"} (veja mais...)
        .col-md-4
          = link_to image_tag("http://www.codhab.df.gov.br/uploads/archive/files/ca02d9b7d27b31cf97fe956355de68aa.png"), "http://www.codhab.df.gov.br/pagina/237"
          -# .span.title_action_thumb_mobi{:style => 'background-color:#F15B4D!important'}
          -#   = link_to 'Projeto na Medida', 'event_path(event)'
          .span.descrption_action_thumb_mobi{:style => "margin-top:10px"}
            = 'Será feito um planejamento integrado para que as novas moradias destinadas ao programa Morar Bem sejam entregues'
            %b
              %a{:href => "http://www.codhab.df.gov.br/pagina/237",style: "color:#4678bc!important"} (veja mais...)
        .col-md-4
          = link_to image_tag("http://www.codhab.df.gov.br/uploads/archive/files/bf7ea63b69d0129a4a2f6afa5cc40c9c.png"), "http://www.codhab.df.gov.br/pagina/240"
          -# .span.title_action_thumb_mobi{:style => 'background-color:#F47C68!important'}
          -#   = link_to 'Assistência Técnica', 'event_path(event)'
          .span.descrption_action_thumb_mobi{:style => "margin-top:10px"}
            = 'As ações da assistência técnica da CODHAB são destinadas a melhorias habitacionais e requalificação do espaço urbanos.'
            %b
              %a{:href => "http://www.codhab.df.gov.br/pagina/240",style: "color:#4678bc!important"} (veja mais...)
        .col-md-4
          = link_to image_tag("http://www.codhab.df.gov.br/uploads/archive/files/a051898e24ffb7de6e3d972296d1eea6.png"), "http://www.codhab.df.gov.br/pagina/241"
          -# .span.title_action_thumb_mobi{:style => 'background-color:#E9B880!important'}
          -#   = link_to 'Portas Abertas', 'event_path(event)'
          .span.descrption_action_thumb_mobi{:style => "margin-top:10px"}
            = 'O beneficiado pagará um valor menor pelo imóvel, e o empreendedor receberá essa diferença por meio da Terracap'
            %b
              %a{:href => "http://www.codhab.df.gov.br/pagina/241",style: "color:#4678bc!important"} (veja mais...)
        .col-md-4
          = link_to image_tag("http://www.codhab.df.gov.br/uploads/archive/files/ad40449186656d527c8f5b1e415c7901.png"), "http://www.codhab.df.gov.br/pagina/242"
          -# .span.title_action_thumb_mobi{:style => 'background-color:#AF8F7D!important'}
          -#   = link_to 'Aluguel Legal', 'event_path(event)'
          .span.descrption_action_thumb_mobi{:style => "margin-top:10px"}
            = 'A proposta do Aluguel Legal, inédita em Brasília, é que o governo construa edifícios mistos, com residências e comércios, e passe a gestão'
            %b
              %a{:href => "http://www.codhab.df.gov.br/pagina/242",style: "color:#4678bc!important"} (veja mais...)
        .col-md-4
          = link_to image_tag("http://www.codhab.df.gov.br/uploads/archive/files/de5a80c6f6d4b3c609ccdde0e3ea2e2a.png"), "http://www.codhab.df.gov.br/pagina/243"
          -# .span.title_action_thumb_mobi{:style => 'background-color:#BC9756!important'}
          -#   = link_to 'Carteira Imobiliária', 'event_path(event)'
          .span.descrption_action_thumb_mobi{:style => "margin-top:10px"}
            = 'A escritura da carteira imobiliária é o documento legal que garante a segurança jurídica dos imóveis da antiga SHIS ao morador.'
            %b
              %a{:href => "http://www.codhab.df.gov.br/pagina/243",style: "color:#4678bc!important"} (veja mais...)
        .col-md-4
          = link_to image_tag("http://www.codhab.df.gov.br/uploads/archive/files/b2eed3fa505d0c7fc55f03e12a200d16.png"), "http://www.codhab.df.gov.br/pagina/244"
          -# .span.title_action_thumb_mobi{:style => 'background-color:#FBAE31!important'}
          -#   = link_to 'Ouvidoria', 'event_path(event)'
          .span.descrption_action_thumb_mobi{:style => "margin-top:10px"}
            = 'A Ouvidoria é um espaço para a comunicação entre o cidadão e o Governo, e serve para que os cidadãos apresentem '
            %b
              %a{:href => "http://www.codhab.df.gov.br/pagina/244",style: "color:#4678bc!important"} (veja mais...)
    .row
      .col-md-12{:style => "text-align: center"}
        %a{:href => "http://www.codhab.df.gov.br/uploads/archive/files/db78bf64f0c413b098f62810451919a5.pdf", :target => "_blank"} Baixar ou visualizar em PDF
  %br
  %br
:css
  .menu_acesso>a {
    padding:5px;
  }
  .menu_acesso>a:hover {
    border:none!important;
  }
  .title.acesso_informacao{
    font-size: 24px;
    color:#4678bc!important;
  }
  .menu_acesso>a{
    font-weight: bold;
  }
  .menu_acesso{
    border-bottom: 1px solid #f3f3f3;
  }
  .menu_acesso>a:hover{
    color:#fff!important  ;
  }
  #l_habita{
    color:#81B4D0;

  }
  #l_habita:hover{
    background-color: #81B4D0!important
  }
  #l_morar{
    color:#4678BC;
    margin-left:10px;
  }
  #l_morar:hover{
    background-color: #4678BC!important
  }
  #l_gerencia{
    color:#C98295;
    margin-left:20px;
  }
  #l_gerencia:hover{
    background-color: #C98295!important
  }
  #l_lote{
    color:#E8A066;
    margin-left:10px;
  }
  #l_lote:hover{
    background-color: #E8A066!important
  }
  #l_regularizacao{
    color:#e08b4a;
    margin-left:20px;
  }
  #l_regularizacao:hover{
    background-color: #e08b4a!important
  }
  #l_medida{
    color:#F15B4D;
    margin-left:10px;
  }
  #l_medida:hover{
    background-color: #F15B4D!important
  }
  #l_assistencia{
    color:#F47C68;
    margin-left:20px;
  }
  #l_assistencia:hover{
    background-color: #F47C68!important
  }
  #l_portas{
    color:#E9B880;
    margin-left:10px;
  }
  #l_portas:hover{
    background-color: #E9B880!important
  }
  #l_aluguel{
    color:#AF8F7D;
    margin-left:10px;
  }
  #l_aluguel:hover{
    background-color: #AF8F7D!important
  }
  #l_escritura{
    color:#BC9756;

  }
  #l_escritura:hover{
    background-color: #BC9756!important
  }
  #l_ouvidoria{
    color:#FBAE31;
  }
  #l_ouvidoria:hover{
    background-color: #FBAE31!important
  }
