.row
  .col-md-12
    .panel.panel-default
      .panel-heading
        %h3 
          %b Editais - Concorrência
        %h4= link_to "Acessar área restrita", cpl_concurrence.new_session_path
      .panel-body
        
        %table.table.table-striped.table-bordered.table
          %thead
            %tr
              %th
                CONCORRÊNCIA #{@notice.number} - #{@notice.title.to_s.mb_chars.upcase}
              %th.collapsing= link_to "Participar do edital", cpl_concurrence.new_user_path
          %tbody
            %tr
              %td{colspan: 2}
                = @notice.content.html_safe
