.row.mini-margin
  .col-md-9.box
    .box_internal
      .post{:style => "color:#333333;"}
        .content_post
          %h1.post_title
            = @trade.name
          %p
            %span
              %b
                Data Inicial:
              = @trade.start_date.strftime('%d/%m/%Y')
          %p
            %span
              %b
                Data Final:
              = @trade.end_date.strftime('%d/%m/%Y')
          %p.post-post
            %h5
              %b
                Descrição do Pregão
            = @trade.description.html_safe

          = link_to 'Baixar Edital', new_trading_floor_participant_path(@trade.id), class:'btn btn-success'
          %br
          %br
          %br
          %br
          %a.button_back{"arial-label" => "back to top", :href => "#"} VOLTAR AO TOPO
  = render('layouts/portal/sidebar')
