.container.margint50
  .col-md-6.publicity
    = link_to image_tag("http://www.codhab.df.gov.br/portal/images/publicidade1.png",:style => "width:100%; "), "http://www.codhab.df.gov.br/habitabrasilia"
  -# - if Time.now < Date.parse('2018-07-04 00:00:00 -03:00')
  -#   .col-md-6.publicity2
  -#     = link_to image_tag("http://www.codhab.df.gov.br/portal/images/publicidade2.png",:style => "width:100%;"), "http://www.codhab.df.gov.br/acoesurbanas"
.container.margint50
  .blocobotoes
    .col-md-3.botoes4
      = link_to image_tag("http://www.codhab.df.gov.br/portal/images/ouvidoria.png",:style => "width:164px;margin-left:35px;margin-top:2px"), "http://www.codhab.df.gov.br/ouvidoria",:target => "_blank"
    .col-md-3.botoes1
      = link_to image_tag("http://www.codhab.df.gov.br/portal/images/sic.png"), "https://www.e-sic.df.gov.br/Sistema/",:target => "_blank"
    .col-md-3.botoes2
      = link_to image_tag("http://www.codhab.df.gov.br/portal/images/sinj.png", :style => "width:190px;margin-top:3px"), "http://www.sinj.df.gov.br/SINJ/Pesquisas.aspx",:target => "_blank"
    .col-md-3.botoes3
      = link_to image_tag("http://www.codhab.df.gov.br/portal/images/carta120.png", :style => "width:150px;margin-top:7px;"), "http://www.codhab.df.gov.br/cartadeservico/",:target => "_blank"
