- @company_users.order('id DESC').each do |user|
  %tr
    %td= user.id
    %td= user.name
    %td= user.username
    %td{style: 'width: 1%'}
      .btn-group
        %button.btn.btn-default.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
          Ações
          %span.caret
        %ul.dropdown-menu
          %li
            = link_to 'Editar', edit_company_user_path(user), remote: true
            = link_to 'Excluir', company_user_path(user), method: :delete, :data => { :confirm => t(:confirm) }
