.row
  .col-md-12
    .panel.panel-default
      .panel-heading
        = render 'layouts/cpl_concurrence/header'
      .panel-body
        .row
          .col-md-12
            = render 'layouts/cpl_concurrence/tabs'
        .row
          .col-md-12
            %table.table.table-striped.table-celled.table-bordered
              %thead
                %tr
                  %th Número
                  %th Edital
                  %th.collapsing Limite para participação
                  %th.collapsing Abertura da sessão
                  %th

              %tbody
                - @notices.each do |user_notice|
                  %tr
                    %td.collapsing= user_notice.notice.number
                    %td= user_notice.notice.title
                    %td.collapsing
                      #{user_notice.notice.session_start_date.strftime("%d/%m/%Y")} - #{user_notice.notice.session_start_hour.strftime("%H:%M")}
                    %td.collapsing
                      #{user_notice.notice.session_start_date.strftime("%d/%m/%Y")} - #{user_notice.notice.session_start_hour.strftime("%H:%M")}
                    %td.collapsing
                      = link_to "Detalhar", user_notice_participation_path(current_notice_user, user_notice), class: 'btn btn-success btn-xs'