.container{:style => "background: #ffffff"}
  .row
    .col-md-12
      .slider_tech.technical_slider
        .bxslide_action{:style => "margin-top:30px;height:400px;"}
          = image_tag '/portal/banners_site_01.png'
          -# = image_tag '/portal/s-20.png'
          -# = image_tag '/portal/s-21.png'
          -# = image_tag '/portal/s-22.png'
          -# = image_tag '/portal/s-23.png'
          -# = image_tag '/portal/s-24.png'
  .row
    .col-md-12
      %h2.tech_title
        %b
          postos de assistência técnica
  .row
    .col-md-12
      .col-md-6.tech_bloco_1
        %p
          As famílias de baixa renda, asseguradas pela lei
          federal nº 11.888/2008, têm direito à
          %b assistência técnica pública e gratuita
          de profissionais de arquitetura,
          urbanismo e engenharia
          %b para o projeto e a construção ou reforma de habitação de interesse social e o espaço urbano onde se insere.
        %p
          O objetivo fundamental é promover dignidade e
          qualidade à casa e ao espaço público, melhorando
          o déficit habitacional qualitativo e garantindo
          aspectos como
          %b salubridade, acessibilidade, sustentabilidade e segurança.
        %p
          Pioneira na prática imersiva no Brasil, desde abril
          de 2015, a Companhia de Desenvolvimento Habitacional
          do Distrito Federal (CODHAB-DF), enquanto
          entidade do poder público, implementa
          esta Lei de Assistência Técnica
          %b por meio de 10 escritórios de arquitetura e urbanismo dispersos pelo território do Distrito Federal,
          localizados nas comunidades mais pobres e com maior problemática fundiária de Brasília.
      .col-md-6.tech_bloco_1
        %p
          As equipes do Postos Avançados da CODHAB-DF
          trabalham diariamente oferecendo soluções técnicas
          para os problemas urbanos e de arquitetura,
          facilitando o atendimento à população e promovendo
          métodos participativos e democráticos
          para a gestão territorial. Cotidianamente, são recebidas
          demandas comunitárias e realizados
          atendimentos, promovendo informação e transparência.
        %p
          = image_tag('/portal/01.png')
  .row.margint50
    .col-md-12
      = image_tag('/portal/gif_postos.gif', :width => "100%")
  .row.tech_marg.margint50
    .col-md-6.tech_bloco_2
      .col-md-8
        = image_tag('/portal/2-station_posto.jpg')
      .col-md-4.off
        %h4
          %strong
            Sol Nascente Trecho 1
            %br
          %span
            (Ceilândia/DF)
        %p.opened
          aberto em abril/2015
        %h4.tech_contact2
          .block_infotmation
            = link_to "+informações", "http://www.codhab.df.gov.br/assistencia_tecnica/postos?station_id=2", target:'blank'
        %h4
          %strong
            Posto inativo
            %br
          %span
            de segunda a sexta de 9h a 17h
    .col-md-6.tech_bloco_2
      .col-md-4
        %h4
          %strong
            Estrutural
            %br
          %span
            (Estrutural/DF)
        %p.opened
          aberto em abril/2015
        %h4.tech_contact2
          .block_infotmation
            = link_to "+informações", "http://www.codhab.df.gov.br/assistencia_tecnica/postos?station_id=7", target:'blank'
        %h4
          %strong
            Posto ativo
            %br
          %span
            de segunda a sexta de 9h a 17h
      .col-md-8
        = image_tag('/portal/7-station_posto.jpg')
  .row.tech_marg
    .col-md-6.tech_bloco_2
      .col-md-8
        = image_tag('/portal/5-station_posto.jpg')
      .col-md-4
        %h4
          %strong
            Pôr do Sol
            %br
          %span
            (Ceilândia/DF)
        %p.opened
          aberto em setembro/2015
        %h4.tech_contact2
          .block_infotmation
            = link_to "+informações", "http://www.codhab.df.gov.br/assistencia_tecnica/postos?station_id=5", target:'blank'
        %h4
          %strong
            Posto ativo
            %br
          %span
            de segunda a sexta de 9h a 17h
    .col-md-6.tech_bloco_2
      .col-md-4.off
        %h4
          %strong
            QNR
            %br
          %span
            (Ceilândia/DF)
        %p.opened
          aberto em setembro/2015
        %h4.tech_contact2
          .block_infotmation
            = link_to "+informações", "http://www.codhab.df.gov.br/assistencia_tecnica/postos?station_id=4", target:'blank'
        %h4
          %strong
            Posto inativo
            %br
          %span
            desde março 2017
      .col-md-8
        = image_tag('/portal/4-station_posto.jpg')
  .row.tech_marg
    .col-md-6.tech_bloco_2
      .col-md-8
        = image_tag('/portal/9-station_posto.jpg')
      .col-md-4
        %h4
          %strong
            Porto Rico
            %br
          %span
            (Santa Maria/DF)
        %p.opened
          aberto em setembro/2015
        %h4.tech_contact2
          .block_infotmation
            = link_to "+informações", "http://www.codhab.df.gov.br/assistencia_tecnica/postos?station_id=9", target:'blank'
        %h4
          %strong
            Posto ativo
            %br
          %span
            de segunda a sexta de 9h a 17h
    .col-md-6.tech_bloco_2
      .col-md-4
        %h4
          %strong
            Vila Cauhy
            %br
          %span
            (Núcleo Bandeirante/DF)
        %p.opened
          aberto em janeiro/2016
        %h4.tech_contact2
          .block_infotmation
            = link_to "+informações", "http://www.codhab.df.gov.br/assistencia_tecnica/postos?station_id=6", target:'blank'
        %h4
          %strong
            Posto ativo
            %br
          %span
            de segunda a sexta de 9h a 17h
      .col-md-8
        = image_tag('/portal/6-station_posto.jpg')
  .row.tech_marg
    .col-md-6.tech_bloco_2
      .col-md-8
        = image_tag('/portal/16-station_posto.jpg')
      .col-md-4.off
        %h4
          %strong
            Buritizinho
            %br
          %span
            (Sobradinho/DF)
        %p.opened
          aberto em março/2016
        %h4.tech_contact2
          .block_infotmation
            = link_to "+informações", "http://www.codhab.df.gov.br/assistencia_tecnica/postos?station_id=16", target:'blank'
        %h4
          %strong
            Posto inativo
            %br
          %span
            desde outubro 2016
    .col-md-6.tech_bloco_2
      .col-md-4
        %h4
          %strong
            Fercal
            %br
          %span
            (Fercal/DF)
        %p.opened
          aberto em março/2016
        %h4.tech_contact2
          .block_infotmation
            = link_to "+informações", "http://www.codhab.df.gov.br/assistencia_tecnica/postos?station_id=11", target:'blank'
        %h4
          %strong
            Posto ativo
            %br
          %span
            de segunda a sexta de 9h a 17h
      .col-md-8
        = image_tag('/portal/11-station_posto.jpg')
  .row.tech_marg
    .col-md-6.tech_bloco_2
      .col-md-8
        = image_tag('/portal/8-station_posto.jpg')
      .col-md-4
        %h4
          %strong
            Brazlândia
            %br
          %span
            (Brazlândia/DF)
        %p.opened
          aberto em abril/2016
        %h4.tech_contact2
          .block_infotmation
            = link_to "+informações", "http://www.codhab.df.gov.br/assistencia_tecnica/postos?station_id=8", target:'blank'
        %h4
          %strong
            Posto ativo
            %br
          %span
            de segunda a sexta de 9h a 17h
    .col-md-6.tech_bloco_2
      .col-md-4
        %h4
          %strong
            São Sebastião
            %br
          %span
            (São Sebastião/DF)
        %p.opened
          aberto em abril/2016
        %h4.tech_contact2
          .block_infotmation
            = link_to "+informações", "http://www.codhab.df.gov.br/assistencia_tecnica/postos?station_id=10", target:'blank'
        %h4
          %strong
            Posto ativo
            %br
          %span
            de segunda a sexta de 9h a 17h
      .col-md-8
        = image_tag('/portal/10-station_posto.jpg')
  .row.tech_marg
    .col-md-6.tech_bloco_2
      .col-md-8
        = image_tag('/portal/3-station_posto.jpg')
      .col-md-4
        %h4
          %strong
            Sol Nascente Trecho 2
            %br
          %span
            (Ceilândia/DF)
        %p.opened
          aberto em outubro/2016
        %h4.tech_contact2
          .block_infotmation
            = link_to "+informações", "http://www.codhab.df.gov.br/assistencia_tecnica/postos?station_id=3", target:'blank'
        %h4
          %strong
            Posto ativo
            %br
          %span
            de segunda a sexta de 9h a 17h
    .col-md-6.tech_bloco_2
      .col-md-4
        %h4
          %strong
            Sol Nascente Trecho 3
            %br
          %span
            (Ceilândia/DF)
        %p.opened
          aberto em março/2017
        %h4.tech_contact2
          .block_infotmation
            = link_to "+informações", "http://www.codhab.df.gov.br/assistencia_tecnica/postos?station_id=15", target:'blank'
        %h4
          %strong
            Posto ativo
            %br
          %span
            de segunda a sexta de 9h a 17h
      .col-md-8
        = image_tag('/portal/15-station_posto.jpg')
  .row.tech_marg
    .col-md-6.tech_bloco_2
      .col-md-8
        = image_tag('/portal/17-station_posto.jpg')
      .col-md-4
        %h4
          %strong
            Itapoã
            %br
          %span
            (Itapoã/DF)
        %p.opened
          aberto em abril/2018
        %h4.tech_contact2
          .block_infotmation
            = link_to("+informações", "http://www.codhab.df.gov.br/assistencia_tecnica/postos?station_id=17", target:'blank')
        %h4
          %strong
            Posto ativo
            %br
          %span
            de segunda a sexta de 9h a 17h
  -# .row
  -#   .col-md-12
  -#     %h2.tech_title
  -#       %b
  -#         principais atividades
  -# .row
  -#   .col-md-12
  -#     .col-md-4.tech_bloco_3
  -#       = image_tag('/portal/acompanhamento.jpg', style:'height: 253px;')
  -#     .col-md-8.tech_bloco_3
  -#       %div
  -#         %h3
  -#           ACOMPANHAMENTO DE OBRAS DE URBANIZAÇÃO
  -#       %p
  -#         Acompanhamento de obras de infraestrutura urbana e de construção
  -#         de novas unidades habitacionais (de acordo com os projetos de
  -#         regularização aprovados) são atividades complementares realizadas
  -#         pelos Postos de Assistência Técnica, visando a qualificação dos
  -#         espaços públicos, arborização urbana e a promoção de soluções para
  -#         potencializar o transporte público e garantir a segurança de pedestres
  -#         e ciclistas.
  -# .row
  -#   .col-md-12
  -#     .col-md-8.tech_bloco_3.inverse
  -#       %div
  -#         %h3
  -#           DESENVOLVIMENTO DE PROJETOS
  -#           %br
  -#           PERSONALIZADOS DE ARQUITETURA
  -#       %p
  -#         Seguindo o eixo Projeto na Medida, do programa habitacional do
  -#         Distrito Federal, Habita Brasília, os Postos de Assistência Técnica
  -#         desenvolvem projetos de arquitetura e engenharia gratuitamente para
  -#         as famílias de baixa renda, propondo soluções técnicas para qualificar
  -#         a habitação. Com o projeto em mãos, a comunidade pode executar
  -#         suas obras com o planejamento adequado de suas etapas, de modo a
  -#         economizar e a adequar suas moradias com qualidade, segurança e
  -#         salubridade.
  -#     .col-md-4.tech_bloco_3
  -#       = image_tag('/portal/projeto.jpg', style:'height:279px;')
  -# .row
  -#   .col-md-12
  -#     .col-md-4.tech_bloco_3
  -#       = image_tag('/portal/melhorias.jpg', style:'height:253px;')
  -#     .col-md-8.tech_bloco_3
  -#       %div
  -#         %h3
  -#           MELHORIAS HABITACIONAIS
  -#       %p
  -#         A gestão e fiscalização do programa
  -#         %b
  -#           = link_to "Melhorias Habitacionais", "http://www.codhab.df.gov.br/assistencia_tecnica/melhorias_habitacionais", target: "_blank"
  -#         fica a cargo da equipe do Posto de Assistência Técnica,
  -#         que fiscaliza o serviço prestado pela empresa licitada,
  -#         acompanhando o trabalho de assistência social, o desenvolvimento dos projetos
  -#         e orçamentos e a execução das obras de reforma. Atualmente o programa acontece
  -#         em 4 comunidades do DF, combatendo o déficit habitacional decorrente
  -#         da precariedade das moradias.
  -# .row
  -#   .col-md-12
  -#     .col-md-8.tech_bloco_3.inverse
  -#       %div
  -#         %h3
  -#           URBANISMO DE IMERSÃO
  -#       %p
  -#         Imersos nas comunidades, em contato com os problemas urbanos, as
  -#         equipes dos Postos de Assistência Técnica em Arquitetura e
  -#         Urbanismo são capazes de perceber situações específicas das
  -#         localidades e eventualmente atualizar alguns projetos urbanísticos de
  -#         acordo com suas realidades. Nesse sentido, é possível existir um canal
  -#         aberto de comunicação com a comunidade, facilitando o entendimento
  -#         sobre conflitos fundiários e ocupação em áreas de proteção ambiental,
  -#         além do cuidado com as desocupações necessárias ao processo de
  -#         urbanização.
  -#     .col-md-4.tech_bloco_3
  -#       = image_tag('/portal/imersao.jpg', style:'height: 253px;')
  -# .row
  -#   .col-md-12
  -#     .col-md-4.tech_bloco_3
  -#       = image_tag('/portal/acoes_urbanas.jpg', style:'height: 253px;')
  -#     .col-md-8.tech_bloco_3
  -#       %div
  -#         %h3
  -#           AÇÕES URBANAS COMUNITÁRIAS
  -#       %p
  -#         Com o objetivo de ocupar os vazios urbanos das Áreas de
  -#         regularização de Interesse Social, as
  -#         %b
  -#           = link_to "Ações Urbanas Comunitárias", "http://www.codhab.df.gov.br/acoesurbanas" , target: "_blank"
  -#         promovem a transformação coletiva em áreas com potencial de uso
  -#         público. Em formato de mutirões participativos, as ações acontecem
  -#         nos seguintes eixos: revitalização de fachadas, galeria de arte urbana,
  -#         mobiliário urbano com material reciclado, arborização urbana e plantio
  -#         de hortas e jardins.
  -# .row
  -#   .col-md-12
  -#     .col-md-8.tech_bloco_3.inverse
  -#       %div
  -#         %h3
  -#           ATENDIMENTO AO PÚBLICO
  -#       %p
  -#         Cada Posto de Assistência Técnica em Arquitetura e Urbanismo possui
  -#         uma equipe específica de
  -#         %b
  -#           = link_to "atendimento ao cidadão", "http://www.codhab.df.gov.br/mobilizacao_social", target: "_blank"
  -#         , pronta para
  -#         esclarecer dúvidas acerca de regularização fundiária, situação
  -#         cadastral em programas habitacionais do governo e outras questões.
  -#     .col-md-4.tech_bloco_3
  -#       = image_tag('/portal/atendimento.jpg',style:'height:253px')
  -# .row
  -#   .col-md-12
  -#     %h2.tech_title
  -#       %b
  -#         equipe
  -# .row
  -#   .col-md-12.margint50
  -#     = image_tag('/portal/16.jpg',style:'width:100%')
  -# .row.margint50
  -#   .col-md-12
  -#     #map
  -#       %iframe{:src => "https://www.google.com/maps/d/embed?mid=1yFxEMyRBUNR496HgVBXVV7hiN2tUnibf", :width => "100%",:height => "480", }
  -# .row
  -#   .col-md-12
  -#     %h2.tech_title
  -#       %b
  -#         conheça os programas
  -# .row
  -#   %br
  -#   .col-md-6
  -#     = link_to image_tag('/portal/botao-1.jpg',style:'width:100%'), "http://www.codhab.df.gov.br/assistencia_tecnica/melhorias_habitacionais",:target => "_blank"
  -#   .col-md-6
  -#     = link_to image_tag("/portal/botao-2.jpg",style:'width:100%'), "http://www.codhab.df.gov.br/acoesurbanas",:target => "_blank"
