.container{:style => "background: #ffffff"}
  .row
    .col-md-12
      .slider_tech.technical_slider
        .bxslide_action{:style => "margin-top:30px;height:400px;"}
          = image_tag '/portal/m-20.jpg'
          = image_tag '/portal/m-21.jpg'
          = image_tag '/portal/m-22.jpg'
          = image_tag '/portal/m-23.jpg'
          = image_tag '/portal/m-24.jpg'
  .row
    #programa.col-md-12
      %h2.tech_title
        %b
          o programa
  .row
    .col-md-12
      .tech_bloco_4
        .col-md-6
          %p
            As famílias de baixa renda, asseguradas pela lei
            federal nº 11.888/2008, têm direito, hoje, à
            %b
              assistência técnica pública e gratuita
            de profissionais
            de arquitetura, urbanismo e engenharia
            %b
              para o projeto e a construção de habitação de interesse social.
            O objetivo fundamental é promover dignidade
            e qualidade à casa e ao espaço público, alcançando
            aspectos de
            %b
              salubridade, acessibilidade e segurança.
        .col-md-6
          %p
            %b
              Melhorias Habitacionais
            é um dos programas
            promovidos pela CODHAB/DF como implementação
            da assistência técnica no Distrito Federal.
            Vinculado ao eixo Projeto Na Medida, do Habita
            Brasília, programa habitacional do DF, o programa
            consiste em oferecer à população de baixa
            renda
            %b
              projetos e obras de reformas residenciais no valor máximo de R$13.500,00.
        .col-md-4
          .col-md-9.tech_button
            editais de licitação
            %br
            = link_to('2016','http://www.codhab.df.gov.br/uploads/archive/files/26e0ace026965ab8860c54d65918a7b9.pdf',target:'blank')
            |
            = link_to('2018','http://www.codhab.df.gov.br/pagina/247#8', target:'blank')
          .col-md-9.tech_button
            editais de credenciamento
            %br
            = link_to('2016/17','http://www.codhab.df.gov.br/pagina/252',target:'blank')
            |
            = link_to('2018','http://www.codhab.df.gov.br/pagina/253',target:'blank')
          .col-md-9.tech_button
            etapas do programa
            %br
            = link_to('projeto','	http://www.codhab.df.gov.br/uploads/archive/files/423ee1118cda5ba1d77aca53697b7909.jpg',target:'blank')
            |
            = link_to('obra','http://www.codhab.df.gov.br/uploads/archive/files/45a0d7460cc1b696ae3475dde0703f7e.jpg',target:'blank')
        .col-md-8
          = image_tag('/portal/12.png',style:'width:90%')
  .row
    .col-md-12.margint50
      %h2.tech_title
        %b
          legislação
  .row
    .col-md-12
      .tech_bloco_5
        .col-md-4
          .tech_button_2
            %a{href:'http://www.codhab.df.gov.br/uploads/archive/files/8d615c3462b583bb444fcf6675b8dcab.pdf',target:'blank'}
              %b
                lei federal
                %br
              de assistência técnica
        .col-md-4
          .tech_button_2
            %a{href:'	http://www.codhab.df.gov.br/uploads/archive/files/caa4b296ccaeef576eb22bc123d65c0a.pdf',target:'blank'}
              %b
                lei distrital
                %br
              de assistência técnica
        .col-md-4
          .tech_button_2
            %a{href:'http://www.codhab.df.gov.br/uploads/archive/files/470a163b653e3df800660ee4f2fcc743.pdf',target:'blank'}
              %b
                programa
                %br
              Habita Brasília
        -# .col-md-4
        -#   .tech_button_2
        -#     %a{href:'http://www.codhab.df.gov.br/uploads/archive/files/7a93a69489b14469917f9d160c770344.pdf',target:'blank'}
        -#       %b
        -#         implementação
        -#         %br
        -#       diretoria de assistência técnica
        .col-md-4
          .tech_button_2
            %a{href:'http://www.codhab.df.gov.br/uploads/archive/files/429ab57d5a497454a4c3cf472668362a.pdf',target:'blank'}
              %b
                programa de trabalho
                %br
              melhorias habitacionais
        .col-md-4
          .tech_button_2
            %a{href:'http://www.codhab.df.gov.br/uploads/archive/files/7f94125811c70e0857929ce407123537.pdf',target:'blank'}
              %b
                aplicação de recurso
                %br
              inicial | vigente
        .row
          .col-md-12.margint50
            = image_tag('/portal/17.png',style:'width:100%')
  .row
    #feito.col-md-12.margint50
      %h2.tech_title
        %b
          o que pode ser feito?
  .row
    .col-md-12
      = image_tag('/portal/13-n.png',style:'width:100%')
  .row
    .col-md-12.margint50
      %h2.tech_title
        %b
          requisitos para participar
  .row
    .col-md-12
      = image_tag('/portal/18.png',style:'width:100%')

  .row
    .col-md-12.margint50
      %h2.tech_title
        %b
          mapa - melhorias habitacionais
  .row
    .col-md-12
  .row
    .col-md-12
      #map
        %iframe{:src => "https://www.google.com/maps/d/embed?mid=1m48WYCRT_eBVBZquzq-kNuYBo82KUIVz&z=10&ll=-15.738048532438713%2C-47.936472526184104", :width => "100%",:height => "480", }
  .row
    .col-md-12.margint50
      %h2.tech_title
        %b
          Candidatos - Edital 2016/17
  .row
    .col-md-12
      .tech_bloco_7
        .col-md-4
          .tech_button_2
            %a{href:'http://www.codhab.df.gov.br/assistencia_tecnica/sol_nascente',target:'blank'}
              %b
                Sol Nascente
                %br
              Ceilândia/DF
        .col-md-4
          .tech_button_2
            %a{href:'	http://www.codhab.df.gov.br/assistencia_tecnica/candidatos?station_id=4',target:'blank'}
              %b
                QNR
                %br
              Ceilândia/DF
        .col-md-4
          .tech_button_2
            %a{href:'http://www.codhab.df.gov.br/assistencia_tecnica/candidatos?station_id=9',target:'blank'}
              %b
                Porto Rico
                %br
              Santa Maria/DF
        -# .col-md-4
        -#   .tech_button_2
        -#     %a{href:'http://www.codhab.df.gov.br/uploads/archive/files/7a93a69489b14469917f9d160c770344.pdf',target:'blank'}
        -#       %b
        -#         implementação
        -#         %br
        -#       diretoria de assistência técnica
        .col-md-4
          .tech_button_2
            %a{href:'http://www.codhab.df.gov.br/assistencia_tecnica/candidatos?station_id=11',target:'blank'}
              %b
                Fercal
                %br
              Fercal/DF
        .col-md-4
          .tech_button_2
            %a{href:'http://www.codhab.df.gov.br/assistencia_tecnica/candidatos?station_id=7',target:'blank'}
              %b
                Estrutural
                %br
              Estrutural/DF
  .row
    .col-md-12.margint50
      %h2.tech_title
        %b
          dados gerais
  .row
    .col-md-12
      = image_tag('/portal/15-n.png',style:'width:100%')

  .row
    .col-md-12.margint50
      %h2.tech_title
        %b
          beneficiários do programa
  .row
    .col-md-6
      .slider_tech_mov.technical_slider
        .bxslide_action
          %iframe{:allow => "autoplay; encrypted-media", :allowfullscreen => "", :frameborder => "0", :height => "412", :src => "https://www.youtube.com/embed/cFjAWK2vO9Y", :width => "560"}
          %iframe{:allow => "autoplay; encrypted-media", :allowfullscreen => "", :frameborder => "0", :height => "412", :src => "https://www.youtube.com/embed/3CRh4ZDtMUg", :width => "560"}
    .col-md-6
      .slider_tech_mov.technical_slider
        .bxslide_action
          = image_tag('/portal/luiza-rosa-1.png',style:'width:100%', :height => "412")
          = image_tag('/portal/luiza-rosa-2.png',style:'width:100%', :height => "412")
          = image_tag('/portal/luiza-rosa-3.png',style:'width:100%', :height => "412")
          = image_tag('/portal/luiza-rosa-4.png',style:'width:100%', :height => "412")
          = image_tag('/portal/luiza-rosa-5.png',style:'width:100%', :height => "412")

  .row
    #participar.col-md-12
      %h2.tech_title
        %b
          como participar?
  .row
    .col-md-12
      .tech_bloco_6
        .col-md-6
          Para participar do programa Melhorias
          Habitacionais, os interessados devem
          seguir os critérios de seleção e solicitar
          cadastro no Posto de Assistência Técnica
          de sua localidade.
        .col-md-6
          .tech_button_3
            = link_to('Entenda as Etapas','http://www.codhab.df.gov.br/uploads/archive/files/2bf3cb17d78836c4f2ee0f6fb7b82093.pdf', target:'blank')
        = image_tag('/portal/19.jpg',style:'width:100%')
