.container{:style => "background: #ffffff"}
  .row
    .col-md-12
      .slider_tech.technical_slider
        .bxslide_action{:style => "margin-top:30px;height:400px;"}
          = image_tag '/portal/s-20.png'
          = image_tag '/portal/s-21.png'
          = image_tag '/portal/s-22.png'
          = image_tag '/portal/s-23.png'
          = image_tag '/portal/s-24.png'
  .row
    .col-md-12
      %h1
        %b
          = image_tag "/portal/#{@station.id}-station_posto.jpg", style:'width:100%'
  .row
    .col-md-12.tech_bloco_2
      .col-md-8.center{:style => "width: 100%; margin-top: 20;"}
        %h2{:style => "color: #fff"}
          %b
            = @station.name
            %br
            = "(#{@station.city_id}/DF)"
        %p.opened2
          = @station.date_open
        %h4
          %b
            = @station.status ? "Posto Ativo" : "Posto Inativo"
            %br
          = @station.schedule
        %h4
          %b
            Endereço
            %br
          = @station.address
  .row
    .col-md-6.margint50
      .block_station
        .text_station
          %h1
            %b
              assistência técnica
          %br
          -if @member_resp_1.present?
            - @member_resp_1.each do |resp|
              %tr
                %td
                  %b{:style => "font-size: 24px;"}
                    - attendant = resp.staff.name.to_s
                    - attendant = attendant.split(' ')
                    = resp.formation? ? 'Eng.' : 'Aqu.'
                    = attendant.first.capitalize
                    = attendant.last.capitalize
                %br
                %td= "#{resp.formation? ? 'CREA:' : 'CAU:'} #{resp.crea}"
              %br
          -if @member_esta_1.present?
            %h3
              %b
                Estágiarios
            - @member_esta_1.each do |esta|
              %tr
                %td
                  - attendant = esta.staff.name.to_s
                  - attendant = attendant.split(' ')
                  = attendant.first.capitalize
                  = attendant.last.capitalize
                  ="(#{esta.formation? ? 'Eng.' : 'Aqu.'})"
              %br
          -if @member_volu_1.present?
            %h3
              %b
                Voluntários
            - @member_volu_1.each do |volu|
              %tr
                %td
                  %b
                    - attendant = volu.staff.name.to_s
                    - attendant = attendant.split(' ')
                    = volu.formation? ? 'Eng.' : 'Aqu.'
                    = attendant.first.capitalize
                    = attendant.last.capitalize
                %td= "#{volu.formation? ? 'CREA:' : 'CAU:'} #{volu.crea} | #{volu.date_service}"
              %br
          -if @member_coor_1.present?
            %h3
              %b
                Coordenação Anterior
            - @member_coor_1.each do |coor|
              %tr
                %td
                  %b
                    - attendant = coor.staff.name.to_s
                    - attendant = attendant.split(' ')
                    = coor.formation? ? 'Eng.' : 'Aqu.'
                    = attendant.first.capitalize
                    = attendant.last.capitalize
                %br
                %td= "#{coor.formation? ? 'CREA:' : 'CAU:'} #{coor.crea} | #{coor.date_service}"
              %br
    .col-md-6.margint50
      .block_station
        .text_station
          %h1
            %b
              regularização fundiária
          %br
          -if @member_resp_2.present?
            - @member_resp_2.each do |resp|
              %tr
                %td
                  %b{:style => "font-size: 24px;"}
                    - attendant = resp.staff.name.to_s
                    - attendant = attendant.split(' ')
                    = resp.formation? ? 'Eng.' : 'Aqu.'
                    = attendant.first.capitalize
                    = attendant.last.capitalize
                %br
                %td= "#{resp.formation? ? 'CREA:' : 'CAU:'} #{resp.crea}"
              %br
          -if @member_esta_2.present?
            %h3
              %b
                Estágiarios
            - @member_esta_2.each do |esta|
              %tr
                %td
                  - attendant = esta.staff.name.to_s
                  - attendant = attendant.split(' ')
                  = attendant.first.capitalize
                  = attendant.last.capitalize
                  ="(#{esta.formation? ? 'Eng.' : 'Aqu.'})"
              %br
          -if @member_volu_2.present?
            %h3
              %b
                Voluntários
            - @member_volu_2.each do |volu|
              %tr
                %td
                  %b
                    - attendant = volu.staff.name.to_s
                    - attendant = attendant.split(' ')
                    = volu.formation? ? 'Eng.' : 'Aqu.'
                    = attendant.first.capitalize
                    = attendant.last.capitalize
                %td= "#{volu.formation? ? 'CREA:' : 'CAU:'} #{volu.crea} | #{volu.date_service}"
              %br
          -if @member_coor_2.present?
            %h3
              %b
                Coordenação Anterior
            - @member_coor_2.each do |coor|
              %tr
                %td
                  %b
                    - attendant = coor.staff.name.to_s
                    - attendant = attendant.split(' ')
                    = coor.formation? ? 'Eng.' : 'Aqu.'
                    = attendant.first.capitalize
                    = attendant.last.capitalize
                %br
                %td= "#{coor.formation? ? 'CREA:' : 'CAU:'} #{coor.crea} | #{coor.date_service}"
              %br
  .row.margint50
    .col-md-12
      #map
        %iframe{:src => "https://www.google.com/maps/d/embed?mid=1yFxEMyRBUNR496HgVBXVV7hiN2tUnibf", :width => "100%",:height => "480", }
