- @competition.competition_users.order(value: :asc).each_with_index do |comp_user, index|
  %tr
    %td= index + 1
    %td= comp_user.user.cnpj
    %td.collapsing= comp_user.competition_user_credentials.where(deleted: false).last.regime_type
    %td.collapsing
      = link_to "Abrir", cpl_competition.competition_user_credential_path(@competition, comp_user, comp_user), remote: true, data: {disable_with: "Carregando..."}
    %td.collapsing
      = link_to "Abrir", cpl_competition.competition_user_document_path(@competition, comp_user, comp_user), remote: true, data: {disable_with: "Carregando..."}
    %td.collapsing
      = link_to "Abrir", cpl_competition.competition_user_proposal_path(@competition, comp_user, comp_user), remote: true, data: {disable_with: "Carregando..."}
    %td.collapsing
      - if current_user.administrator?
        - if comp_user.value.present?
          %b= link_to "R$ #{comp_user.value}", cpl_competition.edit_competition_user_path(@competition, comp_user), remote: true
        - else
          %b= link_to "Adicionar valor", cpl_competition.edit_competition_user_path(@competition, comp_user), remote: true
      - else
        - if comp_user.value.present?
          R$ #{comp_user.value}
        - else
          %i Sem valor definido