- if @competition.competition_users.present?
  - @competition.competition_users.order(value: :asc).each_with_index do |comp_user, index|
    %tr
      %td #{comp_user.user.name}(#{comp_user.competition_user_credentials.where(deleted: false).last.regime_type})
      %td= comp_user.user.cnpj
      %td= comp_user.competition_user_credentials.where(deleted: false).last.name
      %td= comp_user.competition_user_credentials.where(deleted: false).last.cpf
      %td.collapsing
        = link_to "Abrir", cpl_competition.competition_user_credential_path(@competition, comp_user, comp_user), remote: true, data: {disable_with: "Carregando..."}
      %td.collapsing
        = link_to "Abrir", cpl_competition.competition_user_document_path(@competition, comp_user, comp_user), remote: true, data: {disable_with: "Carregando..."}
      %td.collapsing
        = link_to "Abrir", cpl_competition.competition_user_proposal_path(@competition, comp_user, comp_user), remote: true, data: {disable_with: "Carregando..."}
      %td.collapsing
        - if current_user.administrator?
          - if comp_user.value.present?
            %b= link_to "R$ #{number_to_currency(comp_user.value)}", cpl_competition.edit_competition_user_path(@competition, comp_user), remote: true
          - else
            %b= link_to "Adicionar valor", cpl_competition.edit_competition_user_path(@competition, comp_user), remote: true
        - else
          - if comp_user.value.present?
            = number_to_currency comp_user.value, precision: 2
          - else
            %i Sem valor definido
- else
  %tr
    %td{colspan: 7}
      %i Nenhum participante encontrado.