.row
  .col-md-12
    %h5
      %b= @competition.title
    = link_to "Retornar para editais", cpl_competition.competitions_path, data: { disable_with: 'aguarde...'}
%hr/
.row
  .col-md-12
    %table.table.table-celled.table-bordered
      %thead
        %tr 
          %th.text-center
            = image_tag 'http://www.codhab.df.gov.br/portal/images/codhab_footer.png'
      %tbody
        %tr
          %td= @competition.document_introduce.html_safe
.row
  .col-md-12
    .card
      .card-body
        %h5.text-center
          %b PARTICIPANTES
        %br/
        %table.table.table-celled.table-bordered
          %thead
            %tr 
              %th EMPRESA
              %th CNPJ
              %th REPRESENTANTE
              %th CPF
              %th.collapsing CRED
              %th.collapsing ENV 2
              %th.collapsing ENV 1
              %th.collapsing VALOR
          %tbody.participation-index
            = render 'participation'


.mt-4
.row
  .col-md-12
    .card
      .card-body
        %h5.text-center
          %b CHAT  
        %br/
        %table.table.table-celled.table-bordered
          %thead
            %tr 
              %th DATA/HORA
              %th USUÁRIO
              %th CONTEÚDO
          %tbody.chat-index
            = render 'cpl_competition/competition_chats/index'
        
        - if current_user.administrator?
          = render 'cpl_competition/competition_chats/form'
.mt-4
.row
  .col-md-12
    .card
      .card-body
        %h5.text-center
          %b RECURSOS 
        %br/
        %table.table.table-celled.table-bordered
          %thead
            %tr 
              %th DATA/HORA
              %th CNPJ
              %th DESCRIÇÃO

          %tbody
            %tr
              %td{colspan: 3}
                %i Nenhum recurso registrado. 
.mt-4
.row
  .col-md-12
    .card
      .card-body
        %h5.text-center
          %b EVENTOS 
        %br/
        %table.table.table-celled.table-bordered
          %thead
            %tr 
              %th DATA/HORA
              %th DESCRIÇÃO
              %th AUTOR
          %tbody
            - if @competition.competition_events.where(event_type: 1).present?
              - @competition.competition_events.where(event_type: 1).order(created_at: :desc).each do |event|
                %tr
                  %td.collapsing= event.created_at.strftime("%d/%m/%Y %H:%M")
                  %td= event.description
                  %td.collapsing= event.user.special_name
            - else
              %tr
                %td{colspan: 3} 
                  %i Nenhum evento registrado.                       
.mt-4
.row
  .col-md-12
    .card
      .card-body
        %h5.text-center
          %b HISTÓRICO   
        %br/
        %br/
        %table.table.table-celled.table-bordered
          %thead
            %tr 
              %th DATA/HORA
              %th DESCRIÇÃO
              %th AUTOR
          %tbody
            - if @competition.competition_events.where(event_type: 2).present?
              - @competition.competition_events.where(event_type: 2).order(created_at: :desc).each do |event|
                %tr
                  %td.collapsing= event.created_at.strftime("%d/%m/%Y %H:%M")
                  %td= event.description
                  %td.collapsing= event.user.special_name
            - else
              %tr
                %td{colspan: 3}
                  %i Nenhum histórico encontrado.
                        
- if !current_user.administrator
  %script
    setTimeout(function(){ location.reload(); },60000)