.row
  .col-md-12
    %h5
      %b= @competition.title
    = link_to "Retornar para editais", cpl_competition.competitions_path, data: { disable_with: 'aguarde...'}
%hr/
.row
  .col-md-12
    %table.table.table-celled.table-bordered
      %thead
        %tr 
          %th Detalhamento do Ata
      %tbody
        %tr
          %td= @competition.content.html_safe

.row
  .col-md-12
    .card
      .card-body
        %h5.text-center
          %b PARTICIPANTES
        %br/
        %table.table.table-celled.table-bordered
          %thead
            %tr 
              %th.collapsing POSIÇÃO
              %th CNPJ
              %th REGIME
              %th CRED
              %th.collapsing ENV 1
              %th.collapsing ENV 2
              %th.collapsing VALOR
          %tbody.participation-index
            = render 'participation'


.mt-4
.row
  .col-md-12
    .card
      .card-body
        %h5.text-center
          %b CHAT  
        %br/
        %table.table.table-celled.table-bordered
          %thead
            %tr 
              %th CNPJ
              %th NOME
              %th REGIME
              %th VALOR
          %tbody
            %tr
              %td
              %td
              %td
              %td
                - if current_user.administrator?
                  = link_to "Adicionar valor"
                - else
                  Sem valor definido

.mt-4
.row
  .col-md-12
    .card
      .card-body
        %h5.text-center
          %b EVENTOS 
        %br/
        %table.table.table-celled.table-bordered
          %thead
            %tr 
              %th DATA/HORA
              %th DESCRIÇÃO
              %th AUTOR
          %tbody
            - @competition.competition_events.where(event_type: 1).order(created_at: :desc).each do |event|
              %tr
                %td.collapsing= event.created_at.strftime("%d/%m/%Y %H:%M")
                %td= event.description
                %td.collapsing= event.user.special_name
                      
.mt-4
.row
  .col-md-12
    .card
      .card-body
        %h5.text-center
          %b HISTÓRICO   
        %br/
        %br/
        %table.table.table-celled.table-bordered
          %thead
            %tr 
              %th DATA/HORA
              %th DESCRIÇÃO
              %th AUTOR
          %tbody
            - @competition.competition_events.where(event_type: 2).order(created_at: :desc).each do |event|
              %tr
                %td.collapsing= event.created_at.strftime("%d/%m/%Y %H:%M")
                %td= event.description
                %td.collapsing= event.user.special_name
                     