.row
  .col-md-12
    %h2
      - if @candidate.homologado?
        %b Meu projeto
      - else
        %b Meu projeto (Provisório)
      %small.pull-right
        = link_to "Voltar", project_restrict_candidates_path(@project)
%hr/
.row
  .col-md-12
    - if (@project.start_participation <= Date.current && @project.end_participation >= Date.current)
      - if @candidate.homologado?
        - if !@candidate.candidate_participation.present?
          = link_to "ENVIAR MEU PROJETO", new_project_restrict_participation_path(project_id: @project), class: 'btn btn-primary btn-lg'
  
      %hr/

.row
  .col-md-12
    %table.ui.table.striped.bordered
      %thead
        %tr
          %th Hora/Data
          %th Arquivo 1
          %th Arquivo 2
          %th
      %tbody
        - if @candidate.candidate_participation.present?
          - @candidate.candidate_participation.each do |participation|
            %tr
              %td= participation.created_at.strftime("%d/%m/%Y %H:%M")
              %td= link_to 'visualizar', participation.archive_one_url, target: '_blank'
              %td= link_to 'visualizar', participation.archive_two_url, target: '_blank'
              - if (@project.start_participation <= Date.current && @project.end_participation >= Date.current)
                %td= link_to 'cancelar projeto', project_restrict_participation_path(project_id: @project.id, id: participation.id), class: 'btn btn-danger btn-sm', method: :delete, data: { confirm: "Tem certeza que deseja excluir seu projeto?" }
              - else
                %td
        - else
          %tr
            %td{colspan: 5}
              %i Você ainda não enviou seu projeto.
