%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Portal Codhab
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:400,700", :rel => "stylesheet", :type => "text/css"}/
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application', media: 'all'
    = csrf_meta_tags
    :css
      .list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
        z-index: 2;
        color: #FFFFFF !important;
        background-color: #5A5A5A !important;
        font-weight: bold !important;
      }

      .panel-warning>.panel-heading {
        color: #010101;
        background-color: #FDD000;
        border-color: #FDD000;
      }

      body {
        background-color: white;
      }

      .panel, .list-group-item {
        border: none !important;
      }

      .box_internal {
        box-shadow: none !important;
      }

  %body
    = render 'layouts/portal/top_nav'
    = render 'layouts/portal/header'
    %div{class: 'container main'}
      .container
        .row
          .col-md-12
        .row
          .col-md-12.box
            .box_internal
              .row
                .col-md-12
        %img{width: '1095',
             src: "http://www.codhab.df.gov.br/uploads/archive/files/6ed676c717fc6c8d562ca4a29d872a7a.jpg"}
        .row
          .col-md-2
            .list-group
              = link_to 'Apresentação', inform_path(id: 362), class: "list-group-item"
              = link_to 'Documentos e Anexos', inform_path(id: 363), class: "list-group-item"
              = link_to 'Inscrição', cadastres_path, class: "list-group-item"
              = link_to 'Informes', inform_path(id: 264), class: "list-group-item"
              = link_to 'Resultado',  inform_path(id: 364), class: "list-group-item"
          .col-md-10
            .panel
              .panel-default
                .panel-body
                  - flash.each do |key, value|
                    .alert{class: "alert-#{key}"}
                      = value
                  = yield
    = render 'layouts/portal/footer'
    #modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "modal", :role => "dialog", :tabindex => "-1"}
      .modal-dialog
        .modal-content
