!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title Simples-Minimalistic Responsive Template
    :css
      /* Client-specific Styles */
      #outlook a {padding:0;} /* Force Outlook to provide a "view in browser" menu link. */
      body{width:100% !important; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; margin:0; padding:0;}
      /* Prevent Webkit and Windows Mobile platforms from changing default font sizes, while not breaking desktop design. */
      .ExternalClass {width:100%;} /* Force Hotmail to display emails at full width */
      .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {line-height: 100%;} /* Force Hotmail to display normal line spacing.*/
      #backgroundTable {margin:0; padding:0; width:100% !important; line-height: 100% !important;}
      img {outline:none; text-decoration:none;border:none; -ms-interpolation-mode: bicubic;}
      a img {border:none;}
      .image_fix {display:block;}
      p {margin: 0px 0px !important;}
      table td {border-collapse: collapse;}
      table { border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt; }
      a {color: #0a8cce;text-decoration: none;text-decoration:none!important;}
      /*STYLES*/
      table[class=full] { width: 100%; clear: both; }
      /*IPAD STYLES*/
      @media only screen and (max-width: 640px) {
      a[href^="tel"], a[href^="sms"] {
      text-decoration: none;
      color: #0a8cce; /* or whatever your want */
      pointer-events: none;
      cursor: default;
      }
      .mobile_link a[href^="tel"], .mobile_link a[href^="sms"] {
      text-decoration: default;
      color: #0a8cce !important;
      pointer-events: auto;
      cursor: default;
      }
      table[class=devicewidth] {width: 440px!important;text-align:center!important;}
      table[class=devicewidthinner] {width: 420px!important;text-align:center!important;}
      img[class=banner] {width: 440px!important;height:220px!important;}
      img[class=colimg2] {width: 440px!important;height:220px!important;}


      }
      /*IPHONE STYLES*/
      @media only screen and (max-width: 480px) {
      a[href^="tel"], a[href^="sms"] {
      text-decoration: none;
      color: #0a8cce; /* or whatever your want */
      pointer-events: none;
      cursor: default;
      }
      .mobile_link a[href^="tel"], .mobile_link a[href^="sms"] {
      text-decoration: default;
      color: #0a8cce !important;
      pointer-events: auto;
      cursor: default;
      }
      table[class=devicewidth] {width: 280px!important;text-align:center!important;}
      table[class=devicewidthinner] {width: 260px!important;text-align:center!important;}
      img[class=banner] {width: 280px!important;height:140px!important;}
      img[class=colimg2] {width: 280px!important;height:140px!important;}
      td[class=mobile-hide]{display:none!important;}
      td[class="padding-bottom25"]{padding-bottom:25px!important;}

      }
  %body
  %br/
  %table#backgroundTable{:bgcolor => "#ffffff", :border => "0", :cellpadding => "0", :cellspacing => "0", "st-sortable" => "full-text", :width => "100%"}
    %tbody
      %tr
        %td
          %table.devicewidth{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "600"}
            %tbody
              %tr
                %td{:width => "100%"}
                  %table.devicewidth{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "60"}
                    %tbody
                      / Spacing
                      %tr
                        %td{"st-title" => "fulltext-heading", :style => "font-family: Helvetica, arial, sans-serif; font-size: 30px; color: #333333; text-align:left; line-height: 30px;"}
                          %b  Inscrição realizada com sucesso!
                      / End of Title
                      / spacing
                      %tr
                        %td{:height => "20", :style => "font-size:1px; line-height:1px; mso-line-height-rule: exactly;", :width => "100%"}  
                      / End of spacing
                      / content
                      %tr
                        %td{"st-content" => "fulltext-content", :style => "font-family: Helvetica, arial, sans-serif; font-size: 16px; color: #666666; text-align:left; line-height: 30px;"}
                          %p
                            Seu formulário de inscrição para participação no Processo de Credenciamento 01/2019, da Companhia de Desenvolvimento Habitacional do Distrito Federal (CODHAB/DF), o qual trata de credenciamento de Pessoa Jurídica, devidamente registrada no Conselho Regional de Engenharia e Agronomia (CREA) e/ou no Conselho de Arquitetura e Urbanismo do Brasil (CAU), com vistas à posterior contratação, para a construção de até 108 módulos estruturais de interesse social - conforme descrito no item 4 - , denominados de "Módulos Embriões", na Região Administrativa de Samambaia RA - XII, de acordo com os projetos técnicos, especificações, serviços e orçamento, contidos no Anexo II e Anexo III do Edital, em atendimento à Política de Desenvolvimento Habitacional do Distrito Federal, de modo a disponibilizar, às famílias beneficiadas, uma estrutura inicial básica, que a elas possibilite a auto-construção assistida das posteriores etapas de suas moradias. Caso queira acompanhar o andamento da sua inscrição, por favor,
                            = link_to "CLIQUE AQUI" , "http://www.codhab.df.gov.br/credenciamento/acesso/new", target: '_blank'
                      %tr
                        %td
                          %table.devicewidthinner{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "560"}
                            %tr
                              %td{"st-title" => "fulltext-heading", :style => "font-family: Helvetica, arial, sans-serif; font-size: 16px; color: #333333; text-align:center; line-height: 30px;"}
                                %h Espelho da inscrição
                      %tr
                        %td
                          %table.devicewidthinner{:align => "center", :border => "1", :cellpadding => "0", :cellspacing => "0", :width => "560"}
                            %tbody
                              %tr
                                %th{"st-content" => "fulltext-content", :style => "font-family: Helvetica, arial, sans-serif; font-size: 12px; color: #666666; text-align:left; line-height: 30px; padding-left: 10px;"}
                                  Nº inscrição
                                %th{"st-content" => "fulltext-content", :style => "font-family: Helvetica, arial, sans-serif; font-size: 12px; color: #666666; text-align:left; line-height: 30px; padding-left: 10px;"}
                                  Data de inscrição
                                %th{"st-content" => "fulltext-content", :style => "font-family: Helvetica, arial, sans-serif; font-size: 12px; color: #666666; text-align:left; line-height: 30px; padding-left: 10px;"}
                                  Razão Social
                                %th{"st-content" => "fulltext-content", :style => "font-family: Helvetica, arial, sans-serif; font-size: 12px; color: #666666; text-align:left; line-height: 30px; padding-left: 10px;"}
                                  CAU/CREA
                              %tr
                                %td{"st-content" => "fulltext-content", :style => "font-family: Helvetica, arial, sans-serif; font-size: 12px; color: #666666; text-align:left; line-height: 30px; padding-left: 10px;"}
                                  = @cadastre.id
                                %td{"st-content" => "fulltext-content", :style => "font-family: Helvetica, arial, sans-serif; font-size: 12px; color: #666666; text-align:left; line-height: 30px; padding-left: 10px;"}
                                  = Time.now.strftime('%d/%m/%Y às %H:%M')
                                %td{"st-content" => "fulltext-content", :style => "font-family: Helvetica, arial, sans-serif; font-size: 12px; color: #666666; text-align:left; line-height: 30px; padding-left: 10px;"}
                                  = @cadastre.social_reason
                                %td{"st-content" => "fulltext-content", :style => "font-family: Helvetica, arial, sans-serif; font-size: 12px; color: #666666; text-align:left; line-height: 30px; padding-left: 10px;"}
                                  = @cadastre.crea
                          %br/
                          %table.devicewidthinner{:align => "center", :border => "1", :cellpadding => "0", :cellspacing => "0", :width => "560"}
                            %tbody
                              %tr
                                %th{"st-content" => "fulltext-content", :style => "font-family: Helvetica, arial, sans-serif; font-size: 12px; color: #666666; text-align:left; line-height: 30px; padding-left: 10px;"}
                                  CNPJ
                                %th{"st-content" => "fulltext-content", :style => "font-family: Helvetica, arial, sans-serif; font-size: 12px; color: #666666; text-align:left; line-height: 30px; padding-left: 10px;"}
                                  E-mail
                                %th{"st-content" => "fulltext-content", :style => "font-family: Helvetica, arial, sans-serif; font-size: 12px; color: #666666; text-align:left; line-height: 30px; padding-left: 10px;"}
                                  Telefone
                                %th{"st-content" => "fulltext-content", :style => "font-family: Helvetica, arial, sans-serif; font-size: 12px; color: #666666; text-align:left; line-height: 30px; padding-left: 10px;"}
                                  Celular(Opcional)
                              %tr
                                %td{"st-content" => "fulltext-content", :style => "font-family: Helvetica, arial, sans-serif; font-size: 12px; color: #666666; text-align:left; line-height: 30px; padding-left: 10px;"}
                                  = @cadastre.cnpj
                                %td{"st-content" => "fulltext-content", :style => "font-family: Helvetica, arial, sans-serif; font-size: 12px; color: #666666; text-align:left; line-height: 30px; padding-left: 10px;"}
                                  = @cadastre.email
                                %td{"st-content" => "fulltext-content", :style => "font-family: Helvetica, arial, sans-serif; font-size: 12px; color: #666666; text-align:left; line-height: 30px; padding-left: 10px;"}
                                  = @cadastre.telephone
                                %td{"st-content" => "fulltext-content", :style => "font-family: Helvetica, arial, sans-serif; font-size: 12px; color: #666666; text-align:left; line-height: 30px; padding-left: 10px;"}
                                  = @cadastre.celphone rescue nil
                          %br/
                          %table.devicewidthinner{:align => "center", :border => "1", :cellpadding => "0", :cellspacing => "0", :width => "560"}
                            %tbody
                              %tr
                                %th{"st-content" => "fulltext-content", :style => "font-family: Helvetica, arial, sans-serif; font-size: 12px; color: #666666; text-align:left; line-height: 30px; padding-left: 10px;"}
                                  CEP
                                %th{"st-content" => "fulltext-content", :style => "font-family: Helvetica, arial, sans-serif; font-size: 12px; color: #666666; text-align:left; line-height: 30px; padding-left: 10px;"}
                                  Cidade
                                %th{"st-content" => "fulltext-content", :style => "font-family: Helvetica, arial, sans-serif; font-size: 12px; color: #666666; text-align:left; line-height: 30px; padding-left: 10px;"}
                                  Estado
                                %th{"st-content" => "fulltext-content", :style => "font-family: Helvetica, arial, sans-serif; font-size: 12px; color: #666666; text-align:left; line-height: 30px; padding-left: 10px;"}
                                  Endereço
                              %tr
                                %td{"st-content" => "fulltext-content", :style => "font-family: Helvetica, arial, sans-serif; font-size: 12px; color: #666666; text-align:left; line-height: 30px; padding-left: 10px;"}
                                  = @cadastre.cep
                                %td{"st-content" => "fulltext-content", :style => "font-family: Helvetica, arial, sans-serif; font-size: 12px; color: #666666; text-align:left; line-height: 30px; padding-left: 10px;"}
                                  = @cadastre.city.name rescue nil
                                %td{"st-content" => "fulltext-content", :style => "font-family: Helvetica, arial, sans-serif; font-size: 12px; color: #666666; text-align:left; line-height: 30px; padding-left: 10px;"}
                                  = @cadastre.uf
                                %td{"st-content" => "fulltext-content", :style => "font-family: Helvetica, arial, sans-serif; font-size: 12px; color: #666666; text-align:left; line-height: 30px; padding-left: 10px;"}
                                  = @cadastre.address
