.row
  .col-md-12
    %h4
      %strong Documentos e Anexos
%hr/
%table.table.table-bordered
  %tr
    %th{colspan: 2}
      = link_to 'Edital de Credenciamento 01/2018', 'http://www.codhab.df.gov.br/uploads/archive/files/bb9316ef0ed017f76aa5f2cda60d877e.pdf', target: '_blank'
  %tr
    %th
      ANEXO I
    %td
      = link_to 'Mapa das Poligonais', 'http://www.codhab.df.gov.br/uploads/archive/files/126978a31a899a3ac0351f0e3f923b7c.pdf', target: '_blank'
  %tr
    %th
      ANEXO II
    %td
      = link_to 'Fluxograma de Processos', 'http://www.codhab.df.gov.br/uploads/archive/files/c353eea841ed22f20c86e6f72866dcff.pdf', target: '_blank'
  %tr
    %th
      ANEXO II
    %td
      = link_to 'Cronograma físico-financeiro', 'http://www.codhab.df.gov.br/uploads/archive/files/de8966ea4cf89cf876d3474f2b101b99.pdf', target: '_blank'
  %tr
    %th
      ANEXO IV
    %td
      = link_to 'Acordo de Nível de Serviço', 'http://www.codhab.df.gov.br/uploads/archive/files/f149c7b11939dc8b2e0ce374bf74f6d5.pdf', target: '_blank'
  %tr
    %th
      ANEXO V
    %td
      = link_to 'Termo de Recebimento', 'http://www.codhab.df.gov.br/uploads/archive/files/abb331633ad8553a5e3a43bb769c0e5b.pdf', target: '_blank'
  %tr
    %th
      ANEXO VI
    %td
      = link_to 'Minuta de Contrato', 'http://www.codhab.df.gov.br/uploads/archive/files/21f3559e9eeff9e3e2d2d285bc3028f7.pdf', target: '_blank'
