.row
  .col-md-12
    %h4
      %strong Documentos e Anexos
%hr/
%table.table.table-bordered
  %tr
    %th{colspan: 2}
      = link_to 'Edital de Credenciamento 01/2019', 'http://extranet.codhab.df.gov.br/uploads/archive/files/246429a4a66bcac9220bc158b4ddf168.pdf', target: '_blank'
  %tr
    %th
      ANEXO I
    %td
      = link_to 'Mapa da Localidade (Samambaia)', 'http://extranet.codhab.df.gov.br/uploads/archive/files/deff38bfe40d9bc3b9f75ad38d413e7a.pdf', target: '_blank'
  %tr
    %th
      ANEXO II
    %td
      = link_to 'Projeto Executivo e Planilha Orçamentária', 'http://extranet.codhab.df.gov.br/uploads/archive/files/ab55feea93a0cef74f8e8d2beaab2193.pdf', target: '_blank'
  %tr
    %th
      ANEXO II
    %td
      = link_to 'Cronograma de Execução', 'http://extranet.codhab.df.gov.br/uploads/archive/files/a12f2ad0c8f391b04795a39a3b71b40d.pdf', target: '_blank'
  %tr
    %th
      ANEXO IV
    %td
      = link_to 'Acordo de Nível de Serviço (ANS)', 'http://extranet.codhab.df.gov.br/uploads/archive/files/7c8ebaa45ef60546dbe486ecb61b2f65.pdf', target: '_blank'
  %tr
    %th
      ANEXO V
    %td
      = link_to 'Termo de Recebimento', 'http://extranet.codhab.df.gov.br/uploads/archive/files/add1034d92f40768d05b71102e77a534.pdf', target: '_blank'
  %tr
    %th
      ANEXO VI
    %td
      = link_to 'Minuta de Contrato', 'http://extranet.codhab.df.gov.br/uploads/archive/files/01dd1125e1c145242235a4cf1c2cabac.pdf', target: '_blank'
Edital de Credenciamento 01/2019