- if mobile_device?
  .row.mini-margin
    .col-md-12{style: 'text-align: center !important'}
      %h1 
        %b Área Restrita
        %br/
        %small{style: "color: gray !important"}
          Área interna do candidato
  %br/
  %br/
  %br/

- else 
  .row
    .col-md-12
      %ul.list-group
        %li.list-group-item{style: 'text-align: center'}= link_to "Página inicial", restrict_area_root_path
        %li.list-group-item{style: 'text-align: center'}= link_to "Atualizar meus dados de contato", edit_restrict_area_cadastre_path(@cadastre)
        %li.list-group-item{style: 'text-align: center'}= link_to "Meus agendamentos", restrict_area_schedules_path(@cadastre) 
        - if @cadastre.removed?
          %li.list-group-item{style: 'text-align: center'}= link_to "Responder questionário", new_restrict_area_asking_path
        - if @cadastre.current_situation_id == 4
          //%li.list-group-item{style: 'text-align: center'}= link_to "Portas abertas", restrict_area_manifestations_path
        - if @tickets_ref.present?
          %li.list-group-item{style: 'text-align: center'}= link_to "Abrir Questionamento", restrict_area_tickets_path
        %li.list-group-item{style: 'text-align: center'}= link_to "Finalizar acesso", logout_restrict_area_sessions_path, method: :delete