= simple_form_for @refund, url: project_refunds_path(@project) do |f|
  %hr/
  .row
    .col-md-12
      %h3
        Verifique os dados registrados
  .row
    .col-md-4
      %b Candidato:
      = @candidate.name
    .col-md-4
      %b CPF:
      = @candidate.cpf
  .row
    .col-md-4
      %b Data de inscrição:
      = @candidate.created_at.strftime('%d/%m/%Y') rescue nil
    .col-md-4
      %b
        Taxa de inscrição:
      R$ 300,00
  %hr/
  .row
    .col-md-12
      %h3
        Informe os dados bancários para reembolso
  .row
    .col-md-6
      = f.input :bank_number, label: "Informe o Banco", as: :select, collection: @bank, value_method: lambda { |bank| "#{bank[:Codigo]}" }, label_method: lambda { |bank| "#{bank[:Codigo]} - #{bank[:Nome]}" }, prompt: "selecione"
    .col-md-6
      = f.input :account_type_id, label: "Tipo de conta", collection: Concourse::CandidateRefund.account_type_ids.keys.map { |w| [w.humanize, w] } , prompt: "selecione"
  .row
    .col-md-4
      = f.label "Nº da Agencia"
      %a{title: 'Pedimos que informe, no campo “agência”, também o dígito identificador.', style: 'color: red; !important'} (?)
      = f.input :agency, label: false, input_html: { placeholder: "0000-0"}
    .col-md-4
      = f.input :operation, label: "Operação (se houver)", input_html: { placeholder: "000"}
    .col-md-4
      = f.input :account, label: "Nº da conta", input_html: { placeholder: "000000000"}
  %hr/
  .row
    .col-md-12
      %h3
        Informe os dados sobre a localidade da agência
        %a{title: 'Informando os dados de endereço da agência, teremos condições de efetuar o reembolso com mais celeridade.', style: 'color: red; !important;'} (?)
  .row
    .col-md-6
      = f.input :state_id, label: "Estado", collection: Core::Address::State.all, input_html: { id: 'state_id'}, include_blank: 'Selecione'
    .col-md-6
      = f.input :city_id, label: "Cidade",  as: :select, collection: [], input_html: { id: 'city_id'}, include_blank: 'Selecione'
  .row
    .col-md-12
      = f.input :address, label: "Endereço"
  %hr/
  %p
    Obs1. Os dados bancários informados deverão constar no nome do responsável pela inscrição, conta na qual a CODHAB/DF fará o crédito.
  %p
    Obs2. Por questões técnicas e legais, após o recebimento dos dados, o ressarcimento poderá levar cerca de 10 (dez) dias úteis para ser concluído.
  %p
    Obs3. Para garantir ao inscrito pagante o conhecimento do momento em que o lançamento do crédito for realizado em sua conta, uma mensagem automática será enviada ao seu e-mail com a respectiva confirmação.
  %p
    Obs4. No caso de dúvidas ou dificuldades, disponibilizamos um endereço de e-mail, por meio do qual o candidato pagante terá acesso ao suporte técnico: concursos@codhab.df.gov.br
  %br
  .row
    .col-md-12
      = f.submit "Enviar Dados", class: 'btn btn-success'
      = link_to "Cancelar e voltar", project_resources_path(@project), class: 'btn btn-default'

:javascript
  $(document).ready(function(){
    $("#state_id").on('change', function(){
      id = $(this).val();
      $.getJSON("#{city_path}?state_id=" +  id, function(data) {
        var options = "<option value>selecione...</option>";

        $.each(data, function(key, val) {
          options += "<option value='" + val.id + "'>" + val.name + "</option>";
        });

          $("#city_id").html(options);
      });
    });
  });
