- @apprailsas.each do |ticket|
  %tr
    %td.collapsing= ticket.id rescue nil
    %td
      %b= ticket.candidate_cpf rescue nil
      %br/
      = ticket.candidate_name rescue nil
    %td.collapsing
      = ticket.candidate_date.strftime("%d/%m/%Y") rescue nil
    %td.collapsing
      = link_to "Visualizar laudos", candidate.attendance_appraisal_appraisal_documents_path(ticket), remote: true, data: { disable_with: "Carregando..."}
    %td.collapsing
      - if ticket.medical_validate
        = link_to "<i class='fa fa-thumbs-up'></i>".html_safe, candidate.attendance_appraisal_appraisal_check_path(ticket), remote: true, data: { disable_with: "Carregando..."}, class: 'btn btn-success btn-sm btn-icon'
      - else
        = link_to  "<i class='fa fa-thumbs-up'></i>".html_safe, candidate.attendance_appraisal_appraisal_check_path(ticket), remote: true, data: { disable_with: "Carregando..."}, class: 'btn btn-default btn-sm btn-icon'