.row.mini-margin
  .col-md-12
    .panel.panel-default
      .panel-body
        .row
          .col-md-6
            %h3
              %b Listagem de laudos
            = link_to "Finalizar acesso", candidate.attendance_appraisal_session_path(current_medical), method: :delete, data: { confirm: "Tem certeza que deseja finalizar?"}
        %hr/
        .row
          .col-md-12
            Listando #{@apprailsas.total_entries rescue 0}
            %table.table.table-striped.table-bordered.table-celled
              %thead
                %tr
                  %th.collapsing Nº atendimento
                  %th CPF (Candidato)
                  %th Data (Atendimento)
                  %th
              %tbody
                - @apprailsas.each do |ticket|
                  %tr
                    %td.collapsing= ticket.id rescue nil
                    %td
                      %b= ticket.candidate_cpf rescue nil
                      %br/
                      = ticket.candidate_name rescue nil
                    %td
                      = ticket.candidate_date.strftime("%d/%m/%Y") rescue nil
                    %td.collapsing
                      = link_to "Visualizar laudos", candidate.attendance_appraisal_appraisal_documents_path(ticket), remote: true, data: { disable_with: "Carregando..."}
              %tfoot
                %tr
                  %th{colspan: 4}
                    = will_paginate @apprailsas, renderer: BootstrapPagination::Rails