%hr/
.row
  .col-md-12.input-mini
    .row
      .col-md-12{style: 'text-align: center !important;'}
        %h3.title  Declaração de Compromisso
    %br/
    %p
      À CODHAB/DF,
    %p
      Ref. Credenciamento no 01/2019
    %p{style: 'text-align: justify'} 
      %b
        Objeto:
      Credenciamento de Pessoa Jurídica, devidamente registrada no Conselho Regional de Engenharia e Agronomia (CREA) e/ou no Conselho de Arquitetura e Urbanismo do Brasil (CAU), com vistas à posterior contratação, para a construção de até 109 módulos estruturais de interesse social - conforme descrito no item 4 - , denominados de "Módulos Embriões", na Região Administrativa de Samambaia RA - XII, de acordo com os projetos técnicos, especificações, serviços e orçamento, contidos no Anexo II e Anexo III, em atendimento à Política de Desenvolvimento Habitacional do Distrito Federal, de modo a disponibilizar, às famílias beneficiadas, uma estrutura inicial básica, que a elas possibilite a auto-construção assistida das posteriores etapas de suas moradias.
    %p
      %b
        Do Responsável Técnico:
    %p
      1. Abaixo, informe quem será o responsável técnico pelas execução do objeto deste Credenciamento 01/2019. 
    %p
      Caso o profissional não tenha sido incluído na opção acima QUADRO TÉCNICO, favor incluir;  caso o profissional já tenha sido incluído, clique em:
      -# = link_to 'Escolher Responsável', new_cadastre_responsible_path(@cadastre), remote: true, class: 'btn btn-success btn-sm'
    -if @cadastre.responsibles.where(responsible: true).present?
      - responsible = @cadastre.responsibles.where(responsible: true).last
      %table.table.table-bordered
        %tr
          %td
            = "1. Nome Completo: #{responsible.cadastre_member.name}" rescue nil
          %td
            = "2. Formação: #{responsible.cadastre_member.formation}" rescue nil
        %tr
          %td
            = "3. Cpf: #{responsible.cadastre_member.cpf}" rescue nil
          %td
            = "4. Identidade: #{responsible.cadastre_member.rg}" rescue nil
        %tr
          %td
            = "5. Telefone: #{responsible.cadastre_member.telephone}" rescue nil
          %td
            = "6. Celular: #{responsible.cadastre_member.celphone}" rescue nil
        %tr
          %td{colspan: 2}
            = "7. N° de Registro COU/CREA: #{responsible.cadastre_member.registration_crea}" rescue nil
