%br
-# .row
-#   .col-md-12
-#     %b Possui cadastro no Sistema de Cadastramento Unificado de fornecedores (SICAF)?
-#     #sicaf
-#     - unless @cadastre.steps.where(step: 2).present?
-#       = link_to 'Sim', update_sicaf_path(id: @cadastre.id, sicaf: true), class: 'btn btn-success btn-xs', disabled: @cadastre.sicaf == true ? 'disabled' : nil
-#       = link_to 'Não', update_sicaf_path(id: @cadastre.id, sicaf: false), class: 'btn btn-danger btn-xs', disabled: @cadastre.sicaf == false ? 'disabled' : nil
%br
-if @compar == true || (@cadastre.sicaf == true && @compar_sicaf == true)
  - unless @cadastre.steps.where(step: 2).present?
    = simple_form_for [@cadastre, @step], url: cadastre_cadastre_steps_path(@cadastre), remote: true do |f|
      = f.input :step, as: :hidden, input_html: {value: 2}
      = f.button :submit, "Finalizar Etapa", class: 'btn btn-success btn-sm'
  -else
    -if @cadastre.sicaf == true
      %td Sim, Possuo cadastro no Sistema de Cadastramento Unificado de fornecedores (SICAF).
    %br/
    %br/
- if @cadastre.situation != "Habilitado"
  = link_to 'Editar Documentação', cadastre_cadastre_step_path(@cadastre, @cadastre.steps.where(step: 2).last.id), remote: true, method: :delete, class: 'btn btn-danger btn-sm' rescue nil
%br/
%br/
.row
  .col-md-12
    .tabbable
      %ul.nav.nav-tabs
        %li.active
          %a{style: "font-size: 10pt","data-toggle" => "tab", :href => "#tab1"} DA HABILITAÇÃO JURÍDICA E REGULARIDADE FISCAL
        %li
          %a{style: "font-size: 10pt","data-toggle" => "tab", :href => "#tab2"} DA QUALIFICAÇÃO TÉCNICA
        %li
          %a{style: "font-size: 10pt","data-toggle" => "tab", :href => "#tab3"} DA QUALIFICAÇÃO ECONÔMICO FINANCEIRA
        %li
          %a{style: "font-size: 10pt","data-toggle" => "tab", :href => "#tab4"} DECLARAÇÕES
      .tab-content
        #tab1.tab-pane.active
          = render 'document_a'
        #tab2.tab-pane
          = render 'document_b'
        #tab3.tab-pane
          = render 'document_c'
        #tab4.tab-pane
          = render 'form_declaration'
      %b
        = '*Campos obrigatório.'
      
