.container
  .row
    = render('layouts/main/partials/carta_de_servico')
    .col-md-9.box
      .menu_acesso_0.info_content.box_internal
        .post_meta
          .post-acesso
            %span{:style=> "font-size:12px;margin-top:2px"}Tamanho da fonte
            %i.fa.fa-minus-circle.diminuir-fonte{:style=> "color:#ccc;margin-top:4px"}
            %i.fa.fa-plus-circle.aumentar-fonte{:style=> "font-size:14px;margin-top:4px"}
            %a.imprimir-tela
              | imprimir
            -# %a.email-tela | Email
        .title.leiacesso_informacao
          Carta de serviço
        %p.conteudo.leiacesso_informacao
          %i{:style=> "color:#a09191"} Atualização: Fev/2019 - OUVID
          %br
          %br
          %strong Apresentação da Carta
          %br
          %br
          Carta de Serviços ao Cidadão é um instrumento de controle social que facilita a sua participação nas ações e programas do Governo do Distrito Federal. A Carta dispõe de informações claras e acessíveis sobre os serviços prestados pela Companhia de Desenvolvimento Habitacional do Distrito Federal – CODHAB/DF. O cidadão bem informado poderá avaliar os compromissos assumidos pela Companhia em relação aos serviços que presta. Após sua leitura, solicite, questione e colabore. 
          %br
          %br
          Navegue no menu ao lado para conhecer todos os serviços e caso queira conhecer as demais Cartas de Serviços, acesse o Portal do Governo do Distrito Federal
          %a{:href => "http://www.brasilia.df.gov.br/",:target => "_blank"} Portal do Governo do Distrito Federal
          %br
          %br
          %strong Dê sua opinião 
          %br
          %br
          Participe da pesquisa e colabore com o aprimoramento das Cartas de Serviços ao Cidadão,
          %a{:href => "https://docs.google.com/forms/d/e/1FAIpQLSfdVR-OR2iFHI0379dYBt0TiHeW-7DZ4EzufRsjdYHWq0I-4A/viewform?c=0&w=1",:target => "_blank"} clique aqui
          %br
          %br
          Para registrar reclamação, sugestão, elogio ou informação sobre qualquer Carta de Serviços acesse o sistema de Ouvidoria Ouv-DF,
          %a{:href => "https://www.ouv.df.gov.br/#/",:target => "_blank"} clique aqui
          %br
          %br
      .menu_acesso_29.info_content.box_internal
        .post_meta
          .post-acesso
            %span{:style=> "font-size:12px;margin-top:2px"}Tamanho da fonte
            %i.fa.fa-minus-circle.diminuir-fonte{:style=> "color:#ccc;margin-top:4px"}
            %i.fa.fa-plus-circle.aumentar-fonte{:style=> "font-size:14px;margin-top:4px"}
            %a.imprimir-tela
              | imprimir
        .title.leiacesso_informacao
          Ouvidoria
        %p.conteudo.leiacesso_informacao
          %i{:style=> "color:#a09191"} Atualização: Fev/2019 - OUVIDORIA
          %br
          %br
          %strong O que é Ouvidoria
          %br
          A Ouvidoria é um espaço de comunicação entre o cidadão e o governo onde você pode registrar suas demandas sobre os serviços públicos.
          %br
          %br
          %strong O que você pode registrar na Ouvidoria
          %br
          Você pode fazer denúncia, reclamação, sugestão e elogio.
          %br
          %br
          = image_tag('http://www.codhab.df.gov.br/uploads/archive/files/bf57d8ba7f80fa70a21bc15cafa814df.png', width: '99%' )
          %br
          %br
          %strong O que NÃO é considerada manifestação de Ouvidoria para o Governo do Distrito Federal
          %br
          Demandas referentes à esfera Federal ou sobre outros Estados, irregularidades ocorridas entre particulares, sem envolvimento de servidor ou órgão público.
          %br
          %br
          %strong Canais de atendimento ao Cidadão
          %br
          Você pode ligar para a Central 162, acessar o Sistema 
          %a{:href => "https://www.ouv.df.gov.br/#/",:target => "_blank"} OUV-DF
          ou ainda ser atendido presencialmente em SAM Lote A Bloco B – Edifício Sede do Detran/DF
          %br
          %br
          %strong Atendimento presencial
          %br
          Na Ouvidoria da CODHAB-DF de segunda a sexta-feira das 8h às 18h – mediante agendamento prévio Edifício sede da CODHAB-DF SCS quadra 06 lotes 12/13
          %br
          %br
          %strong Central 162
          %br
          De segunda a sexta de 7h às 21h – sábado, domingo e feriado de 8h às 18h Ligação gratuita para telefone fixo e celular
          %br
          %br
          %strong Prazo de vinte (20) dias corridos para a resposta ao cidadão a contar da data do registro da manifestação
          %br
          São dez (10) dias para informar ao cidadão as primeiras providências adotadas – (Art . 24 do Decreto nº 36.462/2015), no máximo mais dez (10) dias para apurar e informar o resultado ao cidadão – (Art. 25 do Decreto nº 36.462/2015)
          %br
          %br
          = image_tag('http://www.codhab.df.gov.br/uploads/archive/files/011e702799ee916dfd272d08bb29cb9b.png', width: '99%' )
          %br
          %br
          %strong Prazo para responder DENÚNCIAS
          %br
          O prazo poderá ser prorrogado pelo mesmo período de vinte (20) dias (Art. 25 Parágrafo 1º, do Decreto nº36.462/2015)
          %br
          %br
          %strong Garantias
          %br
          Segurança – Restrição de acesso a dados pessoais – Comunicações, pelo sistema de ouvidoria, sobre o andamento da manifestação conforme prazos legais – Atendimento por equipe especializada.
          %br
          %br
          %strong Elementos fundamentais para o registro de uma DENÚNCIA
          %br 
          %br - NOMES de pessoas e empresas envolvidas
          %br - QUANDO ocorreu o fato
          %br - ONDE ocorreu o fato
          %br - Quem pode TESTEMUNHAR
          %br - Se a pessoa pode apresentar PROVAS
          %br
          %strong Registro Identificado
          %br
          Apresentação do documento de identificação válido (Carteira de Identidade; Cadastro de Pessoas Físicas – CPF; Cadastro Nacional de Pessoas Jurídicas – CNPJ; Título de Eleitor; Passaporte; Carteira de Trabalho; Carteira Funcional; Carteira Nacional de Habilitação (modelo novo) e Certificado de Reservista). Possibilidade de sigilo conforme Art. 23, inciso I, do Decreto nº 36.462/2015.
          %br
          %br
          %strong Registro Anônimo
          %br Haverá análise preliminar para confirmar se os fatos apresentados são verdadeiros.
          %br
          %strong Tratamento específico para DENÚNCIAS
          %br Avaliação, classificação e encaminhamento realizados pela Ouvidoria-Geral do Distrito Federal.
          %br
          = image_tag('http://www.codhab.df.gov.br/uploads/archive/files/27722966b3a1ac50e12b49ea0629e490.png', width: '46%' )
          %br
          %br
          %strong Normas e Regulamentações
          %br
          %a{:href => "http://www.sinj.df.gov.br/sinj/Norma/72016/Lei_4896_31_07_2012.html",:target => "_blank"} Lei nº 4.896/2012
          %br
          %a{:href => "http://www.sinj.df.gov.br/sinj/Norma/79466/Decreto_36462_23_04_2015.html",:target => "_blank"} Decreto nº 36.462/2015
          %br
          %a{:href => "http://www.sinj.df.gov.br/sinj/Norma/c87d4625386745569ef03028e6c79397/Instru_o_Normativa_1_05_05_2017.html",:target => "_blank"} Instrução Normativa nº 01/2017
     
      .menu_acesso_35.info_content.box_internal
        .post_meta
          .post-acesso
            %span{:style=> "font-size:12px;margin-top:2px"}Tamanho da fonte
            %i.fa.fa-minus-circle.diminuir-fonte{:style=> "color:#ccc;margin-top:4px"}
            %i.fa.fa-plus-circle.aumentar-fonte{:style=> "font-size:14px;margin-top:4px"}
            %a.imprimir-tela
              | imprimir
        .title.leiacesso_informacao
          Serviço de Informações ao Cidadão – SIC
        %p.conteudo.leiacesso_informacao
          %i{:style=> "color:#a09191"} Atualização: Fev/2019 - OUVIDORIA
          %br
          %br
          %strong O que é SIC
          %br O Serviço de Informações ao Cidadão – SIC é mais um serviço prestado pelas Ouvidorias do GDF.  Você poderá ter acesso a qualquer informação produzida e armazenada pelo Estado. É um direito do cidadão, garantido pela Constituição Federal.
          %br
          %strong Tipos de informações que você pode requerer
          %br Você pode solicitar informações sobre as ações, gastos, documentos, processos e tudo mais que for de competência do Governo do Distrito Federal. É dever do Estado garantir o direito de acesso à informação.
          %br
          = image_tag('http://www.codhab.df.gov.br/uploads/archive/files/14f12711dfad061b6aa83458f39144ec.png', width: '99%' )
          %br
          %br
          %strong Canais de atendimento disponíveis para o cidadão
          %br 
          Caso não encontre a informação que está procurando no 
          %a{:href => "http://www.transparencia.df.gov.br/#/",:target => "_blank"} Portal da Transparência
          ou nos sítios oficiais dos órgãos e entidades do Governo do Distrito Federal, registre e acompanhe o andamento do pedido de informação via internet ou vá pessoalmente à Ouvidoria do órgão responsável pelo assunto de seu interesse. Não é possível realizar um pedido de Informação por telefone.
          %br
          %br
          %strong Atendimento pelo site 
          %br 
          Acesse o Sistema 
          %a{:href => "https://www.e-sic.df.gov.br/Sistema/",:target => "_blank"} e-SIC AQUI
          %br
          %br
          %strong Atendimento presencial
          %br 
          Na Ouvidoria da CODHAB-DF de segunda a sexta-feira das 8h às 18h – mediante agendamento prévio Edifício sede da CODHAB-DF SCS quadra 06 lotes 12/13
          %br
          %strong Pedido de acesso deverá conter 
          %br - Nome do requerente
          %br - Apresentação de documento de identificação válido (Carteira de identidade, Cadastro de Pessoas Físicas – CPF, Cadastro Nacional de Pessoas Jurídicas – CNPJ, Título de Eleitor, Passaporte, Carteira de Trabalho, Carteira Funcional, Carteira de Habilitação (modelo novo) e Certificado de Reservista).
          %br - Especificação, de forma clara e precisa, da informação requerida.
          %br - Endereço físico ou eletrônico do requerente, para recebimento de comunicações ou da informação requerida.
          %br
          %strong Prazos de resposta ao cidadão
          %br
          = image_tag('http://www.codhab.df.gov.br/uploads/archive/files/fb1d05004b7f101911348d5986812be7.png', width: '99%' )
          %br
          %strong Garantias
          %br - Atendimento por equipe especializada.
          %br - Possibilidade de acompanhamento do andamento do pedido de acesso à informação.
          %br - Restrição de acesso a dados pessoais sensíveis.
          %br - Encaminhamento, pelo e-SIC, da resposta ao pedido de acesso à informação conforme prazos legais.
          %br - Possibilidade de Recurso.
          %br - Possibilidade de Reclamação, podendo apresentar em até 10 dias após ter passado o prazo para a resposta inicial. A resposta sobre a reclamação será dada pela autoridade de monitoramento em até 5 dias.
          %br
          %strong Importante
          %br
          Não será atendido pedido de acesso genérico, desproporcional, desarrazoado, que exija trabalho adicional de análise, interpretação, consolidação de dados e informações, serviços de produção ou tratamento de dados que não seja de competência do órgão ou entidade.
          %br
          %br
          = image_tag('http://www.codhab.df.gov.br/uploads/archive/files/aa870604db9fec9ac4ad2c82be453f59.png', width: '35%' )

      .menu_acesso_38.info_content.box_internal 
        .post_meta
          .post-acesso
            %span{:style=> "font-size:12px;margin-top:2px"}Tamanho da fonte
            %i.fa.fa-minus-circle.diminuir-fonte{:style=> "color:#ccc;margin-top:4px"}
            %i.fa.fa-plus-circle.aumentar-fonte{:style=> "font-size:14px;margin-top:4px"}
            %a.imprimir-tela
              | imprimir
        .title.leiacesso_informacao
          Avaliação da Carta de Serviços
        %p.conteudo.leiacesso_informacao
          %i{:style=> "color:#a09191"} Atualização: Fev/2019 - OUVIDORIA
          %br
          %br
          %strong Avaliação da Carta de Serviços
          %br 
          Participe da pesquisa e colabore com o aprimoramento das Cartas de Serviços ao Cidadão – 
          %a{:href => "https://docs.google.com/forms/d/e/1FAIpQLSfdVR-OR2iFHI0379dYBt0TiHeW-7DZ4EzufRsjdYHWq0I-4A/viewform?c=0&w=1", :target => "_blank"} clique aqui. 
          %br 
          %br 
          Para registrar reclamação, sugestão, elogio ou informação sobre qualquer Carta de Serviços acesse o sistema de Ouvidoria Ouv-DF –
          %a{:href => "https://www.ouv.df.gov.br/#/",:target => "_blank"} clique aqui. 