.row.mini-margin
  .col-md-12.box
    .box_internal{style: 'text-align: center !important'}
      .row
        .col-md-12
          %br/
          = image_tag('http://www.codhab.df.gov.br/portal/images/slider.png', width: '99%')
      %br/
      .row
        .col-md-12
          = image_tag('http://www.codhab.df.gov.br/portal/images/titulo.png', width: '99%' )
      %br/
      .row
        .col-md-3
          = link_to image_tag('http://www.codhab.df.gov.br/portal/images/l1_1.png'), 'https://www.flickr.com/photos/136961125@N06/albums/72157680137416635', target:'_blank'
        .col-md-3
          = link_to image_tag('http://www.codhab.df.gov.br/portal/images/l1_2.png'), 'https://www.flickr.com/photos/136961125@N06/albums/72157680038608286', target: '_blank'
        .col-md-3
          = link_to image_tag('http://www.codhab.df.gov.br/portal/images/l1_3.png'), 'https://www.flickr.com/photos/136961125@N06/albums/72157678333834711', target: '_blank'
        .col-md-3
          = link_to image_tag('http://www.codhab.df.gov.br/portal/images/l1_4.png'), 'https://www.flickr.com/photos/136961125@N06/albums/72157680137954375', target: '_blank'
      %br/
      .row
        .col-md-3
          = link_to image_tag('http://www.codhab.df.gov.br/portal/images/l2_1.png'), 'https://www.flickr.com/photos/136961125@N06/albums/72157678334400521', target: '_blank'
        .col-md-3
          = link_to image_tag('http://www.codhab.df.gov.br/portal/images/l2_2.png'), ' https://www.flickr.com/photos/136961125@N06/albums/72157677991527642', target: '_blank'
        .col-md-3
          = link_to image_tag('http://www.codhab.df.gov.br/portal/images/l2_3.png'), 'https://www.flickr.com/photos/136961125@N06/albums/72157677991638042', target: '_blank'
        .col-md-3
          = link_to image_tag('http://www.codhab.df.gov.br/portal/images/l2_4.png'), 'https://www.flickr.com/photos/136961125@N06/albums/72157680039229966', target: '_blank'
