.container{:style => "background: #ffffff"}
  .row
    .col-md-12.margint50
      .h3.title_projetos
        Levantamento Crixá - Área 6
    #area1.col-md-6.custom_cut.margint50
      = image_tag("http://www.codhab.df.gov.br/uploads/archive/files/b90a74d5a57947d507cc48b41fab46a1.jpg")
    .col-md-6.margint50
      #accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
        .panel.panel-default
          #headingOne.panel-heading{:role => "tab"}
            %h4.panel-title-crixa
              %a{"aria-controls" => "collapse1", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapse1", :role => "button"}
                %strong Quadra 6 - A
          #collapse1.panel-collapse.collapse.in{"aria-labelledby" => "heading1", :role => "tabpanel"}
            .panel-body
              %ul.list-group
                %li.list-group-item
                  %strong Selo 1 -
                  Lote Vazio
        .panel.panel-default
          #headingTwo.panel-heading{:role => "tab"}
            %h4.panel-title-crixa
              %a{"aria-controls" => "collapse2", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapse2", :role => "button"}
                %strong Quadra 6 - B
          #collapse2.panel-collapse.collapse{"aria-labelledby" => "heading2", :role => "tabpanel"}
            .panel-body
              %ul.list-group
                %li.list-group-item
                  %strong Selo 1 -
                  Lote Vazio -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/957ec6553c36b0e449dd3bab38988c39.jpeg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 2 -
                  Casa Vazia -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/854bb03ad70bc4c6c0b801a872f5a588.jpeg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 3 -
                  Casa Vazia -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/fbd19af66090c76cc6b9e4648b98c037.jpeg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 4 -
                  Marguel da Costa Pinto - CPF: ***.***.623-10 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/cc8620b09638cb0c4225f8153dc1a612.jpeg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 5 -
                  Luiz Manoel Alves de Souza - CPF: ***.***.571-91 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/1a7da6a0300767784ac601374405ffb8.jpeg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 13 -
                  Casa Vazia -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/8a87a7fe9b5c049b96b4e99a7d570f05.jpeg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 14 -
                  Lote Vazio -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/085a61509bd071fc8c1f46c0f8cc291b.jpeg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 15 -
                  Lote Vazio -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/f8407cd0999e67d0225aef7cf8181ade.jpeg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 18 -
                  Noemi Conceição de Santana - CPF: ***.***.133-80 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/f7a24b6a211714b88fa6e45f3b52792b.jpeg", :target => "_blank"
        .panel.panel-default
          #heading3.panel-heading{:role => "tab"}
            %h4.panel-title-crixa
              %a.collapsed{"aria-controls" => "collapse3", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapse3", :role => "button"}
                %strong Quadra 6 - C
          #collapse3.panel-collapse.collapse{"aria-labelledby" => "heading3", :role => "tabpanel"}
            .panel-body
              %ul.list-group
                %li.list-group-item
                  %strong Selo 1 -
                  Lote Vazio -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/85ad94e54c5d2971d0fa26990ec6c59d.jpeg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 2 -
                  Francisca da Cruz Silva - CPF: ***.***.771-04
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/2866290e5a4e233d0e8d5b6319837767.jpeg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 3 -
                  Andréa Evangelista de Queiroz - CPF: ***.***.091-91 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/dcdcad71c14971ef73d9a14f4341abf4.jpeg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 4 -
                  Cleonice de Abreu Sampaio - CPF: ***.***.***-** -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/f3eca58f93112122ef295a68b1b0e7a1.jpeg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 5 -
                  José Leite da Silva - CPF: ***.***.944-73 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/81d2c460b178fbba8de8341b9411a0ff.jpeg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 6 -
                  Lote Vazio -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/4fdf83e93c922ebd0de47e5ed03d9b0c.jpeg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 7 -
                  Lurdinete Amorin - CPF: ***.***.861-49 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/c29e5b8d0494988c0f8ca560b7ae29d0.jpeg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 8 -
                  Vanuza Damaceno dos Santos - CPF: ***.***.613-62 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/7b8764346930e81f5901ed44ee3f18f7.jpeg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 9 -
                  Abadh Souza Silva - CPF: ***.***.646-51 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/c832d0050a87915d34b25f9a968688b0.jpeg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 10 -
                  Cristiano das Chagas Rêgo - CPF: ***.***.873-34 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/d28fd7614e96a5bfa2ed01b9dba9b627.jpeg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 11 -
                  Maria das Graças Chagas Rêgo - CPF: ***.***.103-97 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/d2b4525453e6baa25f9dbb6e633cfc13.jpeg", :target => "_blank"
        .panel.panel-default
          #heading4.panel-heading{:role => "tab"}
            %h4.panel-title-crixa
              %a.collapsed{"aria-controls" => "collapse4", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapse4", :role => "button"}
                %strong Quadra 6 - D
          #collapse4.panel-collapse.collapse{"aria-labelledby" => "heading3", :role => "tabpanel"}
            .panel-body
              %ul.list-group
                %li.list-group-item
                  %strong Selo 1 -
                  Vitor Pires da Costa - CPF: ***.***.741-28
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/6782ff2f03ddf05cc5db39b06f4d85c3.jpeg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 2 -
                  Patricia de Abreu Sacramento - CPF: ***.***.011-99 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/fd8b462fe6945440ee3fad9539207d5a.jpeg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 3 -
                  Eduardo Fernandes Alves - CPF: ***.***.991-49
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/61b581abb5544d1b5209e8e597376175.jpeg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 4 -
                  Einsenhower Moreira Santana - CPF: ***.***.315-04
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/d0203042b2e42b8adcac5980b26b5c30.jpeg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 5 -
                  Casa Vazia -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/480fa1bed11d72542c94156c9711c15e.jpeg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 6 -
                  Francisca Renaria Vieira Freitas - CPF: ***.***.201-30
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/74395c3de599780ac5167d06f77dcd32.jpeg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 7 -
                  Maria Enizia - CPF: ***.***.***-** -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/2c492d025d3056197a89e3567beee3a8.jpeg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 8 -
                  Ronaldo Lopes da Rocha - CPF: ***.***.261-29 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/f570e3451760e3eb9e7b5ef652c7e195.jpeg", :target => "_blank"
        .panel.panel-default-crixa
          #heading5.panel-heading{:role => "tab"}
            %h4.panel-title-crixa
              %a.collapsed{"aria-controls" => "collapse5", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapse5", :role => "button"}
                %strong Quadra 6 - E
          #collapse5.panel-collapse.collapse{"aria-labelledby" => "heading3", :role => "tabpanel"}
            .panel-body
              %ul.list-group
                %li.list-group-item
                  %strong Selo 1 -
                  Lote Vazio -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/b32bd3760b7942defe587cc8fd9d5ec4.jpeg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 2 -
                  Casa Vazia -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/af39afcf555dd7d54ec118f31374b263.jpeg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 3 -
                  Lote Vazio -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/6c411b18f9e6318f29fd3a1a6ead1d9b.jpeg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 4 -
                  Lote Vazio -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/9b24e11730c0f898de99db607a135ca2.jpeg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 5 -
                  Lote Vazio -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/2b2e977eeab8f6a5338c289d36d39f5b.jpeg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 6 -
                  Casa Vazia -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/edb61ac13a93bcf9882fd667143e963e.jpeg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 7 -
                  Lote Vazio -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/daae75ad1bb5c2281dd4cab049185063.jpeg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 8 -
                  Ronaldo Gonçalves de Lima - CPF: ***.***.335-48 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/b3568565a1f080b9c48ac66d6835f5de.jpeg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 9 -
                  Lote Vazio -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/812e858dc096c9e03feaf6b1eb7bd03d.jpeg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 10 -
                  Casa Vazia -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/6578c10a1a3001d6466fed5d025f00b6.jpeg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 11 -
                  Casa Vazia -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/ec5f9e42063103d02425d7fef9771643.jpeg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 12 -
                  Lote Vazio -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/40a6721b82c42da943bcf29ee874b3f7.jpeg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 13 -
                  Lote Vazio -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/a2ac178fc7c2d515a80a6dea67914df9.jpeg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 14 -
                  Maria Keila Peira da Silva Guedes - CPF: ***.***.101-50 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/3fef16161becd3b7db26cf8f074c5ada.jpeg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 15 -
                  Raimundo Nonato Araújo Gomes - CPF: ***.***.811-49
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/09fef87a8857fc6e47df2723ca5b4e0a.jpeg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 16 -
                  Casa Vazia -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/c4d01b4668064ce021800f29e58d46dd.jpeg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 17 -
                  Lote Vazio -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/28ae7405b6b435cc7beadfb7097da4cf.jpeg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 18 -
                  Lote Vazio -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/480b6a732d11e007153170f0ca9ee138.jpeg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 19 -
                  Lote Vazio -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/4c23aa33d88f2acf30d35fdfa6635767.jpeg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 20 -
                  Esmeraldo Leite de Oliveira - CPF: ***.***.251-00 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/af42bc01dcdcca9ba3e84724c64a911e.jpeg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 21 -
                  Casa Vazia -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/1eb92f7f950184d7b776db5fd29d7d12.jpeg", :target => "_blank"
