.container{:style => "background: #ffffff"}
  .row
    .col-md-12.margint50
      .h3.title_projetos
        Levantamento Crixá - Área 4
    #area1.col-md-6.custom_cut.margint50
      = image_tag("http://www.codhab.df.gov.br/uploads/archive/files/920ca3f17868bb7dba5da2d19a99a0b3.jpg")
    .col-md-6.margint50
      #accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
        .panel.panel-default
          #headingOne.panel-heading{:role => "tab"}
            %h4.panel-title-crixa
              %a{"aria-controls" => "collapse1", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapse1", :role => "button"}
                %strong Quadra 4 - A
          #collapse1.panel-collapse.collapse.in{"aria-labelledby" => "heading1", :role => "tabpanel"}
            .panel-body
              %ul.list-group
                %li.list-group-item
                  %strong Selo 1 -
                  João Wainer Silva de Oliveira - CPF: ***.***.631-04 -
                %li.list-group-item
                  %strong Selo 2 -
                  Maria Lopes da Luz - CPF: ***.***.411-72 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/aac5f128cfe6fe11a960ec5c77386d70.jpeg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 3 -
                  Luciana Rodrigues Pereira Costa - CPF: ***.***.986-70 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/e0eb9e59707a1c124794071072383e8f.jpeg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 4 -
                  Francisco Erivando de Andrade - CPF: ***.***.091-49 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/244b632f30bd853de33936a232ff9f00.jpeg", :target => "_blank"
                %li.list-group-item
                  %strong  Selo 5 -
                  Casa Vazia -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/4913b6e77383eb14340cd6c87cb6ca0e.jpeg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 6 -
                  Rosangela Antônio de Santana - CPF: ***.***.851-81 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/4d1e2fbb1a346e53cdc445bc44561a4e.jpeg", :target => "_blank"
                %li.list-group-item
                  %strong  Selo 7 -
                  Casa Vazia -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/9466cc5661dd5a257f22ad727fb3674b.jpeg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 8 -
                  Marizete Neves dos Santos - CPF: ***.***.638-90 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/6d89bb3f6c951ef9a30fa1d8fe5fb1f2.jpeg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 9 -
                  Lucicleide Santana da Silva Araújo - CPF: ***.***.671-97 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/536af7a3d377e34569f06cdba302c67b.jpeg", :target => "_blank"
                %li.list-group-item
                  %strong  Selo 10 -
                  Casa Vazia -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/941ebebb2abe3541ceae86b09043fcc6.jpeg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 11 -
                  Paulo Ricardo Teixeira Souza - CPF: ***.***.661-11 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/59f7b42da429eca8b18fde9a0110d8fb.jpeg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 12 -
                  Alaide Alves Ramos - CPF: ***.***.736-66 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/4acf80de746292f1000cda67ea4eb0e4.jpeg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 13 -
                  Cleonice Golçalves Pereira - CPF: ***.***.706-20 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/1c53cf8bab907a28e332115bbcc0639c.jpeg", :target => "_blank"
                %li.list-group-item
                  %strong  Selo 14 -
                  Casa Vazia -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/2519d0b0dc52b676e261c2c2dc9f5e8f.jpeg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 15 -
                  Marciano Jantsch - CPF: ***.***.629-25 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/78480b274c29e0dcffd85e3a576f4d84.jpeg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 16 -
                  Marciano Jantsch - CPF: ***.***.629-25 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/05f3578f58b27d13051bc2f3735173ad.jpeg", :target => "_blank"
                %li.list-group-item
                  %strong  Selo 17 -
                  Edmar de Souza Guedes - CPF: ***.***.271-04 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/a0faa386879399d86bb52d1d0a547123.JPG", :target => "_blank"
                %li.list-group-item
                  %strong Selo 18 -
                  Antonia Silva - CPF: ***.***.372-49 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/7d741e600ceb2b759f8030aaf198a34c.jpeg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 19 -
                  Hélio Viturino da Silva - CPF: ***.***.311-53 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/e745da6920f890dc9758621ed8f5f6a9.jpeg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 20 -
                  Lote Vazio
                %li.list-group-item
                  %strong  Selo 21 -
                  Lote Vazio -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/b4e1fc1a624104db509b726d27712565.jpeg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 22 -
                  Lote Vazio
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/f4954d3f928cfcfdd9618e2bf920ebd3.jpeg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 23 -
                  Lote Vazio
                %li.list-group-item
                  %strong  Selo 24 -
                  Casa Vazia -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/244d8c2873b4253315290b90f6a7f4c7.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 25 -
                  Lote Vazio
                %li.list-group-item
                  %strong Selo 26 -
                  Lote Vazio
                %li.list-group-item
                  %strong Selo 27 -
                  Jorcineide de Assis Pereira - CPF: ***.***.411-91 -
        .panel.panel-default
          #headingTwo.panel-heading{:role => "tab"}
            %h4.panel-title-crixa
              %a{"aria-controls" => "collapse2", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapse2", :role => "button"}
                %strong Quadra 4 - B
          #collapse2.panel-collapse.collapse{"aria-labelledby" => "heading2", :role => "tabpanel"}
            .panel-body
              %ul.list-group
                %li.list-group-item
                  %strong  Selo 1 -
                  Casa Vazia -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/9356fc877e9f39dad2c46d0a874c28fa.jpg", :target => "_blank"
                %li.list-group-item
                  %strong  Selo 2 -
                  Casa Vazia -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/c988ff0c66db574e6910fc61f42f17b4.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 3 -
                  Casa Vazia
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/d5de8b674b4b8d728d209887517aa6c2.jpg", :target => "_blank"
                %li.list-group-item
                  %strong  Selo 4 -
                  Casa Vazia -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/24019009c8d77082217e82b9d772955b.jpg", :target => "_blank"
                %li.list-group-item
                  %strong  Selo 5 -
                  Casa Vazia -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/579ff3b3ff560de53f74721c4a5dcc7f.jpg", :target => "_blank"
                %li.list-group-item
                  %strong  Selo 6 -
                  Casa Vazia -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/554d6408369c02012b6aefe708d647c0.jpg", :target => "_blank"
                %li.list-group-item
                  %strong  Selo 7 -
                  Michele de Novais - CPF: ***.***.731-52 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/98a22c49a7db7fd75d7798a0931f5376.JPG", :target => "_blank"
                %li.list-group-item
                  %strong Selo 8 -
                  Casa Vazia -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/c10a481eead5417fad9dba88d470bf8a.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 9 -
                  Lote Vazio
                %li.list-group-item
                  %strong  Selo 10 -
                  Casa Vazia -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/fe9d75cef958ec7f5dee589976dbeddf.jpg", :target => "_blank"
                %li.list-group-item
                  %strong  Selo 11 -
                  Casa Vazia -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/f4c2881124590f61a5af1721fb4d9252.jpg", :target => "_blank"
                %li.list-group-item
                  %strong  Selo 12 -
                  Casa Vazia -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/4e027fab870de834f2011fb263ffa1f8.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 13 -
                  Lote Vazio
                %li.list-group-item
                  %strong Selo 14 -
                  Lote Vazio
                %li.list-group-item
                  %strong Selo 15 -
                  Lote Vazio
                %li.list-group-item
                  %strong Selo 16 -
                  Lote Vazio
                %li.list-group-item
                  %strong Selo 17 -
                  Lote Vazio
                %li.list-group-item
                  %strong Selo 18 -
                  Lote Vazio
                %li.list-group-item
                  %strong Selo 19 -
                  Lote Vazio
                %li.list-group-item
                  %strong Selo 20 -
                  Lote Vazio
                %li.list-group-item
                  %strong Selo 21 -
                  Lote Vazio
                %li.list-group-item
                  %strong Selo 22 -
                  Igreja
                %li.list-group-item
                  %strong Selo 23 -
                  Lote Vazio
                %li.list-group-item
                  %strong Selo 24 -
                  Lote Vazio
                %li.list-group-item
                  %strong Selo 25 -
                  Lote Vazio
                %li.list-group-item
                  %strong Selo 26 -
                  Lote Vazio
                %li.list-group-item
                  %strong Selo 27 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/a24e9caae042bbc0fc9c1ce5a76d95bb.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 28 -
                  Casa Vazia
                %li.list-group-item
                  %strong Selo 29 -
                  Casa Vazia
        .panel.panel-default
          #heading3.panel-heading{:role => "tab"}
            %h4.panel-title-crixa
              %a.collapsed{"aria-controls" => "collapse3", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapse3", :role => "button"}
                %strong Quadra 4 - C
          #collapse3.panel-collapse.collapse{"aria-labelledby" => "heading3", :role => "tabpanel"}
            .panel-body
              %ul.list-group
                %li.list-group-item
                  %strong Selo 1 -
                  Willian da Costa Soares - CPF: ***.***.131-97 -
                %li.list-group-item
                  %strong Selo 2 -
                  Joaquin Monteiro Guimarães - CPF: ***.***.141-15 -
                %li.list-group-item
                  %strong Selo 3 -
                  Joaquin Monteiro Guimarães - CPF: ***.***.141-15 -
                %li.list-group-item
                  %strong Selo 4 -
                  Lote Vazio
                %li.list-group-item
                  %strong Selo 5 -
                  Lote Vazio
                %li.list-group-item
                  %strong Selo 6 -
                  Lote Vazio
                %li.list-group-item
                  %strong Selo 7 -
                  Lote Vazio
                %li.list-group-item
                  %strong Selo 8 -
                  Vinivaldo Pereira de Souza - CPF: ***.***.096-60 -
                %li.list-group-item
                  %strong Selo 9 -
                  Lote Vazio
                %li.list-group-item
                  %strong Selo 10 -
                  Lote Vazio
                %li.list-group-item
                  %strong Selo 11 -
                  Lote Vazio
                %li.list-group-item
                  %strong Selo 12 -
                  Lote Vazio
                %li.list-group-item
                  %strong Selo 13 -
                  Lote Vazio
                %li.list-group-item
                  %strong Selo 14 -
                  Alonso Pereira dos Santos - CPF: ***.***.931-53 -
                %li.list-group-item
                  %strong Selo 15 -
                  Lote Vazio
                %li.list-group-item
                  %strong Selo 16 -
                  Lote Vazio
                %li.list-group-item
                  %strong Selo 17 -
                  Lote Vazio
                %li.list-group-item
                  %strong Selo 18 -
                  Patriny Gomes de Souza - CPF: ***.***.333-20 -
                %li.list-group-item
                  %strong Selo 19 -
                  Lote Vazio
                %li.list-group-item
                  %strong Selo 20 -
                  Lote Vazio
                %li.list-group-item
                  %strong Selo 21 -
                  Lote Vazio
                %li.list-group-item
                  %strong Selo 22 -
                  Lote Vazio
                %li.list-group-item
                  %strong Selo 23 -
                  Lote Vazio
                %li.list-group-item
                  %strong Selo 24 -
                  Lote Vazio
        .panel.panel-default
          #heading4.panel-heading{:role => "tab"}
            %h4.panel-title-crixa
              %a.collapsed{"aria-controls" => "collapse4", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapse4", :role => "button"}
                %strong Quadra 4 - D
          #collapse4.panel-collapse.collapse{"aria-labelledby" => "heading3", :role => "tabpanel"}
            .panel-body
              %ul.list-group
                %li.list-group-item
                  %strong  Selo 1 -
                  Casa Vazia -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/45377a2d2bcd3e5eb7b0271f96bfba69.jpg", :target => "_blank"
                %li.list-group-item
                  %strong  Selo 2 -
                  Casa Vazia -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/f41eca0b7d53809d23676225b231fe8a.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 3 -
                  Helio Machado de Oliveira - CPF: ***.***.541-37 -
                %li.list-group-item
                  %strong Selo 4 -
                  Lote Vazio -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/6d9d3193e28429943d0f5706feb74ae5.jpg", :target => "_blank"
                %li.list-group-item
                  %strong  Selo 5 -
                  Casa Vazia -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/0835e763ee17963a3115ce4ef68c6820.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 6 -
                  Lote Vazio
                %li.list-group-item
                  %strong Selo 7 -
                  Lote Vazio
                %li.list-group-item
                  %strong Selo 8 -
                  Deize Oliveira Lima - CPF: ***.***.761-40 -
                %li.list-group-item
                  %strong Selo 9 -
                  Lote Vazio
                %li.list-group-item
                  %strong  Selo 10 -
                  Casa Vazia -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/f3ec77049abd2143e7741119889ce34d.jpg", :target => "_blank"
                %li.list-group-item
                  %strong  Selo 11 -
                  Casa Vazia -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/b0d13bd0bf2eebb742ae4e3ce74e6bba.jpg", :target => "_blank"
                %li.list-group-item
                  %strong  Selo 12 -
                  Casa Vazia -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/4eb49c77681447a2ef1bf302e18f88df.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 13 -
                  Ana Carolina Mendes Cordeiro - CPF: ***.***.241-50 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/786530e73cf20c94187722c3db25c104.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 14 -
                  Lote Vazio
                %li.list-group-item
                  %strong Selo 15 -
                  Lote Vazio
                %li.list-group-item
                  %strong Selo 16 -
                  Leandro Soares dos Santos - CPF: ***.***.885-53 -
                %li.list-group-item
                  %strong Selo 17 -
                  Lote Vazio
                %li.list-group-item
                  %strong Selo 18 -
                  Lote Vazio
                %li.list-group-item
                  %strong Selo 19 -
                  Viviane Silva Rosa - CPF: ***.***.181-05 -
                %li.list-group-item
                  %strong Selo 20 -
                  Lote Vazio
                %li.list-group-item
                  %strong Selo 21 -
                  Lote Vazio
                %li.list-group-item
                  %strong Selo 22 -
                  Lote Vazio
                %li.list-group-item
                  %strong Selo 23 -
                  Lote Vazio
                %li.list-group-item
                  %strong Selo 24 -
                  Lote Vazio
                %li.list-group-item
                  %strong Selo 25 -
                  Lote Vazio
                %li.list-group-item
                  %strong Selo 26 -
                  Lote Vazio
                %li.list-group-item
                  %strong Selo 27 -
                  Lote Vazio
        .panel.panel-default
          #heading5.panel-heading{:role => "tab"}
            %h4.panel-title-crixa
              %a.collapsed{"aria-controls" => "collapse5", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapse5", :role => "button"}
                %strong Quadra 4 - E
          #collapse5.panel-collapse.collapse{"aria-labelledby" => "heading3", :role => "tabpanel"}
            .panel-body
              %ul.list-group
                %li.list-group-item
                  %strong Selo 1 -
                  Lote Vazio
                %li.list-group-item
                  %strong Selo 2 -
                  Lote Vazio
                %li.list-group-item
                  %strong Selo 3 -
                  Lote Vazio
                %li.list-group-item
                  %strong Selo 4 -
                  Casa Vazia
                %li.list-group-item
                  %strong Selo 5 -
                  Casa Vazia
                %li.list-group-item
                  %strong Selo 6 -
                  Mirian Caroline de Carvalho - CPF: ***.***.451-04 -
                %li.list-group-item
                  %strong Selo 7 -
                  Lote Vazio
                %li.list-group-item
                  %strong Selo 8 -
                  Valdirene Silva das Neves - CPF: ***.***.673-53 -
                %li.list-group-item
                  %strong Selo 9 -
                  Lote Vazio
                %li.list-group-item
                  %strong Selo 10 -
                  Casa Vazia
                %li.list-group-item
                  %strong Selo 11 -
                  Anita da Silva - CPF: ***.***.248-97 -
                %li.list-group-item
                  %strong Selo 12 -
                  Casa Vazia
                %li.list-group-item
                  %strong Selo 13 -
                  Wanderson Oliveira de Melo - CPF: ***.***.401-57 -
                %li.list-group-item
                  %strong Selo 14 -
                  Casa Vazia
                %li.list-group-item
                  %strong Selo 15 -
                  Lote Vazio
                %li.list-group-item
                  %strong Selo 16 -
                  Lote Vazio
