.container{:style => "background: #ffffff"}
  .row
    .col-md-12.margint50
      .h3.title_projetos
        Bonsucesso - Área 2
    #area1.col-md-6.custom_cut.margint50
      = image_tag("http://www.codhab.df.gov.br/uploads/archive/files/bf9e2a99ea8937bb07cb664c6a67bc9e.jpg")
    .col-md-6.margint50
      #accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
        .panel.panel-default
          #headingOne.panel-heading{:role => "tab"}
            %h4.panel-title-crixa
              %a{"aria-controls" => "collapse1", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapse1", :role => "button"}
                %strong Quadra 1
          #collapse1.panel-collapse.collapse.in{"aria-labelledby" => "heading1", :role => "tabpanel"}
            .panel-body
              %ul.list-group
                %li.list-group-item
                  %strong Selo 1 -
                  Alberi Farias Torres - CPF: ***.***.111-20
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_2/2-01.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 2 -
                  Antonio Salgado da Rocha - CPF: ***.***.471-15
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_2/2-02.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 3 -
                %li.list-group-item
                  %strong Selo 4 -
                  Alex Bandeira Amorim - CPF: ***.***.301-66
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_2/2-04.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 5 -
                  Valter Alvino da Silva - CPF: ***.***.604-53
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_2/2-05.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 6 -
                  Andre Luis Almeida - CPF: ***.***.375-73
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_2/2-06.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 7 -
                  Raimundo Nonato Soares ***.***.203-25
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_2/2-07.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 8 -
                  Rubenito Soares Ribeiro ***.***.311-34
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_2/2-08.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 9 -
                  Não estava no local
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_2/2-09.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 10 -
                  Não estava no local - CPF: ***.***.964-16
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_2/2-10.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 11 -
                  Lidiane Garcia da Silva ***.***.531-41
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_2/2-11.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 12 -
                  Domingos Cordeiro da Silva ***.***.026-53
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_2/2-12.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 13 -
                  Não estava no local
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_2/2-13.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 14 -
                  Joaquim Monteiro - N/I PADRÃO
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_2/2-14.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 15 -
                  Manoel de Almeida Matos ***.***.641-49
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_2/2-15.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 16 -
                  Missia - N/I
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_2/2-16.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 17 -
                  Não estava no local -
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_2/2-17.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 18 -
                  Marcio - N/1
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_2/2-18.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 19 -
                  Pamela Nobrega do Santos ***.***.511-09
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_2/2-19.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 20 -
                  Simone Araujo Melo ***.***.261-19
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_2/2-20.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 21 -
                  Zeilton - N/I
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_2/2-21.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 22 -
                  João Batista Brandão ***.***.253-04
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_2/2-22.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 23 -
                  Maria Lucia das Neves ***.***.505-93
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_2/2-23.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 24 -
                  Baia para Cavalos
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_2/2-24.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 25 -
                  Paulo Antonio de Jesus ***.***.569-91
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_2/2-25.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 26 -
                  Não estava no local
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_2/2-26.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 27 -
                  Silvia Santos Souza ***.***.993-60
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_2/2-27.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 28 -
                  Vilobaldo Rodrigues da Costa ***.***.821-15
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_2/2-28.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 29 -
                  Onaldo Mendes de Lima ***.***.945-83
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_2/2-29.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 30 -
                  Cristiane - N/I
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_2/2-30.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 31 -
                  Manoel de Almeida Laura ***.***.205-00
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_2/2-31.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 32 -
                  Raimunda Sousa de Carvalho ***.***.245-53
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_2/2-32.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 33 -
                  Baia para Cavalos
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_2/2-33.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 34 -
                  Lucilio Pereira Lisboa ***.***.505-00
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_2/2-34.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 35 -
                  Antonio Alves da Silva ***.***.473-49
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_2/2-35.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 36 -
                  Cleomar Mendes da Silva ***.***.681-68
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_2/2-36.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 37 -
                  Não estava no local
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_2/2-37.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 38 -
                  Valdeir Aparecida Batista ***.***.756-63
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_2/2-38.jpg", :target => "_blank"
