.container{:style => "background: #ffffff"}
  .row
    .col-md-12.margint50
      .h3.title_projetos
        Bonsucesso - Área 1
    #area1.col-md-6.custom_cut.margint50
      = image_tag("http://www.codhab.df.gov.br/uploads/archive/files/b3b0413ba0de38c580e700b055707705.png")
    .col-md-6.margint50
      #accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
        .panel.panel-default
          #headingOne.panel-heading{:role => "tab"}
            %h4.panel-title-crixa
              %a{"aria-controls" => "collapse1", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapse1", :role => "button"}
                %strong Quadra 1
          #collapse1.panel-collapse.collapse.in{"aria-labelledby" => "heading1", :role => "tabpanel"}
            .panel-body
              %ul.list-group
                %li.list-group-item
                  %strong Selo 1 -
                  Alison Joaquin - CPF: ***.***.571-53
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_1/1-01.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 2 -
                  Patricia Alves - CPF: ***.***.541-87
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_1/1-02.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 3 -
                  Almerinda Correa - CPF: ***.***.021-91
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_1/1-03.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 4 -
                  Edivania Alves - CPF: ***.***.761-91
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_1/1-04.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 5 -
                  Maria Izabela -
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_1/1-05.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 6 -
                  Maria Eunice Costa -  ***.***.091-72
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_1/1-06.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 7 -
                  Maria Eunice Costa -  ***.***.091-72
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_1/1-07.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 8 -
                  Baia de cavalos
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_1/1-08.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 9 -
                  Adão Antonio Fonseca - ***.***.646+00
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_1/1-09.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 10 -
                  Andrea Mendes - ***.***.366-28
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_1/1-10.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 11 -
                  Jose Vieira - ***.***.146-77
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_1/1-11.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 12 -
                  Angélica da Paz - ***.***.581-03
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_1/1-12.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 13
                  Carolina Conceição -
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_1/1-13.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 14
                  Baia de cavalos
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_1/1-14.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 15 -
                  Jose Maria Pereira - ***.***.046-15
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_1/1-15.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 16 -
                  Jorge Batista Ribeiro - ***.***.750-49
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_1/1-16.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 17 -
                  Maria dos Remedios - ***.***.902-72
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_1/1-17.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 18 -
                  Juraci Inacio - ***.***.441-53
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_1/1-18.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 19 -
                  Simone Dias de Oliveira - ***.***.771-28
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_1/1-19.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 20 -
                  Ananilza Alves - ***.***.101-10
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_1/1-20.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 21 -
                  Não estava no local
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_1/1-21.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 22 -
                  Não estava no local
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_1/1-22.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 23 -
                  Não estava no local
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_1/1-23.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 24 -
                  Não estava no local
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_1/1-24.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 25 -
                  Tiago Pereira dos Santos *- ***.***.805-96
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_1/1-25.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 26 -
                  Baia de cavalos
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_1/1-26.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 27 -
                  Junior Cesar Antunes - ***.***.496-52
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_1/1-27.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 28 -
                  Carla Seniele Souza - ***.***.145-02
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_1/1-28.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 29 -
                  Lucia
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_1/1-29.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 30 -
                  Regina Sabino da Silva - ***.***.961-93
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_1/1-30.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 31 -
                  Maria das Dores Oliveira - ***.***.891-68
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_1/1-31.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 32 -
                  Elielma de Jesus Abreu - ***.***.861-58
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_1/1-32.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 33 -
                  Ivone de Oliveira - ***.***.871-87
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_1/1-33.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 34 -
                  Em construção/Murado
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_1/1-34.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 35 -
                  Maria Aparecida Marcolino
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_1/1-35.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 36 -
                  Jones Matheus Lopes - ***.***.985-41
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_1/1-36.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 37 -
                  Gustavo da Silva- ***.***.841-86
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_1/1-37.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 38 -
                  Não estava no local
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_1/1-38.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 39 -
                  Girlon Rodrigues de Sousa - ***.***.725-66
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_1/1-39.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 40 -
                  Não estava no local
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_1/1-40.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 41 -
                  Não estava no local
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_1/1-41.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 42 -
                  Cristina Ferreira da Silva - ***.***.911-49
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_1/1-43.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 43 -
                  Guilherme Germano da Silva - ***.***.691-80
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_1/1-44.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 44 -
                  Adilson de Oliveira
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_1/1-45.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 45 -
                  Sonia Ribeiro da Silva - ***.***.826-89
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_1/1-46.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 46 -
                  Valdenice Cordeiro de Souza - ***.***.982-53
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_1/1-47.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 47 -
                  Marivet Alves dos Santos
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_1/1-48.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 48 -
                  Não estava no local
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_1/1-49.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 49 -
                  Não estava no local
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_1/1-50.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 50 -
                  Mairton dos Santos Chaves - ***.***.441-46
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_1/1-51.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 51 -
                  Maria de Ludes
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_1/1-52.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 52 -
                  Edivaldo de Souza - ***.***.373-68
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_1/1-52.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 53 -
                  Jose Carlos Pereira de Souza - ***.***.241-20
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_1/1-53.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 54 -
                  Jilssandra Alves dos Santos - ***.***.473-32
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_1/1-54.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 55 -
                  Maria Barbosa dos Santos - ***.***.971-87
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_1/1-55.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 56 -
                  Em construção Igreja
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_1/1-56.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 57 -
                  Josimar de Jesus Pereira - ***.***.345-56
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_1/1-57.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 58 -
                  Rozilene Oliveira Souza - ***.***.951-06
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_1/1-58.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 59 -
                  Maria Izabel Nunes - ***.***.986-05
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_1/1-59.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 60 -
                  Não estava no local
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_1/1-60.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 61 -
                  Maria Lucia Pereira - ***.***.741-20
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_1/1-61.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 62 -
                  Rita Maria dos Santos - ***.***.931-26
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_1/1-62.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 63 -
                  Carlos
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_1/1-63.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 64 -
                  Aline da Cruz Oliveira - ***.***.481-03
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_1/1-64.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 65 -
                  Não estava no local
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_1/1-65.jpg", :target => "_blank"
