.container{:style => "background: #ffffff"}
  .row
    .col-md-12.margint50
      .h3.title_projetos
        Levantamento Parque das Copaíbas
    #area1.col-md-6.custom_cut.margint50
      = image_tag("http://www.codhab.df.gov.br/uploads/archive/files/e9a04003acacd3bb8dca14d8494fcd01.jpg")
    .col-md-6.margint50
      #accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
        .panel.panel-default
          #headingOne.panel-heading{:role => "tab"}
            %h4.panel-title-crixa
              %a{"aria-controls" => "collapse1", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapse1", :role => "button"}
                %strong SELAGEM
          #collapse1.panel-collapse.collapse.in{"aria-labelledby" => "heading1", :role => "tabpanel"}
            .panel-body
              %ul.list-group
                %li.list-group-item
                  %strong Selo 1 -
                  Sebastião Pereira de Magalhães - CPF: ***.***.001-34 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem_copaibas/COPAIBASELO1.JPG", :target => "_blank"
                %li.list-group-item
                  %strong Selo 2 -
                  Não Informado -
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem_copaibas/COPAIBASELO2.JPG", :target => "_blank"
                %li.list-group-item
                  %strong Selo 3 -
                  Não Informado -
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem_copaibas/COPAIBASELO3.JPG", :target => "_blank"
                %li.list-group-item
                  %strong Selo 4 -
                  Lúcia Helena Lemos - CPF: ***.***.471-00 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem_copaibas/COPAIBASELO4.JPG", :target => "_blank"
                %li.list-group-item
                  %strong Selo 5 -
                  José Rodrigues Lemos Filho - CPF: ***.***.451-15 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem_copaibas/COPAIBASELO5.JPG", :target => "_blank"
                %li.list-group-item
                  %strong Selo 6 -
                  Rafael Eduardo Lemos - CPF: ***.***.061-05 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem_copaibas/COPAIBASELO6.JPG", :target => "_blank"
                %li.list-group-item
                  %strong Selo 7 -
                  Antônio de Padua Lemos - CPF: ***.***.***-** -
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem_copaibas/COPAIBASELO7.JPG", :target => "_blank"
                %li.list-group-item
                  %strong Selo 8 -
                  Ana Lucia da Silva Lemos - CPF: ***.***.***-** -
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem_copaibas/COPAIBASELO8.JPG", :target => "_blank"
                %li.list-group-item
                  %strong Selo 9 -
                  Não Informado -
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem_copaibas/COPAIBASELO9.JPG", :target => "_blank"
                %li.list-group-item
                  %strong Selo 10 -
                  Não Informado -
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem_copaibas/COPAIBASELO10.JPG", :target => "_blank"
                %li.list-group-item
                  %strong Selo 11 -
                  Não Informado -
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem_copaibas/COPAIBASELO11.JPG", :target => "_blank"
                %li.list-group-item
                  %strong Selo 12 -
                  Guilherme Ferreira dos Santos - CPF: ***.***.441-03 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem_copaibas/COPAIBASELO12.JPG", :target => "_blank"
                %li.list-group-item
                  %strong Selo 13 -
                  Alexandre Ribeiro da Silva - CPF: ***.***.***-** -
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem_copaibas/COPAIBASELO13.JPG", :target => "_blank"
                %li.list-group-item
                  %strong Selo 14 -
                  Monica da Silva Candida - CPF: ***.***.331-15 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem_copaibas/COPAIBASELO14.JPG", :target => "_blank"
                %li.list-group-item
                  %strong Selo 15 -
                  Maria Helena da Silva Ferreira - CPF: ***.***.591-34 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem_copaibas/COPAIBASELO15.JPG", :target => "_blank"
                %li.list-group-item
                  %strong Selo 16 -
                  Zildene Marque da Silva - CPF: ***.***.***-** -
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem_copaibas/COPAIBASELO16.JPG", :target => "_blank"
                %li.list-group-item
                  %strong Selo 17 -
                  Lorena da Silva Neves - CPF: ***.***.***-** -
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem_copaibas/COPAIBASELO17.JPG", :target => "_blank"
