.container{:style => "background: #ffffff"}
  .row
    .col-md-12.margint50
      .h3.title_projetos
        Bonsucesso - Área 4
    #area1.col-md-6.custom_cut.margint50
      = image_tag("http://www.codhab.df.gov.br/uploads/archive/files/2c5307aa081ac82ef0dc6299257436dd.jpg")
    .col-md-6.margint50
      #accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
        .panel.panel-default
          #headingOne.panel-heading{:role => "tab"}
            %h4.panel-title-crixa
              %a{"aria-controls" => "collapse1", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapse1", :role => "button"}
                %strong Quadra 1
          #collapse1.panel-collapse.collapse.in{"aria-labelledby" => "heading1", :role => "tabpanel"}
            .panel-body
              %ul.list-group
                %li.list-group-item
                  %strong Selo 1 -
                  Não estava no local - CPF:
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_4/4-01.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 2 -
                  Patricia Alves - CPF: *.***.541-87
                %li.list-group-item
                  %strong Selo 3 -
                  Jemison Sousa - CPF: Não informou
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_4/4-03.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 4 -
                  Daiane de Sousa Santos - CPF: *.***.631-04
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_4/4-04.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 5 -
                  Diego -
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_4/4-05.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 6 -
                  Vera Lucia -  CPF: *.***.901-87
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_4/4-06.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 7 -
                  Não estava no local -
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_4/4-07.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 8 -
                  Francisco Paulo - CPF: não informou
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_4/4-08.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 9 -
                  Eguinaldo de Jesus Oliveira - *.***.651-20
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_4/4-09.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 10 -
                  Evangelista - CPF: não informou
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_4/4-10.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 11 -
                  Moacir Gonçalves  - *.***.201-25
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_4/4-11.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 12 -
                  Rosemaire Gomes - CPF: não informou
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_4/4-12.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 13
                  Ronerval Freitas - CPF: não informou
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_4/4-13.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 14
                  Francisco Carlos - CPF: *.***.291-54
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_4/4-14.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 15 -
                  Não estava no local - CPF:
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_4/4-15.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 16 -
                  Ubirailde de Fatima - CPF: *.***.543-10
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_4/4-16.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 17 -
                  Alexandre Moura - *.***.955-45
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_4/4-17.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 18 -
                  Herz de Sá - CPF: *.***.761-68
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_4/4-18.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 19 -
                  Não estava no local - CPF:
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_4/4-19.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 20 -
                  Paulo da Silva  - CPF: *.***.805-63
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_4/4-20.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 21 -
                  Afonso - CPF: não informou
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_4/4-21.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 22 -
                  Não estava no local
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_4/4-22.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 23 -
                  Netania dos Santos - CPF: *.***.155-03
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_4/4-23.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 24 -
                  Raul Pinto - CPF: não informou
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_4/4-24.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 25 -
                  Não estava no local - CPF:
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_4/4-25.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 26 -
                  Carlos Ribeiro - CPF: não informou
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_4/4-26.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 27 -
                  Manoel Martins - *.***.801-91
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_4/4-27.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 28 -
                  Domingos - CPF: não informou
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_4/4-28.jpg", :target => "_blank"
