.container{:style => "background: #ffffff"}
  .row
    .col-md-12.margint50
      .h3.title_projetos
        Levantamento Bananal
    #area1.col-md-6.custom_cut.margint50
      = image_tag("http://www.codhab.df.gov.br/portal/images/fotos_selagem_bananal/SOFSULMAPA.png")
    .col-md-6.margint50
      #accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
        .panel.panel-default
          #headingOne.panel-heading{:role => "tab"}
            %h4.panel-title-crixa
              %a{"aria-controls" => "collapse1", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapse1", :role => "button"}
                %strong SOF SUL
          #collapse1.panel-collapse.collapse.in{"aria-labelledby" => "heading1", :role => "tabpanel"}
            .panel-body
              %ul.list-group
                %li.list-group-item
                  %strong Selo 1 -
                  Priscila Souza Oliveira - CPF: ***.***.061-08 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem_bananal/SELOBANANAL1.JPG", :target => "_blank"
                %li.list-group-item
                  %strong Selo 2 -
                  Nildete Rodrigues Cavalvante - CPF: ***.***.623-68 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem_bananal/SELOBANANAL2.JPG", :target => "_blank"
                %li.list-group-item
                  %strong Selo 3 -
                  Carmelita Ferreira da Paixão - CPF: ***.***.351-00 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem_bananal/SELOBANANAL3.JPG", :target => "_blank"
                %li.list-group-item
                  %strong Selo 4 -
                  Andrelita Ferreira da Paixão Sousa - CPF: ***.***.871-87 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem_bananal/SELOBANANAL4.JPG", :target => "_blank"
                %li.list-group-item
                  %strong Selo 5 -
                  Elza Maria de Araujo - CPF: ***.***.033-68 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem_bananal/SELOBANANAL5.JPG", :target => "_blank"
                %li.list-group-item
                  %strong Selo 6 -
                  Kelly Bueno Pereira - CPF: ***.***.211-84
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem_bananal/SELOBANANAL6.JPG", :target => "_blank"
                %li.list-group-item
                  %strong Selo 7 -
                  Isaque Bezerra Castro - CPF: ***.***.743-30 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem_bananal/SELOBANANAL7.JPG", :target => "_blank"
                %li.list-group-item
                  %strong Selo 8 -
                  Kenia Bueno Pereira - CPF: ***.***.081-41 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem_bananal/SELOBANANAL8.JPG", :target => "_blank"
                %li.list-group-item
                  %strong Selo 9 -
                  Luciana da Cruz dos Santos - CPF: ***.***.001-01 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem_bananal/SELOBANANAL9.JPG", :target => "_blank"
                %li.list-group-item
                  %strong Selo 10 -
                  Cecilia Marques - CPF: ***.***.571-86 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem_bananal/SELOBANANAL10.JPG", :target => "_blank"
                %li.list-group-item
                  %strong Selo 11 -
                  Gabriel Marques da Silva - CPF: ***.***.991-01 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem_bananal/SELOBANANAL11.JPG", :target => "_blank"
                %li.list-group-item
                  %strong Selo 12 -
                  Gegisbeu Pereira de Quadro - CPF: ***.***.351-16 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem_bananal/SELOBANANAL12.JPG", :target => "_blank"
                %li.list-group-item
                  %strong Selo 13 -
                  Marcelia Alves dos Santos - CPF: ***.***.071-25 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem_bananal/SELOBANANAL13.JPG", :target => "_blank"
                %li.list-group-item
                  %strong Selo 14 -
                  Paulo Sergio Silva dos Passos - CPF: ***.***.823-72 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem_bananal/SELOBANANAL14.JPG", :target => "_blank"
                %li.list-group-item
                  %strong Selo 15 -
                  Maria Elbia Antunes - CPF: ***.***.301-34 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem_bananal/SELOBANANAL15.JPG", :target => "_blank"
                %li.list-group-item
                  %strong Selo 16 -
                  Kellywendy Antunes Araruna - CPF: ***.***.511-14 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem_bananal/SELOBANANAL16.JPG", :target => "_blank"
                %li.list-group-item
                  %strong Selo 17 -
                  Michele Silva de Jesus - CPF: ***.***.151-33 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem_bananal/SELOBANANAL17.JPG", :target => "_blank"
                %li.list-group-item
                  %strong Selo 18 -
                  Elton Lima Silva - CPF: ***.***.491-04 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem_bananal/SELOBANANAL18.JPG", :target => "_blank"
                %li.list-group-item
                  %strong Selo 19 -
                  Jarbas Pereira dos Santos - CPF: ***.***.051-32 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem_bananal/SELOBANANAL19.JPG", :target => "_blank"
                %li.list-group-item
                  %strong Selo 20 -
                  Leandra Mendonha da Silva - CPF: ***.***.981-68 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem_bananal/SELOBANANAL20.JPG", :target => "_blank"
                %li.list-group-item
                  %strong Selo 21 -
                  Eliomar Mendanha da Silva - CPF: ***.***.461-03 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem_bananal/SELOBANANAL21.JPG", :target => "_blank"
                %li.list-group-item
                  %strong Selo 22 -
                  Glaucio Teles de Vasconcelos - CPF: ***.***.421-34 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem_bananal/SELOBANANAL22.JPG", :target => "_blank"
                %li.list-group-item
                  %strong Selo 23 -
                  Edivania Gomes da Silva - CPF: ***.***.861-35 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem_bananal/SELOBANANAL23.JPG", :target => "_blank"
                %li.list-group-item
                  %strong Selo 24 -
                  Deusdeth Gomes da Silva Filho - CPF: ***.***.804-53 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem_bananal/SELOBANANAL24.JPG", :target => "_blank"
                %li.list-group-item
                  %strong Selo 25 -
                  Maria Ilda Matos Ferreira - CPF: ***.***.363-72 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem_bananal/SELOBANANAL25.JPG", :target => "_blank"
                %li.list-group-item
                  %strong Selo 26 -
                  Samia Karoline Alencar do Nascimento - CPF: ***.***.711-92 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem_bananal/SELOBANANAL26.JPG", :target => "_blank"
                %li.list-group-item
                  %strong Selo 27 -
                  Soraia Kenia Alencar do Nascimento - CPF: ***.***.201-26 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem_bananal/SELOBANANAL27.JPG", :target => "_blank"
                %li.list-group-item
                  %strong Selo 28 -
                  Antonia Fernandes Nascimento - CPF: ***.***.801-97 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem_bananal/SELOBANANAL28.JPG", :target => "_blank"
                %li.list-group-item
                  %strong Selo 29 -
                  Rivano Carneiro dos Santos - CPF: ***.***.321-50 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem_bananal/SELOBANANAL29.JPG", :target => "_blank"
                %li.list-group-item
                  %strong Selo 30 -
                  Luiz Antonio da Silva - CPF: ***.***.971-72 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem_bananal/SELOBANANAL30.JPG", :target => "_blank"
                %li.list-group-item
                  %strong Selo 31 -
                  Raimunda da Conceição Gonçalves - CPF: ***.***.381-68 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem_bananal/SELOBANANAL31.JPG", :target => "_blank"
                %li.list-group-item
                  %strong Selo 32 -
                  Antonia Cleide de Oliveira Fonseca Gomes - CPF: ***.***.964-83 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem_bananal/SELOBANANAL32.JPG", :target => "_blank"
                %li.list-group-item
                  %strong Selo 33 -
                  Maria da Penha Gomes - CPF: ***.***.721-91 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem_bananal/SELOBANANAL33.JPG", :target => "_blank"
                %li.list-group-item
                  %strong Selo 34 -
                  Willian Henrique Gomes das Dores - CPF: ***.***.391-96 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem_bananal/SELOBANANAL34.JPG", :target => "_blank"
                %li.list-group-item
                  %strong Selo 35 -
                  Antoniel Cardoso Feitosa - CPF: ***.***.801-16 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem_bananal/SELOBANANAL35.JPG", :target => "_blank"
                %li.list-group-item
                  %strong Selo 36 -
                  Gilberto Oliveira de Menezes - CPF: ***.***.502-06 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem_bananal/SELOBANANAL36.JPG", :target => "_blank"
                %li.list-group-item
                  %strong Selo 37 -
                  Maria Marcia de Oliveira Sousa - CPF: ***.***.791-45 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem_bananal/SELOBANANAL37.JPG", :target => "_blank"
                %li.list-group-item
                  %strong Selo 38 -
                  Talita Sousa Lopes - CPF: ***.***.841-96 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem_bananal/SELOBANANAL38.JPG", :target => "_blank"
                %li.list-group-item
                  %strong Selo 39 -
                  Geyza Karen Dias de Menezes - CPF: ***.***.131-86 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem_bananal/SELOBANANAL39.JPG", :target => "_blank"
                %li.list-group-item
                  %strong Selo 40 -
                  Leidiana Fernades Sousa - CPF: ***.***.291-34 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem_bananal/SELOBANANAL40.JPG", :target => "_blank"
                %li.list-group-item
                  %strong Selo 41 -
                  Rayanne Kristinny Alencar da Silva - CPF: ***.***.381-75 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem_bananal/SELOBANANAL41.JPG", :target => "_blank"
                %li.list-group-item
                  %strong Selo 42 -
                  Leandro Balbino de Souza - CPF: ***.***.495-12 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem_bananal/SELOBANANAL42.JPG", :target => "_blank"
                %li.list-group-item
                  %strong Selo 43 -
                  Kelly da Rocina Brandão - CPF: ***.***.531-60 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem_bananal/SELOBANANAL43.JPG", :target => "_blank"
                %li.list-group-item
                  %strong Selo 44 -
                  Joelma de Farias Eneas - CPF: ***.***.364-04 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem_bananal/SELOBANANAL44.JPG", :target => "_blank"
                %li.list-group-item
                  %strong Selo 45 -
                  Raissa Horrana Marques Chaves - CPF: ***.***.951-28 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem_bananal/SELOBANANAL45.JPG", :target => "_blank"
                %li.list-group-item
                  %strong Selo 46 -
                  Alex Fernandes do Nascimento - CPF: ***.***.621-03 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem_bananal/SELOBANANAL46.JPG", :target => "_blank"
                %li.list-group-item
                  %strong Selo 47 -
                  José Junior Jordão da Silva - CPF: ***.***.621-03 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem_bananal/SELOBANANAL47.JPG", :target => "_blank"
                %li.list-group-item
                  %strong Selo 48 -
                  Gisele Jordão da Silva - CPF: ***.***.671-10 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem_bananal/SELOBANANAL48.JPG", :target => "_blank"
                %li.list-group-item
                  %strong Selo 49 -
                  Danúbia Mangueira de Santana - CPF: ***.***.381-92 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem_bananal/SELOBANANAL49.JPG", :target => "_blank"
                %li.list-group-item
                  %strong Selo 50 -
                  Antonio Altino Batista - CPF: ***.***.486-49 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem_bananal/SELOBANANAL50.JPG", :target => "_blank"
                %li.list-group-item
                  %strong Selo 51 -
                  Leandro de Souza Pereira - CPF: ***.***.421-15 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem_bananal/SELOBANANAL51.JPG", :target => "_blank"
                %li.list-group-item
                  %strong Selo 52 -
                  Luciana de Souza Pereira - CPF: ***.***.521-62 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem_bananal/SELOBANANAL52.JPG", :target => "_blank"
                %li.list-group-item
                  %strong Selo 53 -
                  Juliana de Souza Pereira - CPF: ***.***.421-13 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem_bananal/SELOBANANAL53.JPG", :target => "_blank"
                %li.list-group-item
                  %strong Selo 54 -
                  Mayara Gomes Soares - CPF: ***.***.101-05 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem_bananal/SELOBANANAL54.JPG", :target => "_blank"
                %li.list-group-item
                  %strong Selo 55 -
                  João Neto Tavares Nunes - CPF: ***.***.351-87 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem_bananal/SELOBANANAL55.JPG", :target => "_blank"
                %li.list-group-item
                  %strong Selo 56 -
                  Patricia Evangelista Soares - CPF: ***.***.611-71 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem_bananal/SELOBANANAL56.JPG", :target => "_blank"
                %li.list-group-item
                  %strong Selo 57 -
                  Kathleen Larissa Gomes de Sousa - CPF: ***.***.481-50 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem_bananal/SELOBANANAL57.JPG", :target => "_blank"
                %li.list-group-item
                  %strong Selo 58 -
                  Tatiane Gomes das Dores - CPF: ***.***.971-44 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem_bananal/SELOBANANAL58.JPG", :target => "_blank"
                %li.list-group-item
                  %strong Selo 59 -
                  Marcos Antonio da Silva - CPF: ***.***.391-49 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem_bananal/SELOBANANAL59.JPG", :target => "_blank"
                %li.list-group-item
                  %strong Selo 60 -
                  Junio Gomes das Dores - CPF: ***.***.901-24 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem_bananal/SELOBANANAL60.JPG", :target => "_blank"
                %li.list-group-item
                  %strong Selo 61 -
                  Maria Delita Dias Gomes - CPF: ***.***.075-20 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem_bananal/SELOBANANAL61.JPG", :target => "_blank"
                %li.list-group-item
                  %strong Selo 62 -
                  Daires Moura Morais Fernandes - CPF: ***.***.921-07 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem_bananal/SELOBANANAL62.JPG", :target => "_blank"
                %li.list-group-item
                  %strong Selo 63 -
                  Sara Kelly Alencar do Nascimento - CPF: ***.***.803-66 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem_bananal/SELOBANANAL63.JPG", :target => "_blank"
                %li.list-group-item
                  %strong Selo 64 -
                  Francisco Helio de Oliveira - CPF: ***.***.523-20 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem_bananal/SELOBANANAL64.JPG", :target => "_blank"
                %li.list-group-item
                  %strong Selo 65 -
                  Antonio Carlos da Silva - CPF: ***.***.941-87 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem_bananal/SELOBANANAL65.JPG", :target => "_blank"
                %li.list-group-item
                  %strong Selo 66 -
                  Efigenio Muniz Pereira - CPF: ***.***.045-49 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem_bananal/SELOBANANAL66.JPG", :target => "_blank"
