.container{:style => "background: #ffffff"}
  .row
    .col-md-12.margint50
      .h3.title_projetos
        Bonsucesso - Área 3
    #area1.col-md-6.custom_cut.margint50
      = image_tag("http://www.codhab.df.gov.br/uploads/archive/files/323c3988044db2e73a06db88f1a56a9e.jpg")
    .col-md-6.margint50
      #accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
        .panel.panel-default
          #headingOne.panel-heading{:role => "tab"}
            %h4.panel-title-crixa
              %a{"aria-controls" => "collapse1", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapse1", :role => "button"}
                %strong Quadra 1
          #collapse1.panel-collapse.collapse.in{"aria-labelledby" => "heading1", :role => "tabpanel"}
            .panel-body
              %ul.list-group
                %li.list-group-item
                  %strong Selo 1 -
                  Jorge Batista Ribeiro - CPF: ***.***.750-49
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_3/3-01.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 2 -
                  Jose Vieira Filho - CPF: N/I
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_3/3-02.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 3 -
                  Edivaldo Alves Pereira - CPF: ***.***.731-85
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_3/3-03.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 4 -
                  Antonio Martins da Silva - CPF: ***.***.711-03
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_3/3-04.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 5 -
                  Ademilson Barbosa - CPF: ***.***.381-97
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_3/3-05.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 6 -
                  Não estava no local
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_3/3-06.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 7 -
                  Não estava no local
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_3/3-07.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 8 -
                  Manoel de Almeida Laura - CPF: ***.***.205-00
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_3/3-08.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 9 -
                  Onaldo Mendes de Lima - CPF: ***.***.945-83
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_3/3-09.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 10 -
                  Juciene Bezerra - CPF: ***.***.964-16
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_3/3-10.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 11 -
                  Delcimar da Rocha de Aquino - CPF: ***.***.961-20
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/area_3/3-11.jpg", :target => "_blank"
