.container{:style => "background: #ffffff"}
  .row
    .col-md-12.margint50
      .h3.title_projetos
        Levantamento Crixá - Área 3
    #area1.col-md-6.custom_cut.margint50
      = image_tag("http://www.codhab.df.gov.br/uploads/archive/files/180f72eadfad7f80b3e8fd5b3ebf1442.jpg")
    .col-md-6.margint50
      #accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
        .panel.panel-default
          #headingOne.panel-heading{:role => "tab"}
            %h4.panel-title-crixa
              %a{"aria-controls" => "collapse1", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapse1", :role => "button"}
                %strong Quadra 3 - A
          #collapse1.panel-collapse.collapse.in{"aria-labelledby" => "heading1", :role => "tabpanel"}
            .panel-body
              %ul.list-group
                %li.list-group-item
                  %strong Selo 1 -
                  Osvan Rezende Barbosa - CPF: ***.***.296-71 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/e449c4a204a51f46ad1dd739318cf9b5.JPG", :target => "_blank"
                %li.list-group-item
                  %strong Selo 2 -
                  Casa Vazia -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/2edb815a25193cbf5e54f1ac7d10d0b0.JPG	", :target => "_blank"
                %li.list-group-item
                  %strong Selo 3 -
                  Edvaldo Alberto Simão - CPF: ***.***.667-29 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/111f280722943439bf63b38bcdc2deb0.JPG", :target => "_blank"
                %li.list-group-item
                  %strong Selo 4 -
                  Joseildo Félix dos Reis - CPF: ***.***.285-00 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/5fe7a675a727e3ba2663143906c010f0.JPG", :target => "_blank"
                %li.list-group-item
                  %strong Selo 5 -
                  Casa Vazia -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/f1550a4acdeed541f7fcd26b5f2ddb8f.JPG", :target => "_blank"
                %li.list-group-item
                  %strong Selo 6 -
                  Casa Vazia -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/0ca54648590297a9d8ae5a7a1aa5ce09.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 7 -
                  Casa Vazia -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/a7da616cd322c480cda332d70645abd1.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 8 -
                  José Pereira da Rocha - CPF: ***.***.721-91 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/5d180ccbccd34aa975bb3c21c720695c.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 9 -
                  José Pereira da Rocha - CPF: ***.***.721-91 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/cad1d9a302a1d4ed76d6bc3a0dc95c39.jpg", :target => "_blank"
        .panel.panel-default
          #headingTwo.panel-heading{:role => "tab"}
            %h4.panel-title-crixa
              %a{"aria-controls" => "collapse2", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapse2", :role => "button"}
                %strong Quadra 3 - B
          #collapse2.panel-collapse.collapse{"aria-labelledby" => "heading2", :role => "tabpanel"}
            .panel-body
              %ul.list-group
                %li.list-group-item
                  %strong Selo 1 -
                  Alsuério Mendes Galvão - CPF: ***.***.201-20 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/8ba12c1aa7219324dc3787430a8f4acc.jpeg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 2 -
                  Casa Vazia -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/d1c4876b1d4a7a9dc0c8284e2dea3090.jpeg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 3 -
                  Edivania da silva Lima - CPF: ***.***.461-68 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/14c0331c02d0f2c2b46848b2accc048a.JPG", :target => "_blank"
                %li.list-group-item
                  %strong Selo 4 -
                  David Gomes Oliveira - CPF: ***.***.023-53 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/0ccb5093bd6a99a836bd17dadcad594a.jpeg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 5 -
                  Janileide de Sá Silva - CPF: ***.***.973-46 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/ee7bfca8de309b1b3936b542b91c1ae4.jpeg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 6 -
                  Casa Vazia -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/97808b8aeaa82b96c94af381ea01ea54.jpeg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 7 -
                  Domingas Pereira Santos - CPF: ***.***.751-81 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/95b1d2e85e9274c8db2a8d802c60d9a5.JPG", :target => "_blank"
                %li.list-group-item
                  %strong Selo 8 -
                  Valderino da Costa Souza - CPF: ***.***.025-10 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/34bbd5ac99ef49394804cf1b70a3cbf3.jpeg", :target => "_blank"
        .panel.panel-default
          #heading3.panel-heading{:role => "tab"}
            %h4.panel-title-crixa
              %a.collapsed{"aria-controls" => "collapse3", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapse3", :role => "button"}
                %strong Quadra 3 - C
          #collapse3.panel-collapse.collapse{"aria-labelledby" => "heading3", :role => "tabpanel"}
            .panel-body
              %ul.list-group
                %li.list-group-item
                  %strong Selo 1 -
                  Antenor Ribeiro Alves - CPF: ***.***.051-15 -
                %li.list-group-item
                  %strong Selo 2 -
                  Lote Vazio
                %li.list-group-item
                  %strong Selo 3 -
                  Gilberto Fercondes de Souza - CPF: ***.***.221-46 -
                %li.list-group-item
                  %strong Selo 4 -
                  Lote Vazio
                %li.list-group-item
                  %strong Selo 5 -
                  Edson Ribeiro - CPF: ***.***.511-49 -
                %li.list-group-item
                  %strong Selo 6 -
                  Lote Vazio
                %li.list-group-item
                  %strong Selo 7 -
                  Lote Vazio
                %li.list-group-item
                  %strong Selo 8 -
                  Gilvan Barbosa dos Santos - CPF: ***.***.676-11
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/dc5fb90bc487f1d5ce4210ed863c103d.JPG", :target => "_blank"
                %li.list-group-item
                  %strong Selo 9 -
                  Joelson Ramos dos Santos - CPF: ***.***.481-34 -
                %li.list-group-item
                  %strong Selo 10 -
                  Joelson Ramos dos Santos - CPF: ***.***.753-50 -
                %li.list-group-item
                  %strong Selo 11 -
                  Lote Vazio
                %li.list-group-item
                  %strong Selo 12 -
                  Lote Vazio
                %li.list-group-item
                  %strong Selo 13 -
                  Lote Vazio
                %li.list-group-item
                  %strong Selo 14 -
                  Lote Vazio
                %li.list-group-item
                  %strong Selo 15 -
                  Lote Vazio
                %li.list-group-item
                  %strong Selo 16 -
                  Lote Vazio
                %li.list-group-item
                  %strong Selo 17 -
                  Lote Vazio
                %li.list-group-item
                  %strong Selo 18 -
                  Lote Vazio
        .panel.panel-default
          #heading4.panel-heading{:role => "tab"}
            %h4.panel-title-crixa
              %a.collapsed{"aria-controls" => "collapse4", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapse4", :role => "button"}
                %strong Quadra 3 - D
          #collapse4.panel-collapse.collapse{"aria-labelledby" => "heading3", :role => "tabpanel"}
            .panel-body
              %ul.list-group
                %li.list-group-item
                  %strong Selo 1 -
                  Casa Vazia -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/e59985f8419f342532cfbe5d7bf055dc.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 2 -
                  Edna Lopes Fonseca - CPF: ***.***.906-31 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/5ff9cc522a9083540448079d93afa44e.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 3 -
                  Ricardo dos Santos Pinto - CPF: ***.***.985-97 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/3506a1a0b71cef7edf8162b29fbc7ed9.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 4 -
                  Daise Escorcio Gomes - CPF: ***.***.283-69 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/c156c0337e6f1c072810e6c58d545a00.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 5 -
                  Casa Vazia -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/4a8a1fbe6279389a94ca15b117906443.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 6 -
                  Francisco da Chaga Bento - CPF: ***.***.431-53 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/1a65190c81e8caeec906adacaad4d083.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 7 -
                  Cleusimar Antonio de Santana - CPF: ***.***.456-80 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/3b047e72d6f282c90ad6cdf99691a74d.jpg", :target => "_blank"
                %li.list-group-item
                  %Strong Selo 8 -
                  Casa Vazia -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/1d946b80a616bffd3991008ff3e70c46.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 9 -
                  Lindomar Rosa Santana - CPF: ***.***.581-01 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/d604af62d405a04436a9deba83536969.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 10 -
                  Anderson Tavares Santos - CPF: ***.***.345-08 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/2b572fa240563253afd848d3b0f3f1a9.JPG", :target => "_blank"
                %li.list-group-item
                  %strong Selo 11 -
                  Lote Vazio
                %li.list-group-item
                  %strong Selo 12 -
                  Lote Vazio
                %li.list-group-item
                  %strong Selo 13 -
                  Lote Vazio
                %li.list-group-item
                  %strong Selo 14 -
                  Lote Vazio
                %li.list-group-item
                  %strong Selo 15 -
                  Lote Vazio
                %li.list-group-item
                  %strong Selo 16 -
                  Felipe Lima Sousa - CPF: ***.***.801-46 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/f4b7bc04c000a6b70a706c76466c8bab.jpeg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 17 -
                  Renato Ferreira Barbosa - CPF: ***.***.166-02 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/c3da9ff2a2e92b79dd20d61752bd2aed.jpeg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 18 -
                  Marlene - CPF: ***.***.851-25 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/c3da9ff2a2e92b79dd20d61752bd2aed.jpeg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 19 -
                  Valdemilson Rocha dos Santos - CPF: ***.***.453-18 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/c8d1acfaa4a8f3e4a973ed6d5a57b7b0.JPG", :target => "_blank"
                %li.list-group-item
                  %strong Selo 20 -
                  Lote Vazio -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/b17b8741332ab6ed0879710adebc3200.jpeg", :target => "_blank"
