.container{:style => "background: #ffffff"}
  .row
    .col-md-12.margint50
      .h3.title_projetos
        Levantamento Crixá - Área 1
    #area1.col-md-6.custom_cut.margint50
      = image_tag("http://www.codhab.df.gov.br/uploads/archive/files/fa1688234896c26ff58a76e8b62eab56.jpg")
    .col-md-6.margint50
      #accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
        .panel.panel-default
          #headingOne.panel-heading{:role => "tab"}
            %h4.panel-title-crixa
              %a{"aria-controls" => "collapse1", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapse1", :role => "button"}
                %strong Quadra 1 - A
          #collapse1.panel-collapse.collapse.in{"aria-labelledby" => "heading1", :role => "tabpanel"}
            .panel-body
              %ul.list-group
                %li.list-group-item
                  %strong Selo 1 -
                  Lindete Silva Sousa - CPF: ***.***.841-51 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/f56d385be4f3ed00eef8f7a3cdf68a3d.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 2 -
                  Casa Vazia -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/ae196f3758668354627809e7fdd94d2c.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 3 -
                  Casa Vazia -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/e6885e042dcb9f32840c2421a4097ce3.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 4 -
                  Casa Vazia -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/ced85aa669c4c0d911b6b88061cefc82.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 5 -
                  Maria de Carvalho Lima - CPF: ***.***.811-13 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/aafe642626ede0ec0b9f4feb43f8b748.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 6 -
                  Ana Paula de Carvalho Lima Pereira - CPF: ***.***.308-07 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/3e57ae040b516108d63ac5df11e077a9.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 7 -
                  Adriana Silva Santiago - CPF: ***.***.614-69 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/37d74e0cf92aca2dcb232791405a6141.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 8 -
                  Casa Vazia -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/e35995d74dd8264e459f2e65a2113a46.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 9 -
                  Maria Marinalva dos Santos - CPF: ***.***.845-43 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/18e47cc3859742353f2b46d3fd6d6687.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 10 -
                  Casa Vazia -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/6af86c624e0df33656470ed863d718a1.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 11 -
                  Casa Vazia -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/7c9225fcdc8bf651bd969263c2508482.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 12 -
                  Marco Antonio dos Santos - CPF: ***.***.471-80 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/fc4f1945d8e5baff924e3a443b7849ab.jpg", :target => "_blank"
        .panel.panel-default
          #headingTwo.panel-heading{:role => "tab"}
            %h4.panel-title-crixa
              %a{"aria-controls" => "collapse2", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapse2", :role => "button"}
                %strong Quadra 1 - B
          #collapse2.panel-collapse.collapse{"aria-labelledby" => "heading2", :role => "tabpanel"}
            .panel-body
              %ul.list-group
                %li.list-group-item
                  %strong Selo 1 -
                  Ionildes dos Santos - CPF: ***.***.***-** -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/8e8184e8901fe493b16c20d572143ce1.jpeg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 2 -
                  Casa Vazia -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/0dc76bec16112b75128a447d76b05b87.jpeg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 3 -
                  Cleonete Borges Costa - CPF: ***.***.***-** -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/be45badcee407e7290617f29005d2368.jpeg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 4 -
                  Francisca Andreza Alves de Lima - CPF: ***.***.531-10 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/7c8b4f8819a6b0299d6d9492a3019a83.jpeg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 5 -
                  Juraci Conceição Medrano - CPF: ***.***.585.00 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/83b842f426b874fe960fe851be877fc0.jpeg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 6 -
                  Casa Vazia -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/2af40122f368fc4ab3b1c88bd70a82fc.jpeg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 7 -
                  Casa Vazia -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/ea2fa6f73659fecc0900e0418a219e23.jpeg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 8 -
                  Sanderly Guimarães Damasceno - CPF: ***.***.181.71 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/d987306496b47690bd26c1173f888942.jpeg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 9 -
                  Zailton de Souza Santos - CPF: ***.***.621.04 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/081900872a1ef64462a277e4be2a958f.jpeg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 10 -
                  Nonato Romualdo Reis Costa - CPF: ***.***.661.34 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/7d63cc20cb4f8cdad669688e30301532.jpeg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 11 -
                  Casa Vazia -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/d2e8c07dee1991b0e82ed15ec720ed6a.jpeg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 12 -
                  Paulina Alves de Morais - CPF: ***.***.751.87 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/5802ab83b95a76c2daf6bd94948d5996.jpeg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 13 -
                  Vanda Aparecida Alves de Andrade - CPF: ***.***.781.06 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/d433313167d93d96b84fefd0a1c125d3.jpeg", :target => "_blank"
        .panel.panel-default
          #heading3.panel-heading{:role => "tab"}
            %h4.panel-title-crixa
              %a.collapsed{"aria-controls" => "collapse3", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapse3", :role => "button"}
                %strong Quadra 1 - C
          #collapse3.panel-collapse.collapse{"aria-labelledby" => "heading3", :role => "tabpanel"}
            .panel-body
              %ul.list-group
                %li.list-group-item
                  %strong Selo 1 -
                  Casa Vazia -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/71a0e90506df41b235a770e6bb531f33.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 2 -
                  Lote Vazio -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/0aa0b1df49677d792314fa2599082d8c.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 3 -
                  Casa Vazia -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/686128972b42d7a2033c9a2c187d7a1b.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 4 -
                  Elisangela Guimarães Damasceno - CPF: ***.***.323-49 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/07a8c1b30a44da349ea025e995899737.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 5 -
                  Lote Vazio -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/2ec944b306e706620983f0380bb05f69.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 6 -
                  Lote Vazio -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/e03ae9b404a06b55fbefc85bdc63fce7.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 7 -
                  Lote Vazio -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/4b6d3d2fc6e7a59d7cfacac15ba53c9d.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 8 -
                  Beatriz Andrade dos Santos - CPF: ***.***.241-02 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/64a0355078d24acfd9fa55bd5810bbd9.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 9 -
                  Casa Vazia -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/7c0f865906d11efb9159704fcda18d32.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 10 -
                  Casa Vazia -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/c3112c294508e5ae81a043b32bae854b.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 11 -
                  Casa Vazia -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/8e4bdcb8bf18ddc892e7ee54b0613a1c.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 12 -
                  Lote Vazio -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/b5d8ec37610536172495a4f5c5acf8ce.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 13 -
                  Lote Vazio -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/734549dc7bd6c24b0832258881b4e50c.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 14 -
                  Casa Vazia -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/0f223f5155847e7e2b140a1851eb07a0.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 15 -
                  Valdines da Silva Aguiar - CPF: ***.***.393-04 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/a095f957a32ccaaed162695acda8d0ea.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 16 -
                  Casa Vazia -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/4ac366c4627930c97ab8d4dfdb3afea6.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 17 -
                  Casa Vazia -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/2f3976726dc29ac9e39185126d6ad21c.jpg", :target => "_blank"
        .panel.panel-default
          #heading4.panel-heading{:role => "tab"}
            %h4.panel-title-crixa
              %a.collapsed{"aria-controls" => "collapse4", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapse4", :role => "button"}
                %strong Quadra 1 - D
          #collapse4.panel-collapse.collapse{"aria-labelledby" => "heading3", :role => "tabpanel"}
            .panel-body
              %ul.list-group
                %li.list-group-item
                  %strong Selo 1 -
                  Casa Vazia -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/2ca65eb217d3d477b6a263725299e0c8.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 2 -
                  Lote Vazio -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/f00cbd821994803db3376fa2cde26efb.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 3 -
                  Zenilda Veronica de Souza - CPF: ***.***.375-88 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/9ac143acad9bc5261137e378b059069d.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 4 -
                  Adilton Rodrigues alvez - CPF: ***.***.375-88 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/16e02624c20047267a3ac7618be5fed0.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 5 -
                  Casa Vazia -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/e964a0c53a3778a45d71a461c8ce68f2.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 6 -
                  Joaquin Costa Cirqueira - CPF: ***.***.301-82 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/7cbb6d305caa680b751c41a4b1d916f5.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 7 -
                  Deijanir de Souza - CPF: ***.***.401-48 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/37083390001e742b0e5623a3d627cad1.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 8 -
                  Maria do Carmo Moreira da Silva - CPF: ***.***.981-91 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/d19230400400e2be4b0bc4e8f958166b.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 9 -
                  Lote Vazio
                %li.list-group-item
                  %strong Selo 10 -
                  Claiton Ferreira Wanderley - CPF: ***.***.471-20 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/496384752ed34dfad587f54e1b32b9f9.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 11 -
                  Riardo de Souza - CPF: ***.***.571-04 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/a5610827385ab305b6aad0e28e830069.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 12 -
                  Maria Aparecida P. de Souza - CPF: ***.***.635-87 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/a72212a621e1df00cc8d17acb321e6a9.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 13 -
                  Lote Vazio -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/6662e4a377a9df2fe9c0ab484920f9d2.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 14 -
                  Casa Vazia -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/ac89b736b05744a95da92fa6739ae2b4.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 15 -
                  Casa Vazia -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/8a80480ca86fc41e412d81203e74c733.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 16 -
                  Lote Vazio -
                  = link_to "Foto", "	http://www.codhab.df.gov.br/uploads/archive/files/5b52fa486800a06efca2b1f8e7fb7f15.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 17 -
                  Casa Vazia -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/3cd344ccee59afebcc8b3ad35dd613e3.jpg", :target => "_blank"
        .panel.panel-default-crixa
          #heading5.panel-heading{:role => "tab"}
            %h4.panel-title-crixa
              %a.collapsed{"aria-controls" => "collapse5", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapse5", :role => "button"}
                %strong Quadra 1 - E
          #collapse5.panel-collapse.collapse{"aria-labelledby" => "heading3", :role => "tabpanel"}
            .panel-body
              %ul.list-group
                %li.list-group-item
                  %strong Selo 1 -
                  Lote Vazio
                %li.list-group-item
                  %strong Selo 2 -
                  Casa Vazia -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/caa2d29d5f504b1523ca5eb352190fc7.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 3 -
                  Casa Vazia -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/58986e4531dd32642c2e023b094265e5.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 4 -
                  Jones Pereira de Azevedo - CPF: ***.***.835-49 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/05a8047a71f8531ea8512d75fa54bbfd.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 5 -
                  Andressa Pereira da Costa - CPF: ***.***.211-63 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/98eb463e300b36f1dd2d68a10db03db1.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 6 -
                  Casa Vazia -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/59fa9f2716d11ecd2f72af00f1b88121.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 7 -
                  Antônio Carlos de Carvalho Lima - CPF: ***.***.***-** -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/3a038de8b53cb6cc12d1e469bdd79042.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 8 -
                  Casa Vazia -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/76ee3b0f81f83b05e28f9f2fdffde0d1.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 9 -
                  Casa Vazia -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/cc9fb8044ac285b1295f3c29d3406f4e.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 10 -
                  Lote Vazio
                %li.list-group-item
                  %strong Selo 11 -
                  Casa Vazia -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/fdec2a4eeb8379ee987ab26290c97114.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 12 -
                  Rosemar Rosa - CPF: ***.***.751-87 -

                %li.list-group-item
                  %strong Selo 13 -
                  Casa Vazia -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/a080e44596a122abd5d7ba605e65bccb.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 14 -
                  Ednalva Freits Rodrigues Silva - CPF: ***.***.713-06 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/da57f989aed8868648b6534342d623c8.jpg", :target => "_blank"
        .panel.panel-default
          #heading6.panel-heading{:role => "tab"}
            %h4.panel-title-crixa
              %a.collapsed{"aria-controls" => "collapse6", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapse6", :role => "button"}
                %strong Quadra 1 - F
          #collapse6.panel-collapse.collapse{"aria-labelledby" => "heading3", :role => "tabpanel"}
            .panel-body
              %ul.list-group
                %li.list-group-item
                  %strong Selo 1 -
                  Raimundo Henrique Leal de Sousa - CPF: ***.***.***-** -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/675a80007ad165dc02fa7f95cb47235c.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 2 -
                  Marilia José Machado - CPF: ***.***.971-98 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/adfb4ced3367f675b1d2d5e2b4ce85e9.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 3 -
                  Marivalda Pereira Miranda Lima - CPF: ***.***.353-91 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/7167f80b886efd086d8f05e579808f03.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 4 -
                  Casa Vazia -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/68ab74dfd9ff626eecf3af8881c1f77e.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 5 -
                  Casa Vazia -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/d543ae6c0ffb5ba9d3cb633f2aa8bf65.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 6 -
                  Casa Vazia -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/c98cc7de7e1bd8262820efa987698f4b.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 7 -
                  Casa Vazia -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/52da88e2d9f539f3f97b47a2e483b7f2.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 8 -
                  Lote Vazio
                %li.list-group-item
                  %strong Selo 9 -
                  Sinara Rodrigues da Silva - CPF: ***.***.***-** -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/c1293787f19cea4bcc1cc16cdcca4e92.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 10 -
                  Anilson Maria Teixeira - CPF: ***.***.936-41 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/ff506f478bc4301883872d4f52a5fe8b.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 11 -
                  Lote Vazio -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/df32529e7d8ac9c9f6a8b6f1e7bc6f39.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 12 -
                  Lote Vazio -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/5cff1650dbdd2250a99a9d533cd39903.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 13 -
                  Lote Vazio -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/175f6ab9df028b30a1b92585cefcc9ff.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 14 -
                  Lote Vazio -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/0fbe6378c3f0c7f790119c6733459ee3.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 15 -
                  Lote Vazio -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/2a4691e01d720eaefce097de68d9032b.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 16 -
                  Ronadilson Martins de Araújo - CPF: ***.***.406-20 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/23223c97c4db719f884fa5010e6b639f.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 17 -
                  Lote Vazio -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/3718a9d52c472b8f099bed17c99a5bec.jpg", :target => "_blank"
        .panel.panel-default
          #heading7.panel-heading{:role => "tab"}
            %h4.panel-title-crixa
              %a.collapsed{"aria-controls" => "collapse6", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapse7", :role => "button"}
                %strong Quadra 1 - G
          #collapse7.panel-collapse.collapse{"aria-labelledby" => "heading3", :role => "tabpanel"}
            .panel-body
              %ul.list-group
                %li.list-group-item
                  %strong Selo 1 -
                  Hildemilson Pereira de Souza - CPF: ***.***.445-10 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/3cf4fa7d8e7e018b852530c52626d8ee.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 2 -
                  Edinalva Freitas Rodrigues Silva - CPF: ***.***.713-06 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/3d30a07657219326f5b5b550282cef7a.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 3 -
                  Rosemar Rosa - CPF: ***.***.751-87 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/3bfde2bea71f3d818ce943860bc1c407.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 4 -
                  Donizete Ferreira - CPF: ***.***.206-34 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/f6837f4292e224ac56eac69b0729778b.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 5 -
                  Lote Vazio
                %li.list-group-item
                  %strong Selo 6 -
                  Casa Vazia -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/0242506e42c4a1556b1e4a44a3214cdf.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 7 -
                  Casa Vazia -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/dbb586004fb163998107ba46f56bc904.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 8 -
                  Casa Vazia -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/4aa45a8e40a871f1ccb080ef08b04cf1.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 9 -
                  Lote Vazio -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/ca2145fc4c3a1b672a72efb8a9777109.jpg", :target => "_blank"
