.container{:style => "background: #ffffff"}
  .row
    .col-md-12.margint50
      .h3.title_projetos
        Levantamento Crixá - Área 5
    #area1.col-md-6.custom_cut.margint50
      = image_tag("http://www.codhab.df.gov.br/uploads/archive/files/680e727cf313256ce60ad026379d63fb.jpg")
    .col-md-6.margint50
      #accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
        .panel.panel-default
          #headingOne.panel-heading{:role => "tab"}
            %h4.panel-title-crixa
              %a{"aria-controls" => "collapse1", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapse1", :role => "button"}
                %strong Quadra 5 - A
          #collapse1.panel-collapse.collapse.in{"aria-labelledby" => "heading1", :role => "tabpanel"}
            .panel-body
              %ul.list-group
                %li.list-group-item
                  %strong Selo 1 -
                  Gildasio Morais de Sousa - CPF: ***.***.461-72
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/1ccdd0f62b603751b84574107c6e3691.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 2 -
                  Casa Vazia -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/cb63bed69e7d76b650d2f1a6caa803fb.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 3 -
                  Delmicio dos Santos Silva - CPF: ***.***.831-53
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/212e9b461d401710ba85185c3ec93997.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 4 -
                  Marcos de Brito - CPF: ***.***.431-57 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/9d621db116cc484d56b9faadbb4185e7.jpg	", :target => "_blank"
                %li.list-group-item
                  %strong Selo 5 -
                  Maria Joselina Rodrigues Lopes - CPF: ***.***.***-** -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/5c43bd25077c79facc164b0cd7ffb104.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 6 -
                  Cleciana Rodrigues Regis - CPF: ***.***.931-89 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/e0d11a90ae2ac7618a6f0bd72f8b3a94.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 7 -
                  Casa Vazia -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/ae7bbcf227035bc555cb864d56c8483b.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 8 -
                  Igor Pereira de Souza - CPF: ***.***.866-20 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/01751d1c9bdb6e66e82790021e36ca49.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 20 -
                  Joice Ornelas de Sena - CPF: ***.***.666-59 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/04ef29d3670ff6d19d5befd2686f38ba.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 21 -
                  Edimaura Almeida Raimundo - CPF: ***.***.605-29
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/7753eb84b94a86451e83587eb8833f19.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 22 -
                  Casa Vazia -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/4d2338e2dda680973628e4bfd1d927cb.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 23 -
                  Antonio Carvalho de Souza - CPF: ***.***.283-87
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/1e88118e2ba3fdfdf2bc7fdc1fd86657.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 24 -
                  Patrício de Carvalho Souza - CPF: ***.***.435-26
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/2d7118fa611f85bcf2d3470bfc27cff1.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 25 -
                  Casa Vazia -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/a4c2a93bc1f7c9f3b49e75404e2a319a.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 26 -
                  Lucilene Lopes de Moraes Silva - CPF: ***.***.783-68 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/a4ef78fc80e914d3ef5235bdd52f3365.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 27 -
                  Antonio de Jesus Lima de Souza - CPF: ***.***.371-96 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/0204bbcaef535ce5183ff815e1f48eaa.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 28 -
                  Casa Vazia -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/9c4209d4a42bcdc25f6df33b59a96ec3.jpg", :target => "_blank"
        .panel.panel-default
          #headingTwo.panel-heading{:role => "tab"}
            %h4.panel-title-crixa
              %a{"aria-controls" => "collapse2", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapse2", :role => "button"}
                %strong Quadra 5 - B
          #collapse2.panel-collapse.collapse{"aria-labelledby" => "heading2", :role => "tabpanel"}
            .panel-body
              %ul.list-group
                %li.list-group-item
                  %strong Selo 1 -
                  Gislene Santos de Oliveira - CPF: ***.***.801-49 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/5509bd66c68e6982f1c9b962bf0abaa7.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 2 -
                  Josmar Santos de Oliveira - CPF: ***.***.***-** -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/cc0c4b6a90bd0ace17d27024c939455e.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 3 -
                  Oneide Pereira Damasceno - CPF: ***.***.***-** -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/04a92ad6279b2eae72e49e46ca957755.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 4 -
                  Tiago da Silva Gonçalves - CPF: ***.***.571-70 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/84f03e59e981638fdc4a3cee429d2b8d.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 5 -
                  Roney - CPF: ***.***.***-** -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/be50fc203014f0c398c8db4875fc2595.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 6 -
                  Casa Vazia -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/4aa89ee78e4425a0e2679860083c5e9c.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 7 -
                  Casa Vazia -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/ec0d47628b2ba7842d813f82bd718f90.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 8 -
                  Casa Vazia -
        .panel.panel-default
          #heading3.panel-heading{:role => "tab"}
            %h4.panel-title-crixa
              %a.collapsed{"aria-controls" => "collapse3", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapse3", :role => "button"}
                %strong Quadra 5 - C
          #collapse3.panel-collapse.collapse{"aria-labelledby" => "heading3", :role => "tabpanel"}
            .panel-body
              %ul.list-group
                %li.list-group-item
                  %strong Selo 1 -
                  Laison Silva Barros - CPF: ***.***.393-08 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/10e1803be2ed0f74314dd87be8ecbcfa.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 2 -
                  Andreilson Soares de Lima - CPF: ***.***.701-30 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/3a43aff6c6d2f087ec8dbf5de3493b3a.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 3 -
                  Casa Vazia -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/2668ed63e7c2bfbace058647e8d218fb.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 4 -
                  Casa Vazia -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/7b4c4dacf100b34d6bf7551f15173872.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 5 -
                  Casa Vazia -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/f5b1c28fbe35c324cd06a707f5528b9c.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 6 -
                  Maria de Conceição Carvalho de Souza - CPF: ***.***.703-25 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/847d374b454c22518c8c6776f16fcda2.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 7 -
                  Alane de Jesus Santos - CPF: ***.***.551-79 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/b64f64ab0000462fbd571a0a3998a5d0.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 8 -
                  Vanderlei Pereira Lacerda - CPF: ***.***.328-77 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/f9094a6836e566f3552453a097613664.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 9 -
                  Casa Vazia -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/99b5905b66ce75aa2ebac17dbf06010a.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 10 -
                  Casa Vazia -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/30af188512f3e4995b3d8a4eb132e130.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 11 -
                  Joaquin Cruvinel de Lima - CPF: ***.***.561-15 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/d9a7b270f1b123259e0d3dcea1ca3c20.jpg", :target => "_blank"
