.container{:style => "background: #ffffff"}
  .row
    .col-md-12.margint50
      .h3.title_projetos
        Levantamento Crixá - Área 2
    #area1.col-md-6.custom_cut.margint50
      = image_tag("http://www.codhab.df.gov.br/uploads/archive/files/3d17653c2e6439f738778682eeab40ae.jpg")
    .col-md-6.margint50
      #accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
        .panel.panel-default
          #headingOne.panel-heading{:role => "tab"}
            %h4.panel-title-crixa
              %a{"aria-controls" => "collapse1", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapse1", :role => "button"}
                %strong Quadra 2 - A
          #collapse1.panel-collapse.collapse.in{"aria-labelledby" => "heading1", :role => "tabpanel"}
            .panel-body
              %ul.list-group
                %li.list-group-item
                  %strong Selo 1 -
                  Centro de Promoção Humana - CNPJ: 12.437.721/0001-42 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/77a7bce3a1e9e3b916b933a1a60a5c68.JPG", :target => "_blank"
                %li.list-group-item
                  %strong Selo 2 -
                  Waldemir José dos Santos - CPF: ***.***.515-72 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/1f547765274db6854043cd674e81c50e.JPG", :target => "_blank"
        .panel.panel-default
          #headingTwo.panel-heading{:role => "tab"}
            %h4.panel-title-crixa
              %a{"aria-controls" => "collapse2", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapse2", :role => "button"}
                %strong Quadra 2 - B
          #collapse2.panel-collapse.collapse{"aria-labelledby" => "heading2", :role => "tabpanel"}
            .panel-body
              %ul.list-group
                %li.list-group-item
                  %strong Selo 1 -
                  Casa Vazia -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/eafe0d31092e45e3232ff2e037ca5724.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 2 -
                  Arthur Lourenzo Santos Bezerra - CPF: ***.***.961-02
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/2ba30712e75f54a517d38463c1ba5faa.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 3 -
                  Lote Vazio -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/8dded519fe284fb9929b49b90306333d.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 4 -
                  Casa Vazia -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/e598d25514ba37daef7413594dcc7c4b.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 5 -
                  Isaac Fernandes da Silva - CPF: ***.***.921-95 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/981644d8434873d2c7706211ba1db6f9.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 6 -
                  Caroline Rodrigues de Souza - CPF: ***.***.761-73 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/23b464250567f8b59c4d1778f51aa0d0.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 7 -
                  Gilberto Bispo Santos - CPF: ***.***.051-90 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/f238e5117e0d90938c796178adb2607d.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 8 -
                  Adriana Maria de Almeida - CPF: ***.***.801-00 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/b550db6dc28916ac54218f6dc211bcf0.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 9 -
                  Gislene Batista Dias - CPF: ***.***.081-32 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/56d197d7bb104a6005e08dc6ab81e930.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 10 -
                  Enos Pereira da Silva - CPF: ***.***.931-04 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/dc8b791d896e22a33b5edd91e2fc4658.jpg", :target => "_blank"
        .panel.panel-default
          #heading3.panel-heading{:role => "tab"}
            %h4.panel-title-crixa
              %a.collapsed{"aria-controls" => "collapse3", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapse3", :role => "button"}
                %strong Quadra 2 - C
          #collapse3.panel-collapse.collapse{"aria-labelledby" => "heading3", :role => "tabpanel"}
            .panel-body
              %ul.list-group
                %li.list-group-item
                  %strong Selo 1 -
                  Lote Vazio
                %li.list-group-item
                  %strong Selo 2 -
                  Helena de Matos Rodrigues - CPF: ***.***.***-** -
                %li.list-group-item
                  %strong Selo 3 -
                  Lote Vazio
                %li.list-group-item
                  %strong Selo 4 -
                  Lote Vazio
                %li.list-group-item
                  %strong Selo 5 -
                  Lote Vazio
                %li.list-group-item
                  %strong Selo 6 -
                  Lote Vazio
                %li.list-group-item
                  %strong Selo 7 -
                  Cosme Dimião Sarmento de Sousa - CPF: ***.***.291-34 -
                %li.list-group-item
                  %strong Selo 8 -
                  João Rocha de Carvalho - CPF: ***.***.501-15 -
                %li.list-group-item
                  %strong Selo 9 -
                  Lote Vazio
                %li.list-group-item
                  %strong Selo 10 -
                  Lote Vazio
                %li.list-group-item
                  %strong Selo 11 -
                  Lote Vazio
                %li.list-group-item
                  %strong Selo 12 -
                  Lote Vazio
        .panel.panel-default
          #heading4.panel-heading{:role => "tab"}
            %h4.panel-title-crixa
              %a.collapsed{"aria-controls" => "collapse4", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapse4", :role => "button"}
                %strong Quadra 2 - D
          #collapse4.panel-collapse.collapse{"aria-labelledby" => "heading3", :role => "tabpanel"}
            .panel-body
              %ul.list-group
                %li.list-group-item
                  %strong Selo 1 -
                  Casa Vazia -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/8d673b69610f54086fa12492fd34bcfd.JPG", :target => "_blank"
                %li.list-group-item
                  %strong Selo 2 -
                  Maria José Lima de Sousa - CPF: ***.***.153-91 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/e72ff0a51eabe627f3be8e23cfc2ea42.JPG", :target => "_blank"
                %li.list-group-item
                  %strong Selo 3 -
                  Regina Sousa Lima - CPF: ***.***.501-92
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/a09e35e1f8849eac044c0932d2fbe746.JPG", :target => "_blank"
                %li.list-group-item
                  %strong Selo 4 -
                  Germano de Oliveira Carvalho - CPF: ***.***.***-** -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/b67cbabe17d76d0807106c2ff95ee23f.JPG", :target => "_blank"
                %li.list-group-item
                  %strong Selo 5 -
                  Casa Vazia -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/fb4d50a4ab7540faa4819fe93b40058f.JPG", :target => "_blank"
                %li.list-group-item
                  %strong Selo 6 -
                  Edilson Borges da Silva - CPF: ***.***.311-25 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/24d2810b41ade93154663286a1dd6521.JPG", :target => "_blank"
                %li.list-group-item
                  %strong Selo 7 -
                  Casa Vazia -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/1e8bdb30852454d1def3cc7981ce56c2.JPG", :target => "_blank"
                %li.list-group-item
                  %strong Selo 8 -
                  Isabela de Matos Lima - CPF: ***.***.271-00 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/c38d0d7700cad638354acd01490b5993.JPG", :target => "_blank"
                %li.list-group-item
                  %strong Selo 9 -
                  Marlone Da Silva Ferreira - CPF: ***.***.694-90 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/a2204cfd3d4f3273a125fa024cad841d.JPG", :target => "_blank"
                %li.list-group-item
                  %strong Selo 10 -
                  Delcio Monteiro Guimarães - CPF: ***.***.601-04 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/2c7b4a5e136e28dfc1c99a5cd9817cf3.JPG", :target => "_blank"
                %li.list-group-item
                  %strong Selo 11 -
                  Rosilene Rocha dos Santos - CPF: ***.***.371-04 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/eb63a782eda0c1208d95eab25be55e99.JPG", :target => "_blank"
                %li.list-group-item
                  %Strong Selo 12 -
                  Adão Pedro Nunes da Mata - CPF: ***.***.***-** -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/9842139ca88d0868db3ecee57a907606.JPG", :target => "_blank"
                %li.list-group-item
                  %strong Selo 13 -
                  Casa Vazia -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/409ae75eccc281738bcba3c32057c0fe.JPG", :target => "_blank"
                %li.list-group-item
                  %strong Selo 14 -
                  Elder Cantanitede  - CPF: ***.***.631-75 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/2cb392031c39b9a64d927fc8865f2286.JPG", :target => "_blank"
                %li.list-group-item
                  %strong Selo 15 -
                  Casa Vazia -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/1914e2f34a51ae6c456319c3f003bb5d.JPG", :target => "_blank"
                %li.list-group-item
                  %strong Selo 16 -
                  Lilian Gama de Sousa Pereira  - CPF: ***.***.***-** -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/e1c8abdcf176d655bdf93ed53d075752.JPG", :target => "_blank"
                %li.list-group-item
                  %strong Selo 17 -
                  Casa Vazia -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/31630f1e1d470cbc2670e1bc296e682a.JPG", :target => "_blank"
        .panel.panel-default-crixa
          #heading5.panel-heading{:role => "tab"}
            %h4.panel-title-crixa
              %a.collapsed{"aria-controls" => "collapse5", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapse5", :role => "button"}
                %strong Quadra 2 - E
          #collapse5.panel-collapse.collapse{"aria-labelledby" => "heading3", :role => "tabpanel"}
            .panel-body
              %ul.list-group
                %li.list-group-item
                  %strong Selo 1 -
                  Lote Vazio
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/crixa2e/2-E-01.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 2 -
                  Stephanie Leticia Moraes  - CPF: ***.***.281-90 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/646c9454cc6b1bdbf649c8a8e1a7df1e.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 3 -
                  José Ferreira Evangelista Filho  - CPF: ***.***.335-00 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/crixa2e/2-E-03.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 4 -
                  Lindomar Alves dos Santos  - CPF: ***.***.201-15 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/crixa2e/2-E-04.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 5 -
                  Espedito Ferreira  - CPF: ***.***.864-80 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/crixa2e/2-E-05.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 6 -
                  Reginaldo Ferreira Jorge  - CPF: ***.***.***-** -
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/crixa2e/2-E-6.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 7 -
                  Lote Vazio
                %li.list-group-item
                  %strong Selo 8 -
                  José Carlos Gino  - CPF: ***.***.001-59 -
                %li.list-group-item
                  %strong Selo 9 -
                  Igreja
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/crixa2e/2-E-09.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 10 -
                  Lote Vazio
                  = link_to "Foto", "http://www.codhab.df.gov.br/portal/images/fotos_selagem/crixa2e/2-E-10.jpg", :target => "_blank"
        .panel.panel-default
          #heading6.panel-heading{:role => "tab"}
            %h4.panel-title-crixa
              %a.collapsed{"aria-controls" => "collapse6", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapse6", :role => "button"}
                %strong Quadra 2 - F
          #collapse6.panel-collapse.collapse{"aria-labelledby" => "heading3", :role => "tabpanel"}
            .panel-body
              %ul.list-group
                %li.list-group-item
                  %strong Selo 1 -
                  Casa Vazia -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/3367d6d78f5f33237c04295d06d1de68.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 2 -
                  Casa Vazia -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/c5eb9422107adc2bc9c3f76fa2b48d97.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 3 -
                  Casa Vazia -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/464f2e0aed2bef8eb148cd5be4b4d3a5.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 4 -
                  Casa Vazia -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/912d34db71df28150efacefa3d3de251.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 5 -
                  Ademilton Souza Santos  - CPF: ***.***.***-** -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/6b7d5239f780e4d3f1e9a0edb7eb17fb.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 6 -
                  Lote Vazio -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/7e79a2a50a4a4a6d1dca9ca6b1438183.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 7 -
                  Francisca Natalia  - CPF: ***.***.401-33 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/08913a937124f16013d0c8f826c391a0.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 8 -
                  Casa Vazia -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/87ae8e9b18fa8cf860e5bc64ca547356.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 9 -
                  Casa Vazia -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/e0d4885e884f8369ba74f148cfe8c26b.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 10 -
                  Claudete Rodrigues  - CPF: ***.***.***-** -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/933990c2fa3cd712d6b24a54c351754b.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 11 -
                  Maria Helena Pires  - CPF: ***.***.911-72 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/47536aa3936de2c9b0a2e7478f9c28bc.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 12 -
                  Gildete Ribeiro de Souza  - CPF: ***.***.***-** -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/813d9cf2824d316522213ca36916d5f4.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 13 -
                  Nubia Ferreira  - CPF: ***.***.***-** -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/10da15fda4a98d7f342a2905a4c0c287.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 14 -
                  Lote Vazio
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/c08a33539dcc24f58537de84a084a83f.jpg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 15 -
                  Lote Vazio
                %li.list-group-item
                  %strong Selo 16 -
                  Dayane Cordeiro de Castro  - CPF: ***.***.224-70 -
                %li.list-group-item
                  %strong Selo 17 -
                  Regina Pereira da Silva  - CPF: ***.***.313-82 -
                %li.list-group-item
                  %strong Selo 18 -
                  Lote Vazio
        .panel.panel-default
          #heading7.panel-heading{:role => "tab"}
            %h4.panel-title-crixa
              %a.collapsed{"aria-controls" => "collapse6", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapse7", :role => "button"}
                %strong Quadra 2 - G
          #collapse7.panel-collapse.collapse{"aria-labelledby" => "heading3", :role => "tabpanel"}
            .panel-body
              %ul.list-group
                %li.list-group-item
                  %strong Selo 1 -
                  Lote Vazio -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/19536f8a1f4ac6c74fdf96a490607a3b.jpeg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 2 -
                  Lote Vazio -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/eff055110173f0aa30baf86f91439a64.jpeg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 3 -
                  Casa Vazia -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/4f7ed7c109384019b6e7238c0359a8cf.jpeg	", :target => "_blank"
                %li.list-group-item
                  %strong Selo 4 -
                  Roselia Félix Santos  - CPF: ***.***.573-43 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/b4b49a1659838f01edd29570e9dfbdf0.jpeg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 5 -
                  Patrícia Francisca de Queiroz - CPF: ***.***.996-66
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/f4ec61ea7cc453052ee6eeea5bc6d406.jpeg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 6 -
                  Lote Vazio -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/582d29b16e6e2d84fc9bf9b6b9bc48c3.jpeg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 7 -
                  Lote Vazio -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/391d035e427a12be0849053c8741aeea.jpeg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 8 -
                  Casa Vazia -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/07e639fb2cd94f7cadc7cb86e93cbd75.jpeg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 9 -
                  Casa Vazia -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/579ef291083067daaba2eadfa5d26292.jpeg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 10 -
                  Casa Vazia -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/0ad40ab7f9824e31aee9cc5cc55a9415.jpeg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 11 -
                  Lote Vazio -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/8edda689720f21b5209803d9b93d786a.jpeg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 12 -
                  Pablo Silvestre Alves de Sousa  - CPF: ***.***.593-07 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/73005a07440cce4a5c3a7d4c9b111650.jpeg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 13 -
                  Casa Vazia -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/754bff1d3e8cda96ed2260f1e6a3df76.jpeg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 14 -
                  Lote Vazio -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/a860f2f8628dad7fa589a9e27272753c.jpeg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 15 -
                  Lote Vazio -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/17fd8bfee635cca27ae707e648d3c634.jpeg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 16 -
                  Erivelton Oliveira Lisboa  - CPF: ***.***.461-52 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/d487dc34e3809dddbae5ee42dd8d6f06.jpeg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 17 -
                  Lote Vazio -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/723a0804564b2eb2507de65ad407aa63.jpeg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 18 -
                  Casa Vazia -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/a778f9994b5d99b5b30614e5bde0f42e.jpeg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 19 -
                  Charley Ferreira da Silva  - CPF: ***.***.831-15 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/17fd8bfee635cca27ae707e648d3c634.jpeg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 20 -
                  Casa Vazia -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/e4e5cff2c66c7f481625255428648684.jpeg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 21 -
                  Edson Lopes Fonseca  - CPF: ***.***.461-11 -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/b007f1cc5eccbaa5500c1ded73d355e6.jpeg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 22 -
                  Elen Cristina Nascimento  - CPF: ***.***.***-** -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/88515965e22fd5eb512ec8459ad20990.jpeg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 23 -
                  Lote Vazio -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/bf033bd2dbe968cc7cb2b20e3de35f7a.jpeg", :target => "_blank"
                %li.list-group-item
                  %strong Selo 24 -
                  Lote Vazio -
                  = link_to "Foto", "http://www.codhab.df.gov.br/uploads/archive/files/cc24677678a70a10b6755b6b536f5771.jpeg", :target => "_blank"
