= simple_form_for @user do |f|
  .row
    .col-md-6
      = f.input :name, label: "Nome completo ou Nome fantasia", placeholder: "Informe o nome"
    .col-md-3
      = f.input :cnpj, label: "CNPJ", input_html: { class: 'cnpj'}
    .col-md-3
      = f.input :modality, label: "Modalidade", as: :select, include_blank: 'Selecione...', collection: ::CplConcurrence::User.modalities.keys
  .row
    .col-md-3
      = f.input :email, label: "E-mail", placeholder: "Informe um e-mail válido"
    .col-md-3
      = f.input :email_confirmation, label: "Confirmção de e-mail", placeholder: "Confirme seu e-mail"
    .col-md-3
      = f.input :telephone, label: "Telefone (somente números)", placeholder: "Informe seu telefone "
  .row    
    .col-md-3
      = f.input :password, label: "Senha (mínimo 4 caracteres)", placeholder: "Informe uma senha"
    .col-md-3
      = f.input :password_confirmation, label: "Confirmação de Senha", placeholder: "Confirme sua senha"
  %br/
  .row 
    .col-md-6
      = f.submit 'Realizar cadastro', class: 'btn btn-success', data: { disable_with: t(:disable_with)}
      = link_to 'Cancelar', cpl_concurrence.new_session_path, class: 'btn btn-warning', data: { disable_with: t(:disable_with)}