= simple_form_for @session do |f|
  - if @session.errors.any?
    .alert.alert-danger
      %h3 
        %b Ops...
      - @session.errors.full_messages.each do |message| 
        #{message};
  .row
    .col-md-3
      = f.input :session_type, as: :select, include_blank: false, collection: CplCompetition::Session.session_types, input_html: { id: 'session_type'}
    .col-md-3#cnpj{style: (f.object.is_internal? ) ? 'display: none' : nil}
      = f.input :cnpj, input_html: { class: 'cnpj'}
    .col-md-3#cpf{style: (f.object.is_external? || f.object.session_type.nil?) ? 'display: none' : nil}
      = f.input :cpf, input_html: { class: 'cpf'}
    .col-md-3
      = f.input :password
  %hr/
  .row
    .col-md-12
      = f.submit "Realizar acesso", class: 'btn btn-success', data: { disable_with: 'aguarde...'}
      = link_to "Cancelar", cpl_competition.root_path, class: 'btn btn-dark', data: { disable_with: 'aguarde...'}

:javascript
  $("#session_type").on("change", function() {
    $("#cpf").toggle();
    $("#cnpj").toggle();
  });