.row
  .col-md-12
    %h4
      %b= @competition.title
    = link_to "Retornar para editais", cpl_competition.competitions_path, data: { disable_with: 'aguarde...'}
%hr/
.row
  .col-md-12
    .card
      .card-body
        = @competition.document_introduce.html_safe

.mt-4
.row
  .col-md-12
    .card
      .card-body
        .row
          .col-md-12
            %h5.text-center
              %b CREDENCIAMENTO
            %h6.text-center
              COMPANHIA DE DESENVOLVIMENTO HABITACIONAL DO DF - CODHAB
              %br/
              CONCORRÊNCIA Nº #{(@competition.number rescue 'sem número')}
              %br/
              %br/
              = current_user.name.mb_chars.upcase
              %br/
              = current_user.cnpj.format_cnpj
              %br/
              %br/
        - if !@user_competition.competition_user_credentials.where(deleted: false).reject(&:new_record?).present?   
          - if @competition.participation_allow?       
            .row
              .col-md-12              
                .card
                  .card-body
                    = render 'cpl_competition/competition_user_credentials/form'
        - else
          .mt-4
          .row
            .col-md-12  
              = render 'cpl_competition/competition_user_credentials/index'    

.mt-4
.row
  .col-md-12
    .card
      .card-body
        .row
          .col-md-12
            %h5.text-center
              %b ENVELOPE Nº 1
              %br/
            %h6.text-center
              DOCUMENTOS DE HABILITAÇÃO
              %br/
              COMPANHIA DE DESENVOLVIMENTO HABITACIONAL DO DF - CODHAB
              %br/
              CONCORRÊNCIA Nº #{(@competition.number rescue 'sem número')}
              %br/
              %br/
              = current_user.name.mb_chars.upcase
              %br/
              = current_user.cnpj.format_cnpj
              %br/
              %br/
        - if @user_competition.competition_user_credentials.where(deleted: false).reject(&:new_record?).present?              
          - if @competition.participation_allow? 
            .row
              .col-md-12              
                .card
                  .card-body
                    = render 'cpl_competition/competition_user_documents/form'
          .mt-4
          .row
            .col-md-12  
              = render 'cpl_competition/competition_user_documents/index'
        - else
          .row
            .col-md-12
              .text-center
                %i O envio de arquivos para o Envelope 1 é liberado após a realização do credenciamento.        

.mt-4
.row
  .col-md-12
    .card
      .card-body
        .row
          .col-md-12
            %h5.text-center
              %b ENVELOPE Nº 2
              %br/
            %h6.text-center
              PROPOSTAS DE PREÇOS
              %br/
              COMPANHIA DE DESENVOLVIMENTO HABITACIONAL DO DF - CODHAB
              %br/
              CONCORRÊNCIA Nº #{(@competition.number rescue 'sem número')}
              %br/
              %br/
              = current_user.name.mb_chars.upcase
              %br/
              = current_user.cnpj.format_cnpj
              %br/
              %br/

        - if @user_competition.competition_user_credentials.where(deleted: false).reject(&:new_record?).present?
          - if @competition.participation_allow?
            .row
              .col-md-12              
                .card
                  .card-body
                    = render 'cpl_competition/competition_user_proposals/form'

          .mt-4
          .row
            .col-md-12  
              = render 'cpl_competition/competition_user_proposals/index'
        - else
          .row
            .col-md-12
              .text-center
                %i O envio de arquivos para o Envelope 2 é liberado após a realização do credenciamento.

.mt-4
.row
  .col-md-12
    .card
      .card-body
        %h5.text-center
          %b HISTÓRICO DE PARTICIPAÇÃO

        .mt-4
        .row
          .col-md-12  
            %table.table.table-striped.table-celled.table-bordered
              %thead
                %tr
                  %td Data/Hora
                  %td Conteúdo
              %tbody
                - @user_competition.competition_user_logs.order(created_at: :desc).each do |log|
                  %tr
                    %td= log.created_at.strftime("%d/%m/%Y %H:%M")
                    %td= log.content