= simple_form_for url_for do |f| 
  = f.input :cep
  = f.input :complete_address
  = f.input :cpf, null: false
  = f.input :name
  = f.input :rg
  = f.input :naturality
  = f.input :civil_state_id
  = f.input :income
  = f.input :habitation_type_id
  = f.input :spouse_name
  = f.input :spouse_rg
  = f.input :spouse_cpf
  = f.input :spouse_job
  = f.input :spouse_income
  = f.input :phone
  = f.input :email
  = f.input :document_rg
  = f.input :document_cpf
  = f.input :document_civil_state
  = f.input :document_income
  = f.input :document_spouse_income
  = f.input :document_spouse_rg
  = f.input :document_spouse_cpf
  = f.input :document_occupation_time
  = f.input :photo_unit_one
  = f.input :photo_unit_two
  = f.input :photo_unit_three
  = f.input :photo_unit_front
  = f.input :photo_unit_inside_one
  = f.input :photo_unit_inside_two
  = f.input :document_address
  = f.input :document_iptu
  = f.input :document_onus
  = f.input :declaration_occupation
  = f.input :declaration_occupation_one
  = f.input :declaration_occupation_two
  = f.input :declaration_negative
  = f.input :declaration_descriptive
  = f.input :declaration_pacific
  = f.input :declaration_informal_activity
  = f.input :declaration_informal_activity_value
  = f.input :declaration_stable_union
  = f.input :declaration_spouse_pacific
  = f.input :declaration_spouse_informal_activity
  = f.input :declaration_spouse_informal_activity_value
  = f.input :declaration_unit_area

  = f.submit 'Enviar solicitação'      