.row
  .col-md-12
    .panel
      .panel-heading
        %h2
          %b Recuperar senha - Inscrição - 2020
      .panel-body
        = simple_form_for url_for, method: :post do |f|
         
          .row
            .col-md-3
              = f.input :password, as: :password, label: "Senha", placeholder: "Informe uma senha"
          .row
            .col-md-3
              = f.input :password_confirmation, as: :password, label: "Confirmação de senha", placeholder: "Informe uma senha"
          
          .row
            .col-md-3
              = f.submit "Alterar minha senha", class: 'btn btn-success btn-block'
          %br/
          .row
            .col-md-3
              = link_to "Retornar para acesso", candidate.new_session_subscribes_path, class: 'btn btn-info btn-block'