.row
  .col-md-12
    .panel
      .panel-body
        .row
          .col-md-12
            .text-center
              %h3 
                %b Parabéns. Sua inscrição foi alterada com sucesso!
              %h4 
                Para emissão ou consultar seu novo comprovante de inscrição
                %b= link_to "Clique aqui.", candidate.subscribe_consults_path 
            %br/
            %table.table.table-striped.table-borded.table-celled
              %thead
                %tr
                  %th Nome
                  %th CPF
                  %th Inscrito em
                  %th Última alteração
              %tbody
                %tr
                  %td= @cadastre.name
                  %td= @cadastre.cpf
                  %td= @cadastre.created_at.strftime("%d/%m/%Y")
                  %td= @cadastre.updated_at.strftime("%d/%m/%Y")
