.col-md-12
  .panel.panel-default
    .panel-body
      .row
        .col-md-12
          %h3
            %b Validação de Escrituras
      - if @doc.present? && !@message.present?
        .row
          .col-md-12
            %table.table.table-striped
              %tr
                %td{style: "width: 30%"}
                  %b Data do Documento
                %td{style: "width: 70%"}
                  %b Título
              %tr
                %td= @doc.allotment.data_document.strftime('%d/%m/%Y') rescue nil
                %td= @doc.allotment.template.title rescue nil
              %tr
                %td
                  %b Cidade
                %td
                  %b Endereço
              %tr
                %td= @doc.city.name rescue nil
                %td= @doc.complete_address rescue nil
              - if params[:order].present?
                %tr
                  %td
                    %b Expedido para:
                  %td
                    %b Assinado por
                %tr
                  %td
                    = @doc.name
                    %br
                    = "CPF: #{@doc.cpf.format_cpf}" rescue nil
                  %td
                    = @user rescue nil
                    %br
                    = @complement
                    %br
                    = @date
              - unless params[:order].present?
                - if @doc.allotment.main.present? && @doc.allotment.first.present? && @doc.allotment.second.present?
                  %tr
                    %td{colspan: 2}
                      %b Expedido para:
                  %tr
                    %td{colspan: 2}
                      = @doc.name
                      %br
                      = "CPF: #{@doc.cpf.format_cpf}" rescue nil
                  %tr
                    %td{colspan: 2}
                      %b Assinado por:
                  %tr
                    %td{colspan: 2}
                      = "Em #{@doc.allotment.main_authenticate_date.strftime('%d/%m/%Y - %H:%M:%S')}" rescue nil
                      %br
                      = "GILSON PARANHOS" rescue "Documento não assinado"
                      %br
                      = "Diretor-Presidente da CODHAB/DF" if @doc.allotment.main.present?
                  %tr
                    %td{colspan: 2}
                      = "Em #{@doc.allotment.first_authenticate_date.strftime('%d/%m/%Y - %H:%M:%S')}" rescue nil
                      %br
                      = @doc.allotment.first.name rescue "Documento não assinado"
                      %br
                      = @doc.allotment.first.job.name + ' - ' + @doc.allotment.first.sector_current.name rescue nil
                  %tr
                    %td{colspan: 2}
                      = "Em #{@doc.allotment.second_authenticate_date.strftime('%d/%m/%Y - %H:%M:%S')}" rescue nil
                      %br
                      = @doc.allotment.second.name rescue "Documento não assinado"
                      %br
                      = @doc.allotment.second.job.name + ' - ' + @doc.allotment.second.sector_current.name rescue nil
                  %tr
                    %td{colspan: 2}
                      = "Em #{@doc.allotment.third_authenticate_date.strftime('%d/%m/%Y - %H:%M:%S')}" rescue nil
                      %br
                      = @doc.allotment.third.name rescue "Documento não assinado"
                      %br
                      = @doc.allotment.third.curriculum rescue nil
                  %tr
                    %td{colspan: 2}
                      = "Em #{@doc.allotment.fourth_authenticate_date.strftime('%d/%m/%Y - %H:%M:%S')}" rescue nil
                      %br
                      = @doc.allotment.fourth.name rescue "Documento não assinado"
                      %br
                      = @doc.allotment.fourth.curriculum rescue nil
                  %tr
                    %td{colspan: 2}
                      = "Em #{@doc.allotment.fifth_authenticate_date.strftime('%d/%m/%Y - %H:%M:%S')}" rescue nil
                      %br
                      = @doc.allotment.fifth.name rescue "Documento não assinado"
                      %br
                      = @doc.allotment.fifth.curriculum rescue nil
      - else
        .alert.alert-warning
          = @message
