.row
  .col-md-12
    .panel
      .panel-body
        %h3
          %b Área restrita - Atendimento Externo 
        %br/
        %h4 
          #{external_attendant.name} 
          %br/ 
          CPF: (#{external_attendant.cpf})
        %br/
        = link_to "Finalizar sessão", candidate.external_attendance_session_path(external_attendant), method: :delete, class: 'btn btn-danger', data: { confirm: 'Deseja finalizar a sessão?'}
.row
  .col-md-12
    .panel
      .panel-heading
        %h3 
          %b Listagem de pré-habilitados - Total: (#{@candidates.total_entries rescue 0})
      .panel-body
 
        = simple_form_for url_for, method: :get do |f|
          .row
            .col-md-3
              = f.input :by_cpf, label: "Informe o CPF", as: :string, input_html: { class: 'cpf', name: :by_cpf, value: params[:by_cpf]}
            .col-md-3
              = f.input :by_ticket_situation, label: "Situação do atendimento", as: :select, include_blank: "Todos...", input_html: { name: :by_ticket_situation }, selected: params[:by_ticket_situation]
            .col-md-3
              = f.input :by_indication, label: "Liberado?", as: :select, include_blank: "Todos...", input_html: { name: :by_indication }, selected: params[:by_indication]
            .col-md-3
              = f.input :by_occurrence, label: "Pendência Cadastral?", as: :select, include_blank: "Todos...", input_html: { name: :by_occurrence }, selected: params[:by_occurrence]
          = f.submit "Pesquisar", name: nil, class: 'btn btn-success', data: { disable_with: 'Pesquisando...'}
          = link_to "Limpar pesquisa", candidate.external_attendance_candidates_path, class: 'btn btn-info', data: { disable_with: 'Limpando...'}
        %table.table.table-bordered.table-striped.table-celled
          %thead
            %tr
              %th Nome/CPF
              %th Situação
              %th Pendência (Atendimento)
              %th Pendência (Cadastral)
              %th App
              %th Liberação
          %tbody
            - if @candidates.present?
              - @candidates.each do |cand|
                %tr
                  %td
                    = cand.cpf.format_cpf
                    %br/ 
                    = cand.name 
                  %td
                    - if !cand.tickets.present?
                      Não iniciou
                    - else
                      - if cand.ticket.supervisor_date.nil?
                        - if cand.ticket.request
                          Devolvido ao candidato (pendência)
                        - else
                          - if cand.ticket.complete?
                            Em análise
                          - else
                            Pendente com candidato
                      - else
                        - if cand.ticket.supervisor
                          Deferido pela CODHAB
                        - else
                          Indeferido pela CODHAB
                  %td
                    - if !cand.ticket.nil? && cand.ticket.request
                      = link_to "Visualizar", candidate.external_attendance_candidate_ticket_request_path(cand.cadastre_id), class: 'btn btn-warning btn-sm', remote: true, data: { disable_with: "Carregando..."}
                    - else
                      Sem pendência
                  %td
                    - if ::Candidate::CadastreOccurrence.where(cadastre_id: cand.cadastre_id, solved: false).present? 
                      = link_to "Visualizar pendência", candidate.external_attendance_candidate_occurrence_path(cand.cadastre_id), class: 'btn btn-danger btn-sm', remote: true, data: { disable_with: "Carregando..."}
                    - else
                      Sem pendência
                  %td
                    = link_to "Visualizar APP", candidate.external_attendance_candidate_path(cand.cpf)
                  %td
                    - if ::Firm::EnterpriseCadastre.where(indication_type_id: 999, cadastre_id: cand.cadastre_id).present?
                      = link_to "Liberado", "#", class: 'btn btn-success'
                    - else
                      = link_to "Não liberado", "#", class: 'btn btn-danger btn-sm'
            - else
              %tr
                %td{colspan: 5}
                  Nenhum registro encontrado.
          %tfoot
            %tr
              %td{colspan: 4}
                = will_paginate (@candidates rescue nil), renderer: BootstrapPagination::Rails                  