.row
  .col-md-12
    .panel
      .panel-body
        %h3
          %b Área restrita - Atendimento Externo 
        %br/
        %h4 
          #{external_attendant.name} 
          %br/ 
          CPF: (#{external_attendant.cpf})
        %br/
        = link_to "Finalizar sessão", candidate.external_attendance_session_path(external_attendant), method: :delete, class: 'btn btn-danger', data: { confirm: 'Deseja finalizar a sessão?'}
.row
  .col-md-12
    .panel
      .panel-heading
        %h3 
          %b Listagem de pré-habilitados - Total: (#{@candidates.total_entries rescue 0})
      .panel-body
 
        = simple_form_for url_for, method: :get do |f|
          .row
            .col-md-4
              = f.input :by_cpf, label: "Informe o CPF", as: :string, input_html: { class: 'cpf', name: :by_cpf, value: params[:by_cpf]}
          = f.submit "Pesquisar", name: nil, class: 'btn btn-success', data: { disable_with: 'Pesquisando...'}
          = link_to "Limpar pesquisa", candidate.external_attendance_candidates_path, class: 'btn btn-info', data: { disable_with: 'Limpando...'}
        %table.table.table-bordered.table-striped.table-celled
          %thead
            %tr
              %th Nome/CPF
              %th Atendimento
              %th Situação
              %th App
          %tbody
            - if @candidates.present?
              - @candidates.each do |cand|
                %tr
                  %td
                    = cand.cpf.format_cpf
                    %br/ 
                    = cand.name 
                  %td
                    - if cand.ticket.nil?
                      Atendimento não iniciado
                    - else
                      Atendimento iniciado
                  %td
                    - if cand.ticket.nil?
                      Sem situação
                    - else
                      - if cand.ticket.supervisor_date.nil?
                        - if cand.ticket.request
                          Devolvido ao candidato (pendência)
                        - else
                          - if cand.ticket.complete?
                            Em análise
                          - else
                            Pendente com candidato
                      - else
                        - if cand.ticket.supervisor
                          Deferido pela CODHAB
                        - else
                          Indeferido pela CODHAB
                  %td
                    = link_to "Visualizar APP", candidate.external_attendance_candidate_path(cand.cpf)
            - else
              %tr
                %td{colspan: 5}
                  Nenhum registro encontrado.
          %tfoot
            %tr
              %td{colspan: 4}
                = will_paginate (@candidates rescue nil), renderer: BootstrapPagination::Rails                  