.row
  .col-md-12
    .panel
      .panel-body
        %h3
          %b Área restrita - Atendimento Externo
        %br/
        %h4 
          #{external_attendant.name} 
          %br/ 
          CPF: (#{external_attendant.cpf})
        %br/
        = link_to "Finalizar sessão", candidate.external_attendance_session_path(external_attendant), method: :delete, class: 'btn btn-danger', data: { confirm: 'Deseja finalizar a sessão?'}

.row
  .col-md-12
    .panel
      .panel-heading
        %h3
          %b Detalhamento
        %br/
        %h4 
          %b #{@candidate.name}
          %br/
          #{@candidate.cpf}
        = link_to "Retornar a listagem", candidate.external_attendance_candidates_path, class: 'btn btn-info', data: { disable_with: "Aguarde..."}

      .panel-body

        #phone_frame
          #block
            %iframe{src: "http://mobile.codhab.df.gov.br?token=#{@candidate.special_token}&external=true", samesite:'none', secure:true, sandbox:"allow-same-origin allow-forms allow-scripts allow-popups allow-form", frameborder:'0', id: "iframea", name: "iframe_a", style: "overflow:hidden; overflow-x:hidden; overflow-y:hidden; height:100%; width:100%;z-index:5;  top:0px;left:0px;right:0px;bottom:0px; -ms-touch-action: none;"}

:css
  #phone_frame {
    margin: 0 auto;
    background: url(http://extranet.codhab.df.gov.br/phone_frame.png);
    width: 500px;
    height: 1021px;
    background-position: center top;
    background-size: 100% auto;
  }

  #block {
    margin: 0 auto;
    padding-top: 105px;
    width: 457px;
    height: 923px;
    background: url(/codhabgif0.1.gif) no-repeat;
    background-repeat: no-repeat;
    background-size: 40% auto;
    background-position: center;
  }