= simple_form_for @vitoria_regularization do |f| 
  %br/
  %h4 1. Informe o endereço
  %hr/
  .row
    .col-md-12
      = f.input :unit_id, as: :select, collection: Address::Unit.where("burgh ILIKE '%Condomínio%'").order(complete_address: :asc), label_method: :complete_address, include_blank: 'Selecione o endereço'
  %h4 2. Informe os dados de identificação
  %hr/
  .row
    .col-md-3
      = f.input :cpf, input_html: { class: 'cpf' }
    .col-md-9
      = f.input :name, placeholder: 'Informe seu nome completo'
  .row
    .col-md-2
      = f.input :rg, placeholder: "Informe seu RG"
    .col-md-2
      = f.input :born, as: :string, input_html: { class: 'date', value: f.object.born.present? ? f.object.born.strftime("%d/%m/%Y") : nil }
    .col-md-4
      = f.input :naturality, placeholder: "Informe sua naturalidade"
    .col-md-2
      = f.input :civil_state_id, as: :select, collection: Core::Candidate::CivilState.all, include_blank: 'Selecione...', input_html: { id: 'civil_state'}
    .col-md-2
      = f.input :income, as: :string, input_html: { class: 'money-br'}
  .spouse{style: "display: #{[2,7].include?(f.object.civil_state_id) ? 'block' : 'none'}"}
    %br/
    %h4 2.1 Informe os dados do cônjuge
    %hr/  
    .row
      .col-md-3
        = f.input :spouse_cpf, input_html: { class: 'cpf'}
      .col-md-9
        = f.input :spouse_name, placeholder: "Informe o nome completo"
    .row
      .col-md-2
        = f.input :spouse_rg, placeholder: "Informe o RG"
      .col-md-2
        = f.input :spouse_born, as: :string, input_html: { class: 'date', value: f.object.spouse_born.present? ? f.object.spouse_born.strftime("%d/%m/%Y") : nil }
      .col-md-3
        = f.input :spouse_job, placeholder: "Informe a profissão"
      .col-md-3
        = f.input :spouse_income, as: :string, input_html: { class: 'money-br'}

  %br/
  %h4 3. Informe dados de contato
  %hr/
  .row
    .col-md-3
      = f.input :phone, placeholder: "Informe o número"
    .col-md-3
      = f.input :phone_secondary, placeholder: "Informe o número"
    .col-md-3
      = f.input :email, placeholder: "Informe um e-mail"
  
  %br/
  %h4 4. Características da moradia
  %hr/
  .row
    .col-md-12
      = f.label :unit_characterist
  .row
    .col-md-2
      = f.input :unit_characterist, label: false, as: :select, collection: Regularization::VitoriaRegularization.unit_characterists.map {|k,v| [k.humanize, k]}, include_blank: 'Selecione...'

  .row
    .col-md-12
      = f.label :unit_characterist_occupation
    .col-md-2
      = f.input :unit_characterist_occupation, label: false, as: :select, collection: Regularization::VitoriaRegularization.unit_characterist_occupations.map {|k,v| [k.humanize, k]}, include_blank: 'Selecione...' 

  .row
    .col-md-12
      = f.label :unit_characterist_edification 
    .col-md-2
      = f.input :unit_characterist_edification, label: false, as: :select, collection: Regularization::VitoriaRegularization.unit_characterist_edifications.map {|k,v| [k.humanize, k]}, include_blank: 'Selecione...' 
      
  .row
    .col-md-12
      = f.label :unit_characterist_room 
    .col-md-2
      = f.input :unit_characterist_room, label: false, as: :select, collection: Regularization::VitoriaRegularization.unit_characterist_rooms.map {|k,v| [k.humanize, k]}, include_blank: 'Selecione...' 
      
  .row
    .col-md-12
      = f.label :unit_characterist_dweller 
    .col-md-2
      = f.input :unit_characterist_dweller, label: false, as: :select, collection: Regularization::VitoriaRegularization.unit_characterist_dwellers.map {|k,v| [k.humanize, k]}, include_blank: 'Selecione...' 
      
  .row
    .col-md-12
      = f.label :unit_characterist_piped_water 
    .col-md-2
      = f.input :unit_characterist_piped_water, label: false, as: :select, collection: Regularization::VitoriaRegularization.unit_characterist_piped_waters.map {|k,v| [k.humanize, k]}, include_blank: 'Selecione...' 
      
  .row
    .col-md-12
      = f.label :unit_characterist_electricity 
    .col-md-2
      = f.input :unit_characterist_electricity, label: false, as: :select, collection: Regularization::VitoriaRegularization.unit_characterist_electricities.map {|k,v| [k.humanize, k]}, include_blank: 'Selecione...' 
  .row
    .col-md-12
      = f.label :unit_characterist_sewer 
    .col-md-2
      = f.input :unit_characterist_sewer, label: false, as: :select, collection: Regularization::VitoriaRegularization.unit_characterist_sewers.map {|k,v| [k.humanize, k]}, include_blank: 'Selecione...' 

  %br/
  %h4 5. Declarações
  %hr/
  .row
    .col-md-12      
      %p
        %b DECLARAÇÃO DE OCUPAÇÃO. 
      %p Declaro para fins de regularização de lote urbano no Distrito Federal que:
  .row
    .col-md-12      
      %p Minha família é a única ocupante do imóvel que ora solicito a regularização.
  .row
    .col-md-2      
      = f.input :declaration_occupation, as: :select, include_blank: false, label: false, input_html: { id: 'declaration_occupation'}
  #declaration_occupation_quantity{style: "display: #{f.object.declaration_occupation ? 'none' : 'block'}"}
    .row
      .col-md-12  
        %p Existem outra(s) família(s) ocupando o imóvel que ora solicito a regularização. Informe a quantidade:   
    .row
      .col-md-2      
        = f.input :declaration_occupation_quantity, as: :string, label: false
  %hr/
  .row
    .col-md-12
      %p
        %b DECLARAÇÃO NEGATIVA DE PROPRIEDADE DE IMÓVEL RESIDENCIAL 
      %p
        Declaro para fins de regularização de lote urbano no Distrito Federal, que não sou proprietário (a), comprador (a), cessionário( a), usufrutuário (a) e/ou titular de direitos de imóvel residencial urbano, construído ou em construção, em todo o território do Distrito Federal.
  .row
    .col-md-2      
      = f.input :declaration_negative, as: :select, include_blank: false, label: false
  %hr/
  .row
    .col-md-12
      %p
        %b DECLARAÇÃO PARA EMISSÃO DE FICHA DESCRITIVA
      %p
        Declaro, para fazer prova junto à Companhia de Desenvolvimento Habitacional do DF, estar ciente que os custos de emolumentos cartoriais, oriundos da lavratura e registro da escritura pública por mim solicitada, fazer-se-á sob minha total responsabilidade, razão pela qual renuncio os elencados nos dispositivos previstos no (art. 213, § 15, da Lei Federal n. 6.015/73; art 31, inciso I, do Provimento n. 44, da Corregedoria Nacional de Justiça e art. 216 do Provimento Geral da Corregedoria de Justiça).      
  .row
    .col-md-2      
      = f.input :declaration_descriptive, as: :select, include_blank: false, label: false
  %hr/
  .row
    .col-md-12
      %p
        %b DECLARAÇÃO DE POSSE MANSA E PACÍFICA
      %p
        Inciso I, art. 4º, Dec. 34.210, de 13 de março de 2013.      
      %p
        Declaro que ocupo mansa e pacificamente o imóvel e que não existe demanda judicial relacionada a posse.
  .row
    .col-md-2      
      = f.input :declaration_pacific, as: :select, include_blank: false, label: false
  %hr/
  .row
    .col-md-12
      %p
        %b DECLARAÇÃO DE METRAGEM DA ÁREA DO LOTE
      %p
        Declaro, para fazer prova junto à Companhia de Desenvolvimento Habitacional do Distrito Federal - CODHAB/DF, que verifiquei na Inscrição do IPTU, na Área do Terreno, que meu lote possui a seguinte metragem:
  .row
    .col-md-2      
      = f.input :declaration_unit_area, label: false, as: :string, placeholder: "Informe a metragem em m²"
  %hr/

  .spouse{style: "display: #{[2,7].include?(f.object.civil_state_id) ? 'block' : 'none'}"}
    .row
      .col-md-12
        %p
          %b DECLARAÇÃO DE POSSE MANSA E PACÍFICA (CÔNJUGE/ COMPANHEIRO)
        %p
          Inciso I, art. 4º, Dec. 34.210, de 13 de março de 2013.      
        %p
          Declaro que ocupo mansa e pacificamente o imóvel e que não existe demanda judicial relacionada a posse. 
    .row
      .col-md-2      
        = f.input :declaration_spouse_pacific, as: :select, include_blank: false, label: false
    %hr/

  .no-spouse{style: "display: #{![2,7].include?(f.object.civil_state_id) ? 'block' : 'none'}"}
    .row
      .col-md-12
        %p
          %b DECLARAÇÃO NEGATIVA DE UNIÃO ESTÁVEL   
    .row
      .col-md-12   
        %p
          Declaro expressamente, sob-responsabilidade civil e criminal, que não mantenho relação de vida comum ou união estável com outra pessoa, nas condições dos artigos 1.723 e seguintes do Código Civil Brasileiro, Título III – “Da União Estável, permanecendo no estado civil de Solteiro (a).
    .row
      .col-md-2      
        = f.input :declaration_spouse_pacific, as: :select, include_blank: false, label: false          
    %hr/

  .spouse{style: "display: #{[7].include?(f.object.civil_state_id) ? 'block' : 'none'}"}
    .row
      .col-md-12
        %p
          %b DECLARAÇÃO DE UNIÃO ESTÁVEL
        %p
          Declaro para fazer prova junto à Companhia de Desenvolvimento Habitacional do Distrito Federal – CODHAB/DF, que VIVO EM REGIME DE UNIÃO ESTÁVEL “more uxório” com (já qualificado anteriormente).
    .row
      .col-md-2      
        = f.input :declaration_spouse_pacific, as: :select, include_blank: false, label: false
    %hr/

  .row
    .col-md-12
      %p
        %b DECLARAÇÃO DE ATIVIDADE INFORMAL (REQUERENTE)      
  .row
    .col-md-12   
      %p
        Declaro, para fazer prova junto à Companhia de Desenvolvimento Habitacional do Distrito Federal - CODHAB/DF, AUFIRO COM ATIVIDADE INFORMAL, em média, a importância de'
  .row
    .col-md-2      
      = f.input :declaration_informal_activity, as: :select, include_blank: false, label: false, input_html: { id: "activity_income"}
  .activity_income{style: "display: #{f.object.declaration_informal_activity ? 'block' : 'none'}"}
    .row
      .col-md-2      
        = f.input :declaration_informal_activity_value, as: :string, input_html: { class: 'money-br'}
  %hr/
  
  
  .spouse{style: "display: #{[2,7].include?(f.object.civil_state_id) ? 'block' : 'none'}"}
    .row
      .col-md-12
        %p
          %b DECLARAÇÃO DE ATIVIDADE INFORMAL (CÔNJUGE/COMPANHEIRO)
    .row
      .col-md-12   
        %p
          Declaro, para fazer prova junto à Companhia de Desenvolvimento Habitacional do Distrito Federal - CODHAB/DF, AUFIRO COM ATIVIDADE INFORMAL, em média, a importância de'

    .row
      .col-md-2      
        = f.input :declaration_spouse_informal_activity, label: false, as: :select, include_blank: false, include_blank: false, input_html: { id: "activity_spouse_income"}
    .activity_spouse_income{style: "display: #{f.object.declaration_spouse_informal_activity ? 'block' : 'none'}"}
      .row
        .col-md-2      
          = f.input :declaration_spouse_informal_activity_value, as: :string, input_html: { class: 'money-br'}
    %hr/ 


  .row
    .col-md-12
      %p
        %b Responsabilizo-me civil e criminalmente pela veracidade das declarações e tenho conhecimento das cominações legais existentes para falsa declaração. (Dispõe o art. 299 do Código Penal: 
        %br/
        %br/
        %b 
          %i “Omitir, em documento público ou particular, declaração que dele devia constar, ou nele inserir declaração falsa ou diversa da que devia ser escrita, com o fim de prejudicar direito, criar obrigação ou alterar a verdade sobre fato juridicamente relevante: Pena: reclusão, de 1 (um) a 5 (cinco) anos.....”). 
        %br/
        %br/
        %b As declarações a cima não feram quaisquer direitos antecipados ao interessado, nem responsabilidade para a CODHAB.      
  
  .row
    .col-md-2      
      = f.input :terms_use, as: :select, include_blank: false, label: false  
  .row
    .col-md-12
      = f.submit 'Prosseguir para o envio de documentação', class: 'btn btn-success btn-lg btn-block'
      = link_to "Cancelar", regularization.vitoria_regularizations_path, class: 'btn btn-primary btn-lg btn-block', data: { disable_with: "Aguarde..."}

:javascript
  $("#declaration_occupation").on("change", function() {
    $("#declaration_occupation_quantity").toggle();
  });

  $("#no_iptu_code").on("change", function() {
    $("#iptu_code").toggle();
  });

  $("#civil_state").on("change", function() {
    if($(this).val() == 2 || $(this).val() == 7) {
      $(".spouse").show();
      $(".no-spouse").hide();
    } else {
      $(".spouse").hide();
      $(".no-spouse").show();
    }
  })

  $("#activity_income").on("change", function() {
    $(".activity_income").toggle();
  })
  
  $("#activity_spouse_income").on("change", function() {
    $(".activity_spouse_income").toggle();
  })  