= render 'candidate/restrict_area/dashboard/sidebar'
- if !mobile_device?
  .row
    .col-md-3
      %ul.list-group
        %li.list-group-item= link_to "Página inicial", restrict_area_root_path
        %li.list-group-item= link_to "Atualizar meus dados de contato", edit_restrict_area_cadastre_path(@cadastre)
        - if @tickets_ref.present?
          %li.list-group-item= link_to "Abrir Questionamento", restrict_area_tickets_path
        %li.list-group-item= link_to "Finalizar acesso", logout_restrict_area_sessions_path, method: :delete
    .col-md-9
      .row
        .col-md-12
          .panel.panel-default
            .panel-body
              .row
                .col-md-12
                  %h2
                    %b Meus Questionamentos
                  - if !@tickets_closed.present? && @tickets_ref.present?
                    = link_to "Novo questionamento",  new_restrict_area_question_path, class: 'btn btn-success filter-button'
                  %hr
                    %table.table.table-hover
                      %thead
                        %tr
                          %th Assunto
                          %th Status
                          %th Ação
                      %tbody
                        - @tickets.each_with_index do |ticket, index|
                          %tr
                            %td
                              = ticket.subject.name rescue nil
                            %td
                              - if ticket.status === 0
                                %span.label.label-success Aberto
                              - if ticket.status === 1
                                %span.label.label-primary Em atendimento
                              - if ticket.status === 2
                                %span.label.label-danger Fechado

                            %td
                              - if ticket.status === 0 || ticket.status === 1
                                = link_to "Visualizar",question_new_restrict_area_questions_path(ticket_id: ticket.id) , class: 'btn btn-success'
                              - else
                                = link_to "Visualizar", question_closed_restrict_area_questions_path(ticket_id: ticket.id) , class: 'btn btn-success'
- else
  .row
    .col-md-3
      %ul.list-group
        %li.list-group-item= link_to "Página inicial", restrict_area_root_path
        %li.list-group-item= link_to "Atualizar meus dados de contato", edit_restrict_area_cadastre_path(@cadastre)
        - if @tickets_ref.present?
          %li.list-group-item= link_to "Abrir Questionamento", restrict_area_tickets_path
        %li.list-group-item= link_to "Finalizar acesso", logout_restrict_area_sessions_path, method: :delete
    .col-md-9
      .row
        .col-md-12
          .panel.panel-default
            .panel-body
              .row
                .col-md-12
                  %h2
                    %b Meus Questionamentos
                  - if !@tickets_closed.present? && @tickets_ref.present?
                    = link_to "Novo questionamento",  new_restrict_area_question_path, class: 'btn btn-success filter-button'
                  %hr
                    %table.table.table-hover
                      %thead
                        %tr
                          %th Assunto
                          %th Status
                          %th Ação
                      %tbody
                        - @tickets.each_with_index do |ticket, index|
                          %tr
                            %td
                              = ticket.subject.name rescue nil
                            %td
                              - if ticket.status === 0
                                %span.label.label-success Aberto
                              - if ticket.status === 1
                                %span.label.label-primary Em atendimento
                              - if ticket.status === 2
                                %span.label.label-danger Fechado

                            %td
                              - if ticket.status === 0 || ticket.status === 1
                                = link_to "Visualizar",question_new_restrict_area_questions_path(ticket_id: ticket.id) , class: 'btn btn-success'
                              - else
                                = link_to "Visualizar", question_closed_restrict_area_questions_path(ticket_id: ticket.id) , class: 'btn btn-success'
