- @enterprise_units.each do |u|
  %tr
    %td= u.current_candidate.name rescue nil
    %td= u.current_candidate.cpf.format_cpf rescue nil
    %td= u.enterprise_typology.enterprise.name rescue nil
    %td= u.complete_address
    %td= u.cep_unit
    %td= u.registration_iptu
    %td= u.area
    %td= u.situation_unit.description rescue nil
    %td
      - if u.situation_unit_id == 1
        = link_to "Reservar".html_safe, new_booking_path(unit_id: u.id), class: " btn btn-primary"
      - if  u.situation_unit_id == 6
        .btn-group
          %button.btn.btn-warning.dropdown-toggle{ type: 'button', :"data-toggle" => 'dropdown', :"aria-expanded" => 'false', :"aria-haspopup" => 'true'}
            ações
            %span.caret
          %ul.dropdown-menu
            %li= link_to "Liberar".html_safe, new_refund_path(unit_id: u.id)
            %li= link_to "Vender".html_safe, new_selling_path(unit_id: u.id)
