- if !@notice.document_open?
  = simple_form_for @participation.user_documents.where(proposal: false).new, url: user_notice_participation_documents_path(current_notice_user, @participation) do |f|
    .row
      .col-md-12
        = f.input :document_id, label: "Categoria do arquivo", as: :select, collection: {}, include_blank: false
    .row
      .col-md-12
        = f.input :document, label: "Arquivo", as: :file
        = f.hint "São permitidos arquivos (.xlsx, .xls, .doc, .docx, .zip, .7z, .rar, .jpg, .png, .pdf) de no máximo 25 Mb"
    %br/
    .row
      .col-md-12
        = f.submit "Enviar arquivo", class: 'btn btn-success btn-block', data: { disable_with: t(:disable_with)}
- else 
  %br/
  %p.text-center
    Envio de documentação já finalizou.
%table.table.table-striped.table-bordered.table-celled
  %thead
    %tr
      %th{colspan: 4} Arquivos enviados (#{@participation.user_documents.where(proposal: false).count})
    %tr
      %th.collapsing Protocolo
      %th Categoria
      %th Arquivo
      %th      
  %tbody
    - if @participation.user_documents.present?
      - @participation.user_documents.where(proposal: false).each_with_index do |doc, index|
        %tr
          %td= doc.id
          %td
            - if !doc.deleted
              Categoria
            - else
              %i Removido
          %td
            - if !doc.deleted
              = link_to "Visualizar arquivo", user_notice_participation_documents_path(current_notice_user, @participation, id: doc.document.identifier), target: '_blank' if doc.document?
            - else
              %i Arquivo removido
          - if !@notice.document_open?
            %td.collapsing
              - if !doc.deleted
                = link_to "Remover", user_notice_participation_document_path(current_notice_user, @participation, doc.id), method: :delete, class: 'btn btn-danger btn-xs', data: { confirm: "Tem certeza que deseja remover o arquivo?"}
              - else
                %i Removido
    - else
      %tr
        %td{colspan: 2}
          Nenhum arquivo enviado.