.modal-header
  %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
    %span{"aria-hidden" => "true"} ×
  %h4#modal.modal-title Detalhamento
.modal-body
  
  .h4
    %b Endereço
  %hr/
  %table.table.table-striped.table-bordered.table-celled
    %tbody
      %tr
        %td= @solicitation.address
  .h4
    %b Dados pessoais
  %hr/


  %table.table.table-striped.table-bordered.table-celled
    %thead
      %tr
        %th Nome
    %tbody
      %tr
        %td= @solicitation.name

  .row
    .col-md-12
      %table.table.table-striped.table-bordered.table-celled
        %thead
          %tr
            %th CPF
            %th RG
            %th RG (Emissão)
            %th RG ORG
            %th Estado civil
        %tbody
          %tr
            %td= @solicitation.cpf
            %td= @solicitation.rg
            %td= @solicitation.rg_emission_date.strftime("%d/%m/%Y") rescue nil
            %td= @solicitation.rg_org
            %td= @solicitation.civil_state.name rescue nil
      %table.table.table-striped.table-bordered.table-celled
        %thead
          %tr
            %th Renda
            %th Nacionalidade
        %tbody
          %tr
            %td= number_to_currency @solicitation.income
            %td= @solicitation.nationality
  .h4
    %b Dados de contato
  %hr/
  .row
    .col-md-12
      %table.table.table-striped.table-bordered.table-celled
        %thead
          %tr
            %th Telefone
            %th Celular
            %th E-mail
        %tbody
          %tr
            %td= @solicitation.contact_phone
            %td= @solicitation.contact_mobile
            %td= @solicitation.contact_email
  
  .h4
    %b Dados de cônjuge
  %hr/
  
  - if [2,7].include?(@solicitation.civil_state_id)
    .row
      .col-md-12
        %table.table.table-striped.table-bordered.table-celled
          %thead
            %tr
              %th CPF
              %th RG
              %th RG (Emissão)
              %th RG ORG
          %tbody
            %tr
              %td= @solicitation.spouse_cpf
              %td= @solicitation.spouse_rg
              %td= @solicitation.spouse_rg_emission_date.strftime("%d/%m/%Y") rescue nil
              %td= @solicitation.spouse_rg_org
  - else
    Não informado

  %br/
  %br/
  .h4
    %b Documentação
  %hr/
  %table.table.table-striped.table-bordered.table-celled
    %thead
      %tr
        %th Descrição
        %th Arquivo
    %tbody
      %tr
        %td Ultimo contracheque e cópia da carteira de trabalho. (página da foto, qualificação civil, último contrato e página seguinte)
        %td.collapsing
          - if @solicitation.income_document?
            = link_to "Visualizar arquivo", @solicitation.income_document_url, target: '_blank'
          - else
            %i Não enviado
      %tr
        %td CPF ou RG com nº de CPF, ou CNH vigente
        %td.collapsing
          - if @solicitation.cpf_document?
            = link_to "Visualizar arquivo", @solicitation.cpf_document_url, target: '_blank'
          - else
            %i Não enviado
      %tr
        %td Carteira de identidade ou CNH vigente
        %td.collapsing
          - if @solicitation.rg_document?
            = link_to "Visualizar arquivo", @solicitation.rg_document_url, target: '_blank'
          - else
            %i Não enviado        
      %tr
        %td Certidão de casamento ou de nascimento (casal quando for o caso de união estável ou se for solteiro)
        %td.collapsing
          - if @solicitation.civil_state_document?
            = link_to "Visualizar arquivo", @solicitation.civil_state_document_url, target: '_blank'
          - else
            %i Não enviado
      %tr
        %td Decisão judicial, certidão de trânsito em julgado, petição inicial, certidão de casamento averbada, certidão de óbito e formal de partilha (nos casos de divórcio e inventário envolvendo o imóvel a ser regularizado)
        %td.collapsing
          - if @solicitation.document_address?
            = link_to "Visualizar arquivo", @solicitation.document_address_url, target: '_blank'
          - else
            %i Não enviado

      %tr
        %td Inscrição do IPTU do imóvel a ser regularizado (se houver)
        %td.collapsing
          - if @solicitation.document_iptu?
            = link_to "Visualizar arquivo", @solicitation.document_iptu_url, target: '_blank'
          - else
            %i Não enviado

      %tr
        %td Cessão de Direito ou Procuração (quando for o caso)
        %td.collapsing
          - if @solicitation.document_onus?
            = link_to "Visualizar arquivo", @solicitation.document_onus_url, target: '_blank'
          - else
            %i Não enviado

      %tr
        %td (Cônjuge) RG, ou CNH vigente
        %td.collapsing
          - if @solicitation.spouse_rg_document?
            = link_to "Visualizar arquivo", @solicitation.spouse_rg_document_url, target: '_blank'
          - else
            %i Não enviado

      %tr
        %td (Cônjuge) Comprovante de CPF
        %td.collapsing
          - if @solicitation.spouse_cpf_document?
            = link_to "Visualizar arquivo", @solicitation.spouse_cpf_document_url, target: '_blank'
          - else
            %i Não enviado
                                        

  .h4
    %b Declarações
  %hr/
  
  .row
    .col-md-12
      %p
        %b DECLARAÇÃO PARA EMISSÃO DE FICHA DESCRITIVA
      %p
        Declaro, para fazer prova junto à Companhia de Desenvolvimento Habitacional do DF, estar ciente que os custos de emolumentos cartoriais, oriundos da lavratura e registro da escritura pública por mim solicitada, fazer-se-á sob minha total responsabilidade, razão pela qual renuncio os elencados nos dispositivos previstos no (art. 213, § 15, da Lei Federal n. 6.015/73; art 31, inciso I, do Provimento n. 44, da Corregedoria Nacional de Justiça e art. 216 do Provimento Geral da Corregedoria de Justiça).      
  .row
    .col-md-2
      %b= @solicitation.declaration_descriptive ? "SIM" : "NÃO"
  %hr/
  .row
    .col-md-12
      %p
        %b DECLARAÇÃO DE POSSE MANSA E PACÍFICA
      %p
        Inciso I, art. 4º, Dec. 34.210, de 13 de março de 2013.      
      %p
        Declaro que ocupo mansa e pacificamente o imóvel e que não existe demanda judicial relacionada a posse.
  .row
    .col-md-2      
      %b= @solicitation.declaration_pacific ? "SIM" : "NÃO"  
  %hr/      
  
  .row
    .col-md-12
      %p
        %b DECLARAÇÃO DE POSSE MANSA E PACÍFICA (CÔNJUGE/ COMPANHEIRO)
      %p
        Inciso I, art. 4º, Dec. 34.210, de 13 de março de 2013.      
      %p
        Declaro que ocupo mansa e pacificamente o imóvel e que não existe demanda judicial relacionada a posse. 
  .row
    .col-md-2      
      %b= @solicitation.declaration_spouse_pacific ? "SIM" : "NÃO"    
  %hr/

  .row
    .col-md-12
      %p
        %b DECLARAÇÃO DE UNIÃO ESTÁVEL
      %p
        Declaro para fazer prova junto à Companhia de Desenvolvimento Habitacional do Distrito Federal – CODHAB/DF, que VIVO EM REGIME DE UNIÃO ESTÁVEL “more uxório” com (já qualificado anteriormente).
  .row
    .col-md-2      
      %b= @solicitation.declaration_stable_union ? "SIM" : "NÃO"    
  %hr/    

  .row
    .col-md-12
      %p
        %b DECLARAÇÃO DE ATIVIDADE INFORMAL (REQUERENTE)      
  .row
    .col-md-12   
      %p
        Declaro, para fazer prova junto à Companhia de Desenvolvimento Habitacional do Distrito Federal - CODHAB/DF, AUFIRO COM ATIVIDADE INFORMAL, em média, a importância de'
  .row
    .col-md-2      
      %b= @solicitation.declaration_informal_activity ? "SIM" : "NÃO"
  .activity_income{style: "display: #{@solicitation.declaration_informal_activity ? 'block' : 'none'}"}
    .row
      .col-md-2      
        %b= @solicitation.declaration_informal_activity_value
  
  
  .spouse{style: "display: #{[2,7].include?(@solicitation.civil_state_id) ? 'block' : 'none'}"}
    .row
      .col-md-12
        %p
          %b DECLARAÇÃO DE ATIVIDADE INFORMAL (CÔNJUGE/COMPANHEIRO)
    .row
      .col-md-12   
        %p
          Declaro, para fazer prova junto à Companhia de Desenvolvimento Habitacional do Distrito Federal - CODHAB/DF, AUFIRO COM ATIVIDADE INFORMAL, em média, a importância de'

    .row
      .col-md-2      
        %b= @solicitation.declaration_spouse_informal_activity ? "SIM" : "NÃO"
    .activity_spouse_income{style: "display: #{@solicitation.declaration_spouse_informal_activity ? 'block' : 'none'}"}
      .row
        .col-md-2      
          %b= @solicitation.declaration_spouse_informal_activity_value
  %hr/ 

  .row
    .col-md-12
      %p
        %b Responsabilizo-me civil e criminalmente pela veracidade das declarações e tenho conhecimento das cominações legais existentes para falsa declaração. (Dispõe o art. 299 do Código Penal: 
        %br/
        %br/
        %b 
          %i “Omitir, em documento público ou particular, declaração que dele devia constar, ou nele inserir declaração falsa ou diversa da que devia ser escrita, com o fim de prejudicar direito, criar obrigação ou alterar a verdade sobre fato juridicamente relevante: Pena: reclusão, de 1 (um) a 5 (cinco) anos.....”). 
        %br/
        %br/
        %b As declarações a cima não feram quaisquer direitos antecipados ao interessado, nem responsabilidade para a CODHAB.      
  
  .row
    .col-md-2      
      %b= @solicitation.terms_use ? "SIM" : "NÃO"