.mini-margin.scroll_no_left
  .col-md-12
    .panel.panel-default
      .panel-body
        .row
          .col-md-12
            %h1
              %b Lista de entidades
              %br/
              %small Listagem do cadastro e situação de entidades
        %hr/
        .row
          .col-md-12
            %table.table.table-striped.table-bordered
              %tbody
                %tr
                  %td
                    %b Total listado:
                    #{@cadastres.count}
        %hr/
        .row
          .col-md-12
            = simple_form_for url_for, method: :get do |f|
              .col-md-2
                = f.input :by_cnpj, label: "CNPJ", input_html: { class: 'cnpj', name: :by_cnpj, value: params[:by_cnpj] }
              .col-md-3
                = f.input :by_name, label: "Nome", input_html: { name: :by_name, placeholder: "Digite o nome da entidade", value: params[:by_name]}
              .col-md-3
                = f.input :by_acron, label: "Sigla", input_html: { name: :by_acron, placeholder: "Digite a sigla da entidade", value: params[:by_acron]}
              .col-md-2
                = f.input :by_situation, as: :select, selected: params[:by_situation], collection: ::Entity::SituationStatus.all.order(:name), include_blank: 'Todos', label: "Situação", input_html: {name: :by_situation}

              .col-md-2
                = f.submit "Filtrar lista", name: nil, class: 'btn btn-success filter-button ', data: { disable_with: t(:disable_with)}
        %hr/
        .row
          .col-md-12
            %table.table.table-striped.table-bordered
              %thead
                %tr
                  %th Nome
                  %th Situação
              %tbody
                - @cadastres.each do |cadastre|
                  %tr
                    %td.col-md-2
                      = link_to cadastre.name.mb_chars.upcase, cadastre_path(cadastre, by_type: params[:by_type])
                      %br
                      %b Presidente: 
                      %br
                      = cadastre.current_president_name.mb_chars.upcase rescue I18n.t(:no_information)
                    %td.col-md-2= cadastre.current_situation
