.row
  .col-md-12
    .panel.panel-default
      .panel-heading
        = render 'layouts/cpl_concurrence/header'
      .panel-body
        .row
          .col-md-12
            = render 'layouts/cpl_concurrence/tabs'
        .row
          .col-md-12
            %table.table.table-striped.table-celled.table-bordered
              %thead
                %tr
                  %th Número
                  %th Edital
                  %th.collapsing Participação até
                  %th.collapsing Inicio da sessão
                  %th Situação
                  %th{colspan: 2}

              %tbody
                - @notices.each do |notice|
                  %tr
                    %td.collapsing= link_to notice.number, notice_path(notice)
                    %td= link_to notice.title, notice_path(notice)
                    %td= notice.participation_ended_at.strftime("%d/%m/%Y %H:%M")
                    %td.collapsing= notice.session_started_at.strftime("%d/%m/%Y %H:%M")
                    %td.collapsing
                    %td.collapsing
                      - user_notice = CplConcurrence::NoticeUser.where(notice_id: notice.id).find_by(user_id: current_notice_user.id)
                      = link_to "Minha participação", user_notice_participation_path(current_notice_user, user_notice)
