.row{style: 'margin-top: 10px'}
  .col-md-12
    .panel
      .panel-heading
        .row
          .col-md-12
            .text-center
              = image_tag 'logo.png', width: 100
              %h3 
                %b Comprovante de inscrição (2020)    
      .panel-body
        .row
          .col-md-12
            %h3
              %b Informações do candidato

            = link_to "Desejo alterar meus dados", candidate.new_session_subscribes_path, class: 'btn btn-primary btn-sm no-print', data: { confirm: 'Tem certeza que deseja alterar os dados?'}
            = link_to "Imprimir", "#", class: 'btn btn-success btn-sm no-print', input_html: { onclick: "window.print()"}
        .row
          .col-md-12
            %table.table.table-striped.table-bordered.table-celled
              %thead
                %tr
                  %th Data do comprovante
                  %th Inscrito em
                  %th Ùltima atualização
              %tbody
                %tr
                  %td= Time.now.strftime("%d/%m/%Y %H:%M")
                  %td= @subscribe.created_at.strftime("%d/%m/%Y %H:%M")
                  %td= @subscribe.updated_at.strftime("%d/%m/%Y %H:%M")

            %table.table.table-striped.table-bordered.table-celled
              %thead
                %tr
                  %th Declaro estar ciente de que, para participar dos programas habitacionais do Distrito Federal, em conformidade com os critérios estabelecidos na Lei nº 3.877/2006, resido no Distrito Federal há pelo menos 5 anos consecutivos, possuo renda inferior a 12 salários mínimos, não sou usufrutuário(a) de imóvel residencial do Distrito Federal e que não sou, nem nunca fui proprietário(a), promitente comprador(a) ou cessionário(a) de imóvel residencial no Distrito Federal.
              %tbody
                %tr
                  %td= @subscribe.terms_one ? 'Sim' : 'Não'


            %table.table.table-striped.table-bordered.table-celled
              %thead
                %tr
                  %th Responsabilizo-me civil e criminalmente pela veracidade dessas declarações e tenho conhecimento das penalidades existentes por falsa declaração, conforme dispõe o artigo 299 do Código Penal.
              %tbody
                %tr
                  %td= @subscribe.terms_one ? 'Sim' : 'Não'

            %table.table.table-striped.table-bordered.table-celled
              %thead
                %tr
                  %th Nome
                  %th CPF
                  %th Gênero
                  %th Data de nascimento
              %tbody
                %tr
                  %td= @subscribe.name.to_s.mb_chars.upcase
                  %td= @subscribe.cpf
                  %td= @subscribe.gender_id                  
                  %td= @subscribe.born.strftime("%d/%m/%Y") rescue nil                  

            %table.table.table-striped.table-bordered.table-celled
              %thead
                %tr
                  %th RG
                  %th Emissor RG
                  %th UF Emissor RG
                  %th Data de emissão RG
                  %th Naturalidade UF
                  %th Nacionalidade
              %tbody
                %tr
                  %td= @subscribe.rg
                  %td= @subscribe.rg_org
                  %td= @subscribe.rg_state.acronym rescue nil                  
                  %td= @subscribe.rg_emission_date.strftime("%d/%m/%Y") rescue nil                  
                  %td= @subscribe.born_state.acronym rescue nil                     
                  %td= @subscribe.nacionality                     

            %table.table.table-striped.table-bordered.table-celled
              %thead
                %tr
                  %th Nome da mãe
                  %th Data de chegada ao DF
                  %th Estado civil
                  %th Renda individual
                  %th Renda Familiar
              %tbody
                %tr
                  %td= @subscribe.mother_name.blank? ? 'Não informado'  : @subscribe.work_cep
                  %td= @subscribe.arrival_df.strftime("%d/%m/%Y") rescue nil
                  %td= @subscribe.civil_state.name rescue nil
                  %td= number_to_currency @subscribe.income rescue nil               
                  %td= number_to_currency(@subscribe.total_income)              

            %table.table.table-striped.table-bordered.table-celled
              %thead
                %tr
                  %th Possui condição especial?
                  %th Tipo de condiçãoo especial
                  %th CID
                  %th NIS
              %tbody
                %tr
                  %td= @subscribe.special_condition ? 'Sim' : 'Não'
                  %td= @subscribe.special_condition_type.name rescue 'Sem condição especial'
                  %td= @subscribe.cid
                  %td= @subscribe.nis   

            %table.table.table-striped.table-bordered.table-celled
              %thead
                %tr
                  %th Celular
                  %th Telefone
                  %th E-mail
              %tbody
                %tr
                  %td= @subscribe.celphone
                  %td= @subscribe.telephone
                  %td= @subscribe.email

            %table.table.table-striped.table-bordered.table-celled
              %thead
                %tr
                  %th CEP
                  %th UF
                  %th Cidade
                  %th Bairro
              %tbody
                %tr
                  %td= @subscribe.cep
                  %td= @subscribe.state.acronym rescue nil
                  %td= @subscribe.city.name rescue nil
                  %td= @subscribe.burgh

            %table.table.table-striped.table-bordered.table-celled
              %thead
                %tr
                  %th Endereço
                  %th Número
                  %th Complemento
              %tbody
                %tr
                  %td= @subscribe.address
                  %td= @subscribe.address_number
                  %td= @subscribe.address_complement

        .row
          .col-md-12
            %table.table.table-striped.table-bordered.table-celled
              %thead
                %tr
                  %th CEP (trabalho)
                  %th UF (trabalho)
                  %th Cidade (trabalho)
                  %th Endereço (trabalho)
              %tbody
                %tr
                  %td= @subscribe.work_cep.blank? ? 'Não informado'  : @subscribe.work_cep
                  %td= @subscribe.work_state.name rescue "Não informado"
                  %td= @subscribe.work_city.name rescue "Não informado"         
                  %td= @subscribe.work_address.blank? ? 'Não informado'  : @subscribe.work_address     
        .row
          .col-md-12
            %h3
              %b Dependentes (#{@subscribe.subscribe_dependents.count})              
        .row
          .col-md-12
            - if @subscribe.subscribe_dependents.present?

              - @subscribe.subscribe_dependents.each do |dependent|
                %table.table.table-striped.table-bordered.table-celled
                  %thead
                    %tr
                      %th Parentesco              
                      %th Nome              
                      %th CPF              
                      %th Data de nascimento
                  %tbody
                    %tr
                      %td= dependent.kinship.name.to_s.mb_chars.upcase rescue nil
                      %td= dependent.name.to_s.mb_chars.upcase
                      %td= dependent.cpf
                      %td= dependent.born.strftime("%d/%m/%Y")
                %table.table.table-striped.table-bordered.table-celled
                  %thead
                    %tr
                      %th Naturalidade UF              
                      %th Gênero   
                      %th RG           
                      %th Emissor RG 
                      %th RG UF 
                      %th Data de emissão RG 
                      %th Nacionalidade
                  %tbody
                    %tr
                      %td= dependent.born_state.name rescue nil
                      %td= dependent.gender_id
                      %td= dependent.rg
                      %td= dependent.rg_org
                      %td= dependent.rg_state.acronym rescue nil
                      %td= dependent.rg_emission_date.strftime("%d/%m/%Y")
                      %td= dependent.nacionality
                %table.table.table-striped.table-bordered.table-celled
                  %thead
                    %tr
                      %th Estado civil              
                      %th Renda
                      %th Possui condição especial?           
                      %th Tipo de condição especial
                      %th CID
                      %th NIS 
                  %tbody
                    %tr
                      %td= dependent.civil_state.name rescue nil
                      %td= number_to_currency dependent.income
                      %td= dependent.special_condition ? 'Sim' : 'Não'
                      %td= dependent.special_condition_type.name rescue 'Sem condição especial'
                      %td= dependent.cid
                      %td= dependent.nis
            - else
              Nenhum dependente cadastrado.
            
        .row{style: 'margin-top: 70px'}
          .col-md-12
            %p.text-center
              Para validação da autenticidade dos dados, acesse: http://www.codhab.df.gov.br/candidato/inscricao-comprovante, e informe o CPF do inscrito.               